<!DOCTYPE html>
<html lang="ko">
    <head>
        <%-include('../include/kor/HTNCWK00HEADMETACOMMON.ejs') %>
        <%-include('../meta-id/kor/HTNCWKD40D33W01.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSTYLE.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADFAVICON.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTLIBRARY.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTGSAP.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTLOADER.ejs') %>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                scrollEvent();
                resizeEvent();
                tabFunction();
                safetySwiper();

                subPageIntroWheel_01(); // 서브 공통 MouseWheel naviDepth3, naviDepth4
                localInteraction_04_01(); // 서브 공통 Info Interaction
                naviDepth3_Interaction_01(); // 서브 공통 naviDepth3 fixed,  naviDepth4 따라 내려옴

                contentsSubScrollEventCustom(); // 서브 공통 Section Active
            });

            function scrollEvent(){
                window.addEventListener('scroll', () => {
                    contentsSubScrollEventCustom();
                });
            }

            function resizeEvent(){
                window.addEventListener('resize', () => {
                });
            }
        </script>
    </head>
    <body class="tnc-site">
        <%-include('../include/kor/HTNCWK01HEADER.ejs') %>
        <main id="container" class="container tnc HTNCWKD40D33W01 sub">
            <h2 class="blind">컨테이너 영역</h2>
            <div class="container-inner">
                <section class="contents-section contents-section1">
                    <div class="contents-section-inner">
                        <div class="local sustainability-common" local-interaction="sustainability-01">
                            <div class="local-head design-1">
                                <div class="local-head-wrap">
                                    <div class="local-subject">
                                        <h2 class="local-name">
                                            <span class="wbr">Social</span>
                                            <span class="wbr hide">나눔경영</span>
                                        </h2>
                                    </div>
                                    <div class="local-subject">
                                        <h2 class="local-name">
                                            <span class="wbr hide">Social</span>
                                            <span class="wbr">나눔경영</span>
                                        </h2>
                                    </div>
                                    <picture class="local-figure">
                                        <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/sharing/local-mo.jpg">
                                        <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/sharing/local-pc.jpg">
                                        <img src="../../assets/images/photo/sustainability/sharing/local-pc.jpg" alt=" ">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <nav class="navi depth3">
                    <div class="navi-wrap">
                        <div class="navi-subject"><a href="#" title="현재 선택된 항목" class="navi-name">나눔경영</a></div>
                        <div class="tab-display">
                            <ul class="tab-list">
                                <li class="tab-item"><a href="#" class="tab-text">인권경영</a></li>
                                <li class="tab-item "><a href="#" class="tab-text">상생경영</a></li>
                                <li class="tab-item"><a href="#" class="tab-text">안전보건경영</a></li>
                                <li class="tab-item current"><a href="#" class="tab-text">나눔경영</a></li>
                                <li class="tab-item"><a href="#" class="tab-text">정보보안</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <section class="contents-section contents-section2">
                    <div class="contents-section-inner">
                        <div class="contents-section-head">
                            <div class="thumbnail-display design-17">
                                <div class="thumbnail-list">
                                    <div class="thumbnail-item">
                                        <div class="thumbnail-wrap">
                                            <div class="thumbnail-figure">
                                                <img class="img" src="../../assets/images/photo/sustainability/sharing/img-thumb-01.png" alt=" ">
                                            </div>
                                            <div class="thumbnail-inform">
                                                <p class="thumbnail-head">나눔경영</p>
                                                <div class="thumbnail-body">
                                                    <p class="para">
                                                        효성티앤씨는 지역사회가 실제로 필요한 것을 파악하고, 대상자를 찾아 의견을 듣고, NGO와 전문기관과 함께 중장기 전략을 수립합니다. 특히 1회성 지원에 그치지 않고 지속가능하도록 노력하며, 결과적으로는 수혜자 스스로가 자립할 수 있는 사회를 만들어 가고자 합니다.<br>
                                                        나아가 효성은 사업과 연관된 사회공헌 활동을 강화함으로써 지역사회와 상생할 수 있도록
                                                        지속적으로 노력하고 있습니다.
                                                    </p>
                                                    <p class="para">
                                                        효성티앤씨는 국내외 취약계층 지원, 문화예술 후원, 호국보훈이라는 3가지 테마를 바탕으로 사회공헌
                                                        활동을 하고 있습니다. 조현준 회장은 “기업인으로서 경영과 투자에 매진해 경제 활성화에
                                                        기여함은 물론 이웃들에게 실질적인 도움을 드릴 수 있도록 사회적 책임을 다할 것”이라고 밝히고 효성티앤씨의 사회공헌 참여 문화를 만들고 있습니다.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contents-section-body">
                            <div class="contents-article contents-article1">
                                <div class="contents-article-inner">
                                    <h3 class="title design-1 case-1 align-1 small-v2 color-1">
                                        <em class="name">나눔경영 추진체계</em>
                                    </h3>
                                    <div class="tab-display design-3">
                                        <div class="tab-wrap">
                                            <div class="tab-area">
                                                <em class="head-title large bold color-350">3대 테마</em>
                                                <p class="head-para small semi-bold color-000">사회공헌 중점 방향은 국내외 취약계층 지원,<br /> 
                                                    문화예술 후원, 호국보훈이라는 3가지 테마로<br /> 
                                                    구성되어 있습니다.</p>
                                                <div class="tab-list form-2">
                                                    <a href="javascript:void(0)" class="tab form-1 case-1 fill-2 color-2 align-5 active">
                                                        <div class="tab-inner">
                                                            <div class="text-wrap">
                                                                <span class="tab-text-title small-v1 bold color-0005">국내ㆍ외 취약계층 지원</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a href="javascript:void(0)" class="tab form-1 case-1 fill-2 color-2">
                                                        <div class="tab-inner">
                                                            <div class="text-wrap">
                                                                <span class="tab-text-title small-v1 bold color-0005">문화예술 후원</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a href="javascript:void(0)" class="tab form-1 case-1 fill-2 color-2">
                                                        <div class="tab-inner">
                                                            <div class="text-wrap">
                                                                <span class="tab-text-title small-v1 bold color-0005">호국보훈</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="board-list">
                                                <div class="board-display design-1 case-1 style-1">
                                                    <div class="board-wrap">
                                                        <div class="thumbnail-display design-22">
                                                            <div class="thumbnail-list">
                                                                <div class="thumbnail-item">
                                                                    <div class="thumbnail-wrap">
                                                                        <picture class="thumbnail-figure">
                                                                            <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/sharing/img-thumb-theme-01-mo.png">
                                                                            <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/sharing/img-thumb-theme-01.png">
                                                                            <img class="img" src="../../assets/images/photo/sustainability/sharing/img-thumb-theme-01.png" alt="아래 항목 참조">
                                                                            <div class="blind">
                                                                                <ul>
                                                                                    <li>1. No Poverty</li>
                                                                                    <li>2. Zero Hunger</li>
                                                                                    <li>3. Good Health and Well-Being</li>
                                                                                    <li>4. Quality Education</li>
                                                                                    <li>5. Gender Equality</li>
                                                                                    <li>6. Clean Water and Sanitation</li>
                                                                                    <li>10. Reduced Inequalities</li>
                                                                                    <li>11. Sustainable Cities and Communities</li>
                                                                                    <li>13. Climate Action</li>
                                                                                    <li>15. Life on Land</li>
                                                                                    <li>17. Partnerships for the Goals</li>
                                                                                    
                                                                            </ul></div>
                                                                        </picture>
                                                                        <div class="thumbnail-inform">
                                                                            <p class="thumbnail-head">국내ㆍ외 취약계층 지원</p>
                                                                            <p class="thumbnail-body">
                                                                                효성의 사회공헌 활동은 다 함께 행복한 사회를 만드는 데 보탬이 되겠다는 가치의 실천입니다.<br>
                                                                                임직원의 자발적인 참여를 통해 2013년부터 조현준 회장을 비롯한 경영진도 참여하는 효성나눔봉사단을 운영하고 있습니다. 장애어린이 재활치료 및 장애어린이 가족 후원, 취약계층 여성 취업활성화를 위한
                                                                                교육 후원, 일자리창출 사회적기업 후원, 사업장별 지역 나눔 활동 등 다양한 국내 활동을 진행하고 있습니다.<br /> 또한 베트남 무료 진료 사업 '효성미소원정대', 임직원의 베트남 해외아동 결연 사업, 아프리카 르완다 여아 보건증진 및 위생용품 지원 사업 등의 해외 활동도 진행하고 있습니다.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="board-display design-1 case-1 style-1 blind">
                                                    <div class="board-wrap">
                                                        <div class="thumbnail-display design-22">
                                                            <div class="thumbnail-list">
                                                                <div class="thumbnail-item">
                                                                    <div class="thumbnail-wrap">
                                                                        <picture class="thumbnail-figure">
                                                                            <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/sharing/img-thumb-theme-02-mo.png">
                                                                            <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/sharing/img-thumb-theme-02.png">
                                                                            <img class="img" src="../../assets/images/photo/sustainability/sharing/img-thumb-theme-02.png" alt=" ">
                                                                        </picture>
                                                                        <div class="blind">
                                                                            <ul>
                                                                                <li>4. Quality Education</li>
                                                                                <li>8. Decent Work and Econimic Growth</li>
                                                                                <li>10. Reduced Inequalities</li>
                                                                                
                                                                        </ul></div>
                                                                        <div class="thumbnail-inform">
                                                                            <p class="thumbnail-head">문화예술 후원</p>
                                                                            <p class="thumbnail-body">
                                                                                문화예술분야에 대한 후원활동은 소외계층이 예술을 누릴 기회를 제공하고 나아가 직접 예술 활동에도 참여할 수 있도록 돕는 것을 골자로 하고 있습니다.<br>
                                                                                경영진의 관심과 참여도 활발해 조현준 회장은 지정문화유산 보존 등에 힘쓰고 있는 재단법인 ‘아름지기’ 창립 멤버이자 집행위원으로 활동하고 있으며, 효성의 임직원들도 정기적으로 창덕궁 문화유산 보호 활동에 참여하고 있습니다. 장애예술가 후원, 요요마&amp;실크로드 앙상블 후원, 장애인 오케스트라 대상 티칭 클래스 개최, 임직원 문화유산 보호활동, 대학로 극단 후원 등의 활동을 하고 있습니다.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="board-display design-1 case-1 style-1 blind">
                                                    <div class="board-wrap">
                                                        <div class="thumbnail-display design-22">
                                                            <div class="thumbnail-list">
                                                                <div class="thumbnail-item">
                                                                    <div class="thumbnail-wrap">
                                                                        <picture class="thumbnail-figure">
                                                                            <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/sharing/img-thumb-theme-03-mo.png">
                                                                            <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/sharing/img-thumb-theme-03.png">
                                                                            <img class="img" src="../../assets/images/photo/sustainability/sharing/img-thumb-theme-03.png" alt=" ">
                                                                        </picture>
                                                                        <div class="blind">
                                                                            <ul>
                                                                                <li>1. No Poverty</li>
                                                                                <li>3. Good Health and Well-Being</li>
                                                                                
                                                                        </ul></div>
                                                                        <div class="thumbnail-inform">
                                                                            <p class="thumbnail-head">호국보훈</p>
                                                                            <p class="thumbnail-body">
                                                                                효성은 사회공헌 분야 중에서도 특히 국가를 위한 활동을 폭넓게 전개하고 있습니다.<br>
                                                                                이는 조홍제 선대회장의 산업보국 창업 정신을 계승한 것으로 효성그룹의 최고 경영진과 임직원들이 순국선열을 기리기 위해 국립서울현충원을 방문해 묘역 정화, 현충탑 참배 등의 활동을 펼치는 것도 이 같은 창업 정신 계승의 일환입니다. 이 밖에도 참전용사 보금자리 후원, 국가유공자 역사 유적 탐방 후원, 북한의 DMZ 지뢰 매설 도발로 전상을 입은 장병들을 위로하는 기념행사 후원, 자매결연을 맺은 육군1군단 광개토부대에 위문품 및 위문금 후원 등을 진행하고 있습니다.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contents-article contents-article2 case-1">
                                <div class="contents-article-inner">
                                    <div class="slide-display design-1">
                                        <div class="slide-list">
                                            <p class="slide-subject">주요 활동</p>
                                            <div class="slide-item case-1">
                                                <div class="slide-head swiper-wrapper">
                                                    <div class="swiper-slide">
                                                        <p class="slide-summary">
                                                            업(業)과 관련된 친환경 사회공헌</p>
                                                        <p class="para">
                                                            효성의 업과 관련된 친환경 제품을 구입, 도·군과 협력하여 농어촌 지역에 지원하고 있습니다. 효성티앤씨는 리젠 티셔츠를, 효성중공업은 태양광 발전 설비를, 효성첨단소재는 탄소섬유를 활용한 농산물 건조기를, 효성화학은 폴리케톤으로 제작한 식판을 ㈜효성과 함께 지원했습니다.
                                                        </p>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <p class="slide-summary">
                                                            베트남 꽝남성 지역사회 지원</p>
                                                        <p class="para">
                                                            효성은 2022년 사업장이 위치한 베트남 꽝남성에 유치원 건축을 지원하였습니다. 유치원 인프라 부족으로 인해 교육을 받지 못하는 아동들을 위해, 유치원 1개 동을 건설하고, 꽝남법인 임직원들이 직접 봉사활동에 참여하였습니다.
                                                        </p>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <p class="slide-summary">
                                                            해외 성평등 증진 프로그램 후원</p>
                                                        <p class="para">
                                                            효성은 르완다 여자청소년들을 위한 ‘걸스룸’ 건축 및 보건위생인식증진 활동을 진행했습니다. 르완다 기시가라, 카모니 지역 여자청소년들이 생리기간동안 위생적인 환경에서 학교생활을 할 수 있도록 생리위생관리시설을 건축하고, 지역사회 교육을 통해 여아 권리 인식 개선을 위해 노력했습니다.
                                                        </p>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <p class="slide-summary">
                                                            임직원 급여나눔 베트남 아동 후원</p>
                                                        <p class="para">
                                                            해외 아동 결연 사업은 효성 임직원들의 자발적인 급여 나눔을 통해 베트남 결연 아이들의 교육, 식수 위생, 환경 개선, 생계 지원 등에 사용하는 사회공헌 프로그램입니다. 회사의 매칭 그랜트 금액은 교실 증축, 식수 개선, 인식 개선 활동, 도서관 조성 등 결연 아동이 살고 있는 지역의 개선을 위해 사용되고 있습니다.
                                                        </p>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <p class="slide-summary">
                                                            효성나눔봉사단 임직원 봉사활동</p>
                                                        <p class="para">
                                                            효성나눔봉사단은 임직원이 자발적으로 참여하는 봉사단으로 일시적인 활동이 아닌 장기적이고 지속적인 관계를 맺어 진정성을 전달하고 있습니다. 장애,비장애 통합 보육 어린이집인 장군봉어린이집의 원아들과 매달 정기적인 활동을 진행하고 크리스마스와 같은 특별한 날에 아이들에게 선물같은 기억을 전해주기 위해 꾸준히 봉사하고 있습니다.
                                                        </p>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <p class="slide-summary">
                                                            경력보유여성 취업활성화 지원</p>
                                                        <p class="para">
                                                            정부의 일자리 창출 목표와 연계된 사업으로서 경력보유여성과 중장년층 여성의 취업을 지원하고 있습니다.
                                                        </p>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <p class="slide-summary">
                                                            굿윌스토어 효성1호점 후원</p>
                                                        <p class="para">
                                                            ‘굿윌스토어’는 취약계층을 고용하여 경제적 자립에 기여하고 기증받은 물품의 판매 수익금을 장애인 일자리 창출과 직업 교육훈련을 위해 사용합니다. 효성은 본사와 각 사업장에 굿윌스토어 기증함을 설치, 임직원들이 모은 물품을 은평구에 위치한 ‘효성1호점’에 전달하고 있습니다.
                                                        </p>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <p class="slide-summary">
                                                            6.25 참전용사 보금자리 지원</p>
                                                        <p class="para">
                                                            효성은 나라사랑 보금자리 사업을 후원하여, 2012년 첫 기탁 이후 10여년 간 국가 유공자를 대상의 주거 활동 개선 활동을 실시하고 있습니다. 무주택 참전용사 95명에게 임대주택 임대료를 지원하였으며, 총 439명의 참전용사들에게 쾌적한 주거 공간을 제공하였습니다. 2022년에는 참전용사들의 노후주택 총 9채를 건축 및 보수하였습니다. 
                                                        </p>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <p class="slide-summary">
                                                            임직원 사랑의 헌혈 나눔</p>
                                                        <p class="para">
                                                            효성은 2008년부터 ‘사랑의 헌혈’ 행사를 진행해오고 있습니다. 임직원들의 자발적 참여로 이루어지는 헌혈 행사는 본사뿐만 아니라 울산, 경북 구미, 경남 창원 등 주요 지방사업장에서도 정기적으로 실시됩니다. 임직원들이 기증한 헌혈증은 한국백혈병 소아암협회에 전달돼 백혈병, 소아암을 앓는 어린이들을 위해 사용됩니다.
                                                        </p>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <p class="slide-summary">
                                                            사랑의 친구들 후원</p>
                                                        <p class="para">
                                                            효성은 지역아동센터를 통해 저소득 한부모 가정 어린이들에게 영어 교육 기회를 제공하고 있습니다. 영어 교육 프로그램 지원, 아동센터 교사대상 평가회 및 워크숍, 장학금, 영어캠프 등을 지원합니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slide-item case-2">
                                                <div class="slide-body swiper-wrapper">
                                                    <picture class="swiper-slide">
                                                        <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-01-mo.png">
                                                        <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-01.png">
                                                        <img class="img" src="../../assets/images/photo/sustainability/sharing/img-business-slide-01.png" alt=" ">
                                                    </picture>
                                                    <picture class="swiper-slide">
                                                        <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-02-mo.png">
                                                        <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-02.png">
                                                        <img class="img" src="../../assets/images/photo/sustainability/sharing/img-business-slide-02.png" alt=" ">
                                                    </picture>
                                                    <picture class="swiper-slide">
                                                        <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-03-mo.png">
                                                        <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-03.png">
                                                        <img class="img" src="../../assets/images/photo/sustainability/sharing/img-business-slide-03.png" alt=" ">
                                                    </picture>
                                                    <picture class="swiper-slide">
                                                        <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-04-mo.png">
                                                        <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-04.png">
                                                        <img class="img" src="../../assets/images/photo/sustainability/sharing/img-business-slide-04.png" alt=" ">
                                                    </picture>
                                                    <picture class="swiper-slide">
                                                        <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-05-mo.png">
                                                        <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-05.png">
                                                        <img class="img" src="../../assets/images/photo/sustainability/sharing/img-business-slide-05.png" alt=" ">
                                                    </picture>
                                                    <picture class="swiper-slide">
                                                        <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-06-mo.png">
                                                        <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-06.png">
                                                        <img class="img" src="../../assets/images/photo/sustainability/sharing/img-business-slide-06.png" alt=" ">
                                                    </picture>
                                                    <picture class="swiper-slide">
                                                        <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-07-mo.png">
                                                        <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-07.png">
                                                        <img class="img" src="../../assets/images/photo/sustainability/sharing/img-business-slide-07.png" alt=" ">
                                                    </picture>
                                                    <picture class="swiper-slide">
                                                        <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-08-mo.png">
                                                        <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-08.png">
                                                        <img class="img" src="../../assets/images/photo/sustainability/sharing/img-business-slide-08.png" alt=" ">
                                                    </picture>
                                                    <picture class="swiper-slide">
                                                        <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-09-mo.png">
                                                        <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-09.png">
                                                        <img class="img" src="../../assets/images/photo/sustainability/sharing/img-business-slide-09.png" alt=" ">
                                                    </picture>
                                                    <picture class="swiper-slide">
                                                        <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-10-mo.png">
                                                        <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-10.png">
                                                        <img class="img" src="../../assets/images/photo/sustainability/sharing/img-business-slide-10.png" alt=" ">
                                                    </picture>
                                                </div>
                                                <div class="slide-paging">
                                                    <div class="swiper-button-next">
                                                        <div class="button-display form-1 sort-1 align-3">
                                                            <div class="button-wrap form-1">
                                                                <a href="javascript:void(0)" class="button design-1 case-6 fill-500 icon-right-arrow02">
                                                                    <span class="button-text-core">
                                                                        <span class="blind">다음</span>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="swiper-button-prev">
                                                        <div class="button-display form-1 sort-1 align-3">
                                                            <div class="button-wrap form-1">
                                                                <a href="javascript:void(0)" class="button design-1 case-6 fill-500 icon-left-arrow02">
                                                                    <span class="button-text-core">
                                                                        <span class="blind">이전</span>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="swiper-pagination"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contents-article contents-article3">
                                <div class="contents-article-inner">
                                    <h3 class="title design-1 case-1 align-1 small-v2 color-2">
                                        <em class="name">효성티앤씨㈜ 주요 활동</em>
                                    </h3>
                                    <div class="thumbnail-display design-19">
                                        <div class="thumbnail-list">
                                            <div class="thumbnail-item">
                                                <div class="thumbnail-wrap">
                                                    <picture class="thumbnail-figure">
                                                        <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/sharing/img-thumb-major-01-mo.png">
                                                        <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/sharing/img-thumb-major-01.png">
                                                        <img class="img" src="../../assets/images/photo/sustainability/sharing/img-thumb-major-01.png" alt=" ">
                                                    </picture>
                                                    <div class="thumbnail-inform">
                                                        <div class="thumbnail-head">
                                                            <p class="subject">
                                                                장애어린이 재활치료 및 형제자매 지원
                                                            </p>
                                                        </div>
                                                        <p class="thumbnail-body">
                                                            효성은 푸르메재단과 함께 장애 어린이 재활치료와 비장애 형재자매의 교육 심리치료를 지원하고 있습니다. 2022년에는 장애어린이 가족과 효성 가족이 함께하는 가족여행, 비장애형제 나들이, 장애어린이와 함께하는 연말 음악회 등을 진행하였습니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="thumbnail-item">
                                                <div class="thumbnail-wrap">
                                                    <picture class="thumbnail-figure">
                                                        <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/sharing/img-thumb-major-02-mo.png">
                                                        <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/sharing/img-thumb-major-02.png">
                                                        <img class="img" src="../../assets/images/photo/sustainability/sharing/img-thumb-major-02.png" alt=" ">
                                                    </picture>
                                                    <div class="thumbnail-inform">
                                                        <div class="thumbnail-head">
                                                            <p class="subject">
                                                                효성 나눔의 숲 운영
                                                            </p>
                                                        </div>
                                                        <p class="thumbnail-body">
                                                            효성티앤씨는 2016년 50주년을 맞아 상암 월드컵공원 내 노을공원에 &lt;효성 나눔의 숲 &gt;을 조성하여, 매년 노을공원 생태 보존 및 관리를 위한 운영비를 지원하고 있습니다. 또한 신입사원 및 승격자 봉사활동 등의 환경 정화 활동을 진행하고 있습니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="thumbnail-item">
                                                <div class="thumbnail-wrap">
                                                    <picture class="thumbnail-figure">
                                                        <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/sharing/img-thumb-major-03-mo.png">
                                                        <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/sharing/img-thumb-major-03.png">
                                                        <img class="img" src="../../assets/images/photo/sustainability/sharing/img-thumb-major-03.png" alt=" ">
                                                    </picture>
                                                    <div class="thumbnail-inform">
                                                        <div class="thumbnail-head">
                                                            <p class="subject">
                                                                베트남 효성미소원정대
                                                            </p>
                                                        </div>
                                                        <p class="thumbnail-body">
                                                            효성티앤씨는 2011년부터 베트남 호찌민시 인근 동나이성 지역에 의료봉사단 ‘미소원정대’를 파견하고 있습니다. 2020년에는 COVID-19로 인하여 의료진을 파견하지는 못했으나 10개 초등학교 교직원과 학생 약 1만6천명에게 응급처치 키트, 교본 및 양호실 침대 등의 지원과 함께 안전사고 예방인식 증진 및 안전사고 대처능력 향상을 위한 응급처치교육을 진행하였습니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contents-article contents-article4">
                                <div class="contents-article-inner">
                                    <h3 class="title design-1 case-1 align-1 small-v7 color-2">
                                        <em class="name">지역사회 나눔 활동</em>
                                    </h3>
                                    <div class="table-display design-1 case-2 align-1 type-1 accent-1">
                                        <table>
                                            <colgroup>
                                                <col>
                                                <col>
                                                <col>
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th scope="col">항목</th>
                                                    <th scope="col">사업장명</th>
                                                    <th scope="col">내용</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">산학협동 장학금 수여식 실시</th>
                                                    <td class="align-3">울산<span class="mo-only">사업장</span></td>
                                                    <td>울산대학교 학생 중 학업성적이 우수하고, 경제적 여건이 어려운 학생을 선정하여 장학금을 후원하고 있습니다.</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">1사 1촌 농번기 봉사활동</th>
                                                    <td class="align-3">울산<span class="mo-only">사업장</span></td>
                                                    <td>2005년부터 울산 온양읍 중고산 마을과 1사 1촌 협의체를 통해 매년 자매결연 마을에 필요한 내용을 협의하고 있으며, 모내기와 벼 베기 봉사활동, 
                                                        경로잔치등을 지원하고 있습니다.</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">1사 1교 봉사활동</th>
                                                    <td class="align-3">울산<span class="mo-only">사업장</span></td>
                                                    <td>울산 소재 장생포 초등학교를 방문하여 학교 내외의 수목 조경과 시설물을 보완하는 등 임직원 봉사활동을 실시하였으며, 야외학습 시 차량을 제공하여 
                                                        학습 활동을 지원하고 있습니다.</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2021 사랑의 김장김치나누기 및 
                                                        경북사회복지공동모금회 후원</th>
                                                    <td class="align-3">구미<span class="mo-only">사업장</span></td>
                                                    <td>구미공장은 2010년부터 2019년까지 임직원 100여 명이 직접 김장을 담그고 전달하는 행사를 지속 실시하였으나, COVID-19으로 인해 2020년, 2021년은 
                                                        김장김치를 구입하여 지역사회에 전달하는 활동으로 변경하여 실시하고 있습니다. 2021년에는 사랑의 김장김치 2,000포기를 기부해 지역사회 나눔을 
                                                        실천하였습니다. 2021년에는 사랑의 김장김치 2,000포기를 기부해 지역사회 나눔을 실천하였습니다.또한 구미시가 주관하는 '희망2022 사랑의 열매'에 김장 
                                                        나눔 2,000포기 성품 및 성금 1,700만 원 총 3,300만 원을 경북사회복지공동모금회에 기부하였습니다.</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">구미 초록우산어린이재단 
                                                        산타원정대</th>
                                                    <td class="align-3">구미<span class="mo-only">사업장</span></td>
                                                    <td>구미공장은 매년 연말, 초록우산어린이재단과 함께 지역 아동센터에 방문하여 경제적 어려움이나 부모의 부재로 인해 따스한 연말을 보내지 못하는 아이들에게 
                                                        선물을 전달하고 함께 시간을 보내며 아동의 정서적 지지를 돕는 '산타원정대' 활동을 지속 실시하였습니다. 2021년에는 COVID-19으로 인하여 구미시 10개소 
                                                        아동센터에 비대면으로 후원금 1,000만 원을 전달하여 아이들에게 다양한 선물이 전달될 수 있도록 지원하였습니다.</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="contents-article contents-article5">
                                <div class="contents-article-inner">
                                    <h3 class="title design-1 case-1 align-3 small-v2 color-1">
                                        <em class="name">사회공헌 수상내역</em>
                                    </h3>
                                    <div class="thumbnail-display design-20">
                                        <div class="thumbnail-list">
                                            <div class="thumbnail-item">
                                                <div class="thumbnail-wrap">
                                                    <div class="thumbnail-figure">
                                                        <img class="img" src="../../assets/images/photo/sustainability/sharing/img-thumb-award-01.png" alt=" ">
                                                    </div>
                                                    <div class="thumbnail-inform">
                                                        <div class="thumbnail-head">
                                                            <p class="subject">문화예술후원 우수기관</p>
                                                        </div>
                                                        <p class="thumbnail-body">
                                                            문화예술후원 우수기관은 문화예술분야 후원활동을 촉진하거나 모범적으로 수행하는 단체와 기업을 인증하는 제도입니다. 효성은 2015년부터 문화체육관광부로부터 문화예술후원 우수기관으로 인증받고 있습니다. 대학로 극단 연우무대 후원, 창덕궁 문화유산 보호활동, 폭력예방 뮤지컬 제작 지원 등 문화예술분야를 지속해서 지원해 온 성과를 인정받고 있습니다.
                                                        </p>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="thumbnail-item">
                                                <div class="thumbnail-wrap">
                                                    <div class="thumbnail-figure">
                                                        <img class="img" src="../../assets/images/photo/sustainability/sharing/img-thumb-award-02.png" alt=" ">
                                                    </div>
                                                    <div class="thumbnail-inform">
                                                        <div class="thumbnail-head">
                                                            <p class="subject">문화재 지킴이 기업</p>
                                                        </div>
                                                        <p class="thumbnail-body">
                                                            효성은 2018년부터 문화재 지킴이 기업으로 위촉되어 아름다운 우리 문화재의 보존과 정화를 위해 노력해왔습니다. 2021년에는 재단법인 아름지기와 함께 창덕궁 대조전과 희정당 내 조명과 인테리어 복구 프로젝트를 진행한 공로를 인정받아 문화재 사회공헌 우수기업에 선정되었습니다.
                                                        </p>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="thumbnail-item">
                                                <div class="thumbnail-wrap">
                                                    <div class="thumbnail-figure">
                                                        <img class="img" src="../../assets/images/photo/sustainability/sharing/img-thumb-award-03.png" alt=" ">
                                                    </div>
                                                    <div class="thumbnail-inform">
                                                        <div class="thumbnail-head">
                                                            <p class="subject">보훈문화상</p>
                                                        </div>
                                                        <p class="thumbnail-body">
                                                            효성은 2021년 국가보훈처에서 주는 보훈문화상을 기업 단독 수상했습니다. 2012년부터 국가유공자를 대상으로 주거활동을 개선하는 나라사랑 보금자리 사업을 후원하고, COVID-19으로 대면활동에 제약이 생긴 고령의 독거 국가유공자분들께 AI돌봄로봇을 지원하는 등의 공로를 인정받아 선정되었습니다.
                                                        </p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        <%-include('../include/kor/HTNCWK03FOOTER.ejs') %>
    </body>
</html>