<!DOCTYPE html>
<html lang="ko">
    <head>
        <%-include('../include/kor/HTNCWK00HEADMETACOMMON.ejs') %>
        <%-include('../meta-id/kor/HTNCWKD40D51W01.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSTYLE.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADFAVICON.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTLIBRARY.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTGSAP.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTLOADER.ejs') %>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                scrollEvent();
                resizeEvent();

                subPageIntroWheel_02(); // 서브 공통 MouseWheel naviDepth3, naviDepth4
                localInteraction_04_01(); // 서브 공통 Info Interaction
                naviDepth3_Interaction_01(); // 서브 공통 naviDepth3 fixed,  naviDepth4 따라 내려옴

                contentsSubScrollEventCustom(); // 서브 공통 Section Active
            });

            function scrollEvent(){
                window.addEventListener('scroll', () => {
                    contentsSubScrollEventCustom();
                });
            }

            function resizeEvent(){
                window.addEventListener('resize', () => {
                });
            }
        </script>
    </head>
    <body class="tnc-site">
        <%-include('../include/kor/HTNCWK01HEADER.ejs') %>
        <main id="container" class="container tnc HTNCWKD40D51W01 sub">
            <h2 class="blind">컨테이너 영역</h2>
            <div class="container-inner">
                <section class="contents-section contents-section1">
                    <div class="contents-section-inner">
                        <div class="local sustainability-common" local-interaction="sustainability-01">
                            <div class="local-head design-1">
                                <div class="local-head-wrap">
                                    <div class="local-subject">
                                        <h2 class="local-name ko">
                                            <span class="wbr">인증서</span>
                                            <span class="wbr hide">안전보건</span>
                                        </h2>
                                    </div>
                                    <div class="local-subject">
                                        <h2 class="local-name ko">
                                            <span class="wbr hide">인증서</span>
                                            <span class="wbr">안전보건</span>
                                        </h2>
                                    </div>
                                    <picture class="local-figure">
                                        <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/health/local-mo.jpg">
                                        <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/health/local-pc.jpg">
                                        <img src="../../assets/images/photo/sustainability/health/local-pc.jpg" alt=" ">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <nav class="navi depth3">
                    <div class="navi-wrap">
                        <div class="navi-subject"><a href="#" title="현재 선택된 항목" class="navi-name">안전보건</a></div>
                        <div class="tab-display">
                            <ul class="tab-list">
                                <li class="tab-item " title="현재 선택된 항목"><a href="#" class="tab-text">환경</a></li>
                                <li class="tab-item current"><a href="#" class="tab-text">안전보건</a></li>
                                <li class="tab-item"><a href="#" class="tab-text">품질</a></li>
                                <li class="tab-item"><a href="#" class="tab-text">기타</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <section class="contents-section contents-section2">
                    <div class="contents-section-inner">
                        <div class="contents-section-head"></div>
                        <div class="contents-section-body">
                            <div class="contents-article contents-article1">
                                <div class="thumbnail-display design-25">
                                    <div class="thumbnail-list">
                                        <div class="thumbnail-item">
                                            <div class="thumbnail-wrap">
                                                <div class="thumbnail-head">
                                                    <p class="subject en">ISO</p>
                                                    <p class="summary">International Organization for Standardization</p>
                                                </div>
                                                <div class="thumbnail-figure">
                                                    <img class="img" src="../../assets/images/photo/sustainability/certificate/img-thumb-01.jpg" alt="ISO International Organization for Standardization">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="contents-article-inner">
                                    <div class="data-display design-1 case-5 color-2">
                                        <ul class="data-list">
                                            <li class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-body">
                                                        <p class="data-para">
                                                            ISO (International Organization for Standardization, 국제표준화기구)는 서비스 재화에 관련된 제반 설비와 활동의 표준화를 통하여 국제교역을 촉진하고, 기술, 과학 경제활동 분야에서 세계 상호 간의 협력 증진을 하기 위한 목적으로 설립된 국제기구입니다.
                                                        </p>
                                                        <p class="data-para">
                                                            ISO에서 발행하는 ISO 45001 인증은 사업장에서 발생할 수 있는 각종 위험을 사전 예측 및 예방하여 궁극적으로 기업의 이윤창출에 기여하고 조직의 안전보건을 체계적으로 관리하기 위한 요구사항을 규정한 국제표준입니다.
                                                        </p>
                                                        <p class="data-para">
                                                            효성티앤씨는 최신 버전인 ISO 45001:2018에 대해 구미사업장을 대상으로 취득하였으며, 점진적으로 국내 전사업장까지 확대할 예정입니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="table-display design-1 case-1 align-3">
                                        <table>
                                            <colgroup>
                                                <col>
                                                <col>
                                                <col>
                                                <col>
                                                <col>
                                                <col>
                                                <col class="view-pc">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th scope="col">인증기관</th>
                                                    <th scope="col">인증서명</th>
                                                    <th scope="col">사업장</th>
                                                    <th scope="col">국가</th>
                                                    <th scope="col">인증만료일</th>
                                                    <th scope="col">비고</th>
                                                    <th scope="col" class="view-pc">인증서 다운로드</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td rowspan="4">한국품질재단</td>
                                                    <td rowspan="4">ISO 45001:2018<br /> (안전보건 경영시스템)</td>
                                                    <td>본사</td>
                                                    <td>대한민국</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td rowspan="4" class="view-pc">
                                                        <div class="button-display form-1 sort-1 align-3">
                                                            <div class="button-wrap form-1">
                                                                <a href="javascript:void(0)" class="button design-2 case-1 medium color-600 color-3 rtl icon-down-arrow01">
                                                                    <span class="button-text-core">다운로드</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>구미</td>
                                                    <td>대한민국</td>
                                                    <td>2025-03-16</td>
                                                    <td>스판덱스, 나일론</td>
                                                </tr>
                                                <tr>
                                                    <td>울산</td>
                                                    <td>대한민국</td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>대구</td>
                                                    <td>대한민국</td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="button-display form-1 sort-1 align-3">
                                        <div class="button-wrap form-1">
                                            <a href="javascript:void(0)" class="button design-1 case-3 medium align-4 color-1 fill-800 rtl icon-down-arrow01">
                                                <span class="button-text-core">인증서 다운로드</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        <%-include('../include/kor/HTNCWK03FOOTER.ejs') %>
    </body>
</html>