<!DOCTYPE html>
<html lang="ko">
    <head>
        <%-include('../include/kor/HTNCWK00HEADMETACOMMON.ejs') %>
        <%-include('../meta-id/kor/HTNCWKD40D42W02.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSTYLE.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADFAVICON.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTLIBRARY.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTGSAP.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTLOADER.ejs') %>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                scrollEvent();
                resizeEvent();

                subPageIntroWheel_02(); // 서브 공통 MouseWheel naviDepth3, naviDepth4
                localInteraction_04_01(); // 서브 공통 Info Interaction
                naviDepth3_Interaction_02(); // 서브 공통 naviDepth3 fixed,  naviDepth4 따라 내려옴

                contentsSubScrollEventCustom(); // 서브 공통 Section Active
            });

            function scrollEvent(){
                window.addEventListener('scroll', () => {
                    contentsSubScrollEventCustom();
                });
            }

            function resizeEvent(){
                window.addEventListener('resize', () => {
                });
            }
        </script>
    </head>
    <body class="tnc-site">
        <%-include('../include/kor/HTNCWK01HEADER.ejs') %>
        <main id="container" class="container tnc HTNCWKD40D42W02 sub">
            <h2 class="blind">컨테이너 영역</h2>
            <div class="container-inner">
                <section class="contents-section contents-section1">
                    <div class="contents-section-inner">
                        <div class="local sustainability-common" local-interaction="sustainability-01">
                            <div class="local-head design-1">
                                <div class="local-head-wrap">
                                    <div class="local-subject">
                                        <h2 class="local-name">
                                            <span class="wbr">Governance</span>
                                            <span class="wbr hide">윤리경영</span>
                                        </h2>
                                    </div>
                                    <div class="local-subject">
                                        <h2 class="local-name">
                                            <span class="wbr hide">Governance</span>
                                            <span class="wbr">윤리경영</span>
                                        </h2>
                                    </div>
                                    <picture class="local-figure">
                                        <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/ethical/local-mo.jpg">
                                        <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/ethical/local-pc.jpg">
                                        <img src="../../assets/images/photo/sustainability/ethical/local-pc.jpg" alt=" ">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <nav class="navi depth3">
                    <div class="navi-wrap">
                        <div class="navi-subject"><a href="#" title="현재 선택된 항목" class="navi-name">윤리경영</a></div>
                        <div class="tab-display">
                            <ul class="tab-list">
                                <li class="tab-item current" title="현재 선택된 항목"><a href="#" class="tab-text">윤리경영</a></li>
                                <li class="tab-item"><a href="#" class="tab-text">리스크 관리</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <nav class="navi depth4">
                    <div class="navi-wrap">
                        <div class="navi-subject"><a href="#" title="현재 선택된 항목" class="navi-name">윤리경영</a></div>
                        <div class="tab-display navi-swiper">
                            <ul class="tab-list swiper-wrapper">
                                <li class="tab-item swiper-slide"><a href="#" class="tab-text">윤리강령</a></li>
                                <li class="tab-item swiper-slide"><a href="#" class="tab-text">제보센터</a></li>
                                <li class="tab-item current swiper-slide" title="현재 선택된 항목"><a href="#" class="tab-text">제보확인하기</a></li>
                            </ul>
                        </div>
                        <script>
                            const naviSwiper = new Swiper(".navi-swiper", {
                                slidesPerView: 'auto',
                                freeMode: true,
                            });
                        </script>
                    </div>
                </nav>
                <section class="contents-section contents-section2">
                    <div class="contents-section-inner">
                        <div class="contents-section-head">
                            <h4 class="title design-1 case-1 align-4 small-v10 color-2">
                                <em class="name">익명제보<br class="br-mo" /> 조치내용 확인</em>
                            </h4>
                            <div class="data-display design-1 case-7 color-2 align-3">
                                <ul class="data-list">
                                    <li class="data-item">
                                        <div class="data-wrap">
                                            <div class="data-body">
                                                <p class="data-para">
                                                    윤리경영 실현을 위해 운영하고 있는 제보 시스템입니다.
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="contents-section-body">
                            <div class="contents-article contents-article1">
                                <div class="contents-article-inner">
                                    <div class="data-display design-4 case-1">
                                        <div class="data-list">
                                            <div class="data-item">
                                                <h3 class="title design-1 case-1 align-1 small-v3 color-2">
                                                    <em class="name">제보대상자</em>
                                                </h3>
                                                <div class="submit-display design-1">
                                                    <div class="form-list case-2">
                                                        <div class="form-item">
                                                            <div class="form-wrap">
                                                                <div class="form-head">
                                                                    <label for="dataType" class="form-name">제보대상유형
                                                                        <span class="required">*</span>
                                                                    </label>
                                                                </div>
                                                                <div class="form-body">
                                                                    <div class="form-area">
                                                                        <span class="form design-1 case-1">
                                                                            <input id="text" class="text" type="text" value="임직원" readonly="">
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-item">
                                                            <div class="form-wrap">
                                                                <div class="form-head">
                                                                    <label for="dataType" class="form-name">제보대상자</label>
                                                                </div>
                                                                <div class="form-body">
                                                                    <div class="form-area">
                                                                        <span class="form design-1 case-1">
                                                                            <input id="text" class="text" type="text" value="홍길동" readonly="">
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-item">
                                                            <div class="form-wrap">
                                                                <div class="form-head">
                                                                    <label for="dataType" class="form-name">부서/업무</label>
                                                                </div>
                                                                <div class="form-body">
                                                                    <div class="form-area">
                                                                        <span class="form design-1 case-1">
                                                                            <input id="text" class="text" type="text" value="구매" readonly="">
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-item">
                                                            <div class="form-wrap">
                                                                <div class="form-head">
                                                                    <label for="dataType" class="form-name">사건의 주요내용 (기타)</label>
                                                                </div>
                                                                <div class="form-body">
                                                                    <div class="form-area">
                                                                        <span class="form design-1 case-1">
                                                                            <input id="text" class="text" type="text" value="거래계약 위반" readonly="">
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                            <div class="data-item">
                                                <h3 class="title design-1 case-1 align-1 small-v3 color-2">
                                                    <em class="name">제보 내역</em>
                                                </h3>
                                                <div class="submit-display design-1">
                                                    <div class="form-list case-1">
                                                        <div class="form-item">
                                                            <div class="form-wrap">
                                                                <div class="form-head">
                                                                    <label for="dataType" class="form-name">제목</label>
                                                                </div>
                                                                <div class="form-body">
                                                                    <div class="form-area">
                                                                        <span class="form design-1 case-2">
                                                                            <input id="text" class="text" type="text" value="거래계약 위반관련 신고입니다." readonly="">
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-list case-1">
                                                        <div class="form-item">
                                                            <div class="form-wrap">
                                                                <div class="form-head">
                                                                    <label for="dataType" class="form-name">내용<span class="required">*</span>
                                                                    </label>
                                                                </div>
                                                                <div class="form-body">
                                                                    <div class="form-area">
                                                                        <span class="form design-1 case-1">
                                                                            <textarea class="textarea" id="purps" value="" readonly="">거래계약 위반관련 신고입니다.</textarea>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-item">
                                                            <div class="form-wrap">
                                                                <div class="form-head">
                                                                    <label for="dataType" class="form-name">첨부파일<span class="required">*</span>
                                                                    </label>
                                                                </div>
                                                                <div class="form-body">
                                                                    <div class="form-area">
                                                                        <span class="form design-1 case-1">
                                                                            <input class="text" id="text" type="text" value="첨부사진.jpg" readonly="" style="color:#4B84F0; text-decoration-line: underline; cursor: pointer;">
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-list case-2">
                                                        <div class="form-item">
                                                            <div class="form-wrap">
                                                                <div class="form-head">
                                                                    <label for="dataType" class="form-name">소속회사와의 관계
                                                                    </label>
                                                                </div>
                                                                <div class="form-body">
                                                                    <div class="form-area">
                                                                        <span class="form design-1 case-1">
                                                                            <input class="text" id="text" type="text" value="임직원" readonly="">
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-item">
                                                            <div class="form-wrap">
                                                                <div class="form-head">
                                                                    <label for="dataType" class="form-name">제보일자
                                                                    </label>
                                                                </div>
                                                                <div class="form-body">
                                                                    <div class="form-area">
                                                                        <span class="form design-1 case-1">
                                                                            <input class="text" id="text" type="text" value="2023.03.07" readonly="">
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data-item">
                                                <h3 class="title design-1 case-1 align-1 small-v3 color-2">
                                                    <em class="name">조치 내역</em>
                                                </h3>
                                                <div class="submit-display design-1">
                                                    <div class="form-list case-2">
                                                        <div class="form-item">
                                                            <div class="form-wrap">
                                                                <div class="form-head">
                                                                    <label for="dataType" class="form-name">진행상태
                                                                    </label>
                                                                </div>
                                                                <div class="form-body">
                                                                    <div class="form-area">
                                                                        <span class="form design-1 case-1">
                                                                            <input class="text" id="text" type="text" value="조사 접수" readonly="">
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-item">
                                                            <div class="form-wrap">
                                                                <div class="form-head">
                                                                    <label for="dataType" class="form-name">조치(접수/검토)일자
                                                                    </label>
                                                                </div>
                                                                <div class="form-body">
                                                                    <div class="form-area">
                                                                        <span class="form design-1 case-1">
                                                                            <input class="text" id="text" type="text" value="2023.03.07" readonly="">
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-list case-1">
                                                        <div class="form-item">
                                                            <div class="form-wrap">
                                                                <div class="form-head">
                                                                    <label for="dataType" class="form-name">조치내용<span class="required">*</span>
                                                                    </label>
                                                                </div>
                                                                <div class="form-body">
                                                                    <div class="form-area">
                                                                        <span class="form design-1 case-1">
                                                                            <textarea class="textarea" id="purps" value="" readonly="">조치내용 입력 영역입니다.</textarea>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data-item">
                                                <div class="button-display form-1 sort-1 align-3">
                                                    <div class="button-wrap form-1">
                                                        <a href="javascript:void(0)" class="button design-1 case-9 medium align-3 fill-800 color-1">
                                                            <span class="button-text-core">확인</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        <%-include('../include/kor/HTNCWK03FOOTER.ejs') %>
    </body>
</html>