<!DOCTYPE html>
<html lang="ko">
    <head>
        <%-include('../include/kor/HTNCWK00HEADMETACOMMON.ejs') %>
        <%-include('../meta-id/kor/HTNCWKD40D30W01.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSTYLE.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADFAVICON.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTLIBRARY.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTGSAP.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTLOADER.ejs') %>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                scrollEvent();
                resizeEvent();
                
                subPageIntroWheel_01(); // 서브 공통 MouseWheel naviDepth3, naviDepth4
                localInteraction_04_01(); // 서브 공통 Info Interaction
                naviDepth3_Interaction_01(); // 서브 공통 naviDepth3 fixed,  naviDepth4 따라 내려옴

                contentsSubScrollEventCustom(); // 서브 공통 Section Active

                humanAni();
            });

            function scrollEvent(){
                window.addEventListener('scroll', () => {
                    contentsSubScrollEventCustom();
                });
            }

            function resizeEvent(){
                window.addEventListener('resize', () => {
                });
            }

            function humanAni(){
                const humanStory1 = $('.HTNCWKD40D30W01 .contents-section2 .contents-section-inner .contents-article1 .contents-article-inner');


                ScrollTrigger.matchMedia({
                    "(min-width: 1024px)": function() {
                        const humanPc = gsap.timeline({
                            scrollTrigger: {
                            id: "human",
                            trigger: humanStory1,
                            start: "-80% top",
                            end: "bottom bottom",
                            toggleActions: "play none none reverse",
                            scrub: 6,
                            // markers: true,
                            }
                        });

                        humanPc.to(humanStory1, {
                            pin: true,
                        })
                        
                        // Timeline 1 - PC
                        .addLabel("hm1")
                        .fromTo(humanStory1.find('.human-img.turn-1'), 
                            {
                                scale:0.7,
                                xPercent: -30,
                                yPercent: 50,
                                opacity: 0,
                                duration: 0.8,
                            },
                            {
                                scale:1,
                                xPercent: 0,
                                yPercent: 0,
                                opacity: 1
                            }, 'hm1'
                        )
                        .fromTo(humanStory1.find('.human-img.turn-2'), 
                            {
                                scale:0.7,
                                xPercent: 30,
                                yPercent: 50,
                                opacity: 0,
                                duration: 0.8,
                            },
                            {
                                scale:1,
                                xPercent: 0,
                                yPercent: 0,
                                opacity: 1,
                                delay: 0.1
                            }, 'hm1'
                        )
                    },
                    "(max-width: 1023px)": function() {
                        const humanMo = gsap.timeline({
                            scrollTrigger: {
                            id: "human-mo",
                            trigger: humanStory1,
                            start: "-60% top",
                            end: "top top",
                            toggleActions: "play none none reverse",
                            scrub: 7,
                            // markers: true,
                            }
                        });

                        humanMo.to(humanStory1, {
                            pin: true,
                        })
                        
                        // Timeline 1 - MO
                        .addLabel("hm1")
                        .fromTo(humanStory1.find('.human-img.turn-1'), 
                            {
                                scale:0.7,
                                xPercent: -30,
                                yPercent: 60,
                                opacity: 0,
                            },
                            {
                                scale:1,
                                xPercent: 0,
                                yPercent: 0,
                                opacity: 1,
                            }, 'hm1'
                        )
                        .fromTo(humanStory1.find('.human-img.turn-2'), 
                            {
                                scale:0.7,
                                xPercent: 30,
                                yPercent: 60,
                                opacity: 0,
                            },
                            {
                                scale:1,
                                xPercent: 0,
                                yPercent: 0,
                                opacity: 1,
                                delay: 0.1,
                            }, 'hm1'
                        )

                        // Timeline 2 - MO
                        .addLabel("hm2")
                        .to(humanStory1.find('.human-img.turn-1'), 
                            {
                                scale:0.9,
                                xPercent: -30,
                                opacity: 0.7,
                            }, 'hm2'
                        )
                        .to(humanStory1.find('.human-img.turn-2'), 
                            {
                                scale:0.9,
                                xPercent: 30,
                                opacity: 0.7,
                            }, 'hm2'
                        )
                        .fromTo(humanStory1.find('.data-display .data-body'), 
                            {
                                yPercent: 30,
                                opacity: 0,
                            },
                            {
                                yPercent: 0,
                                opacity: 1,
                            }, 'hm2'
                        )

                        .addLabel("hm3")
                        .to(humanStory1.find('.human-img.turn-1'), 
                            {
                                opacity: 0,
                                delay: 0.1
                            }, 'hm3'
                        )
                        .to(humanStory1.find('.human-img.turn-2'), 
                            {
                                opacity: 0,
                                delay: 0.1
                            }, 'hm3'
                        )
                    }
                });

                
            }
        </script>
    </head>
    <body class="tnc-site">
        <%-include('../include/kor/HTNCWK01HEADER.ejs') %>
        <main id="container" class="container tnc HTNCWKD40D30W01 sub">
            <h2 class="blind">컨테이너 영역</h2>
            <div class="container-inner">
                <section class="contents-section contents-section1">
                    <div class="contents-section-inner">
                        <div class="local sustainability-common" local-interaction="sustainability-01">
                            <div class="local-head design-1">
                                <div class="local-head-wrap">
                                    <div class="local-subject">
                                        <h2 class="local-name">
                                            <span class="wbr">Social</span>
                                            <span class="wbr hide">인권경영</span>
                                        </h2>
                                    </div>
                                    <div class="local-subject">
                                        <h2 class="local-name">
                                            <span class="wbr hide">Social</span>
                                            <span class="wbr">인권경영</span>
                                        </h2>
                                    </div>
                                    <picture class="local-figure">
                                        <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/humanrights/local-mo.jpg">
                                        <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/humanrights/local-pc.jpg">
                                        <img src="../../assets/images/photo/sustainability/humanrights/local-pc.jpg" alt=" ">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <nav class="navi depth3">
                    <div class="navi-wrap">
                        <div class="navi-subject"><a href="#" title="현재 선택된 항목" class="navi-name">인권경영</a></div>
                        <div class="tab-display">
                            <ul class="tab-list">
                                <li class="tab-item current"><a href="#" class="tab-text">인권경영</a></li>
                                <li class="tab-item"><a href="#" class="tab-text">상생경영</a></li>
                                <li class="tab-item"><a href="#" class="tab-text">안전보건경영</a></li>
                                <li class="tab-item"><a href="#" class="tab-text">나눔경영</a></li>
                                <li class="tab-item"><a href="#" class="tab-text">정보보안</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <section class="contents-section contents-section2">
                    <h3 class="blind">컨텐츠 그룹영역</h3>
                    <div class="contents-section-inner">
                        <div class="contents-section-head">
                            <div class="title-wrap">
                                <h4 class="title design-1 case-1 align-3 large-v4 color-2">
                                    <em class="name">Respect for</em>
                                </h4>
                                <h4 class="title design-1 case-1 align-3 large-v4 color-2">
                                    <em class="name">Human Rights</em>
                                </h4>
                            </div>
                            <p class="title design-1 case-1 align-3 small-v4 color-2">
                                <em class="name">인권에 대한 존중</em>
                            </p>
                        </div>
                        <div class="contents-section-body">
                            <article class="contents-article contents-article1">
                                <div class="contents-article-inner">
                                    <div class="data-display">
                                        <div class="data-head">
                                            <p class="title design-1 case-1 align-3 large color-2 turn-1">
                                                <em class="name">경영의 척추는</em>
                                            </p>
                                            <p class="title design-1 case-1 align-3 large color-2 turn-2">
                                                <em class="name">인간존중에</em>
                                            </p>
                                            <p class="title design-1 case-1 align-3 large color-2 turn-3">
                                                <em class="name">두지 않을 수 없다</em>
                                            </p>
                                            <p class="title design-1 case-1 align-3 small-v4 color-2">
                                                <em class="name">효성그룹 창업주 만우 조홍제 회장 회고록 중</em>
                                            </p>
                                        </div>
                                        <div class="data-body">
                                            <div class="text-content-area">
                                                <p class="text">
                                                    “경영의 척추는 인간존중에 두지 않을<br class="br-mo" /> 수<br class="br-pc" /> 없다는 것이 나의 관점이다.
                                                </p>
                                                <p class="text">
                                                    요즈음은 누구나 기업은 사람이 하는<br class="br-mo" /> 일<br class="br-pc" />이라 사람을 존중한다고 주장하는 시<br class="br-mo" />대로<br class="br-pc" /> 변천되어 가고 있지만, 그 내용은<br class="br-mo" /> 아직도<br class="br-pc" /> 종업원의 대우를 후하게 하거나<br class="br-mo" /> 복리후생<br class="br-pc" />을 좀더 잘 하겠다는 선을 넘<br class="br-mo" />어서지는 못<br class="br-pc" />하는 경우가 많은 것 같다.
                                                </p>
                                                <p class="text">
                                                    이 두 가지가 절대적으로 필요하다는<br class="br-mo" /> 것<br class="br-pc" />은 새삼 말할 것도 없는 일이고, 나로<br class="br-mo" />서는<br class="br-pc" /> 여기서 한 걸음 더 나아가 좀더 근<br class="br-mo" />원적인<br class="br-pc" /> 면, 즉 사람을 키우는 노력을 해<br class="br-mo" />야 참다운<br class="br-pc" /> 인간존중의 경영이라는 뜻이<br class="br-mo" />다.”
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="human-img turn-1">
                                        <img class="img" src="../../assets/images/photo/sustainability/humanrights/img-humanrights-contents-01-pc.png" alt=" ">
                                    </div>
                                    <div class="human-img turn-2">
                                        <img class="img" src="../../assets/images/photo/sustainability/humanrights/img-humanrights-contents-02-pc.png" alt=" ">
                                    </div>
                                </div>
                            </article>
                            <article class="contents-article contents-article2">
                                <div class="contents-article-inner">
                                    <div class="thumbnail-display design-13">
                                        <div class="thumbnail-list">
                                            <div class="thumbnail-item">
                                                <div class="thumbnail-wrap">
                                                    <div class="thumbnail-head">
                                                        <p class="subject">
                                                            기업은 국제적으로 선언된<br> 인권보호를 지지하고<br class="br-mo" /> 존중해야 한다.
                                                        </p>
                                                        <p class="summary">
                                                            - UNGC 제 1원칙
                                                        </p>
                                                    </div>
                                                    <div class="thumbnail-body">
                                                        <div class="thumbnail-figure">
                                                            <img class="img" src="../../assets/images/photo/sustainability/humanrights/img-thumb-01.png" alt=" ">
                                                        </div>
                                                        <div class="thumbnail-data">
                                                            <p class="para">
                                                                기업이 사회 및 환경에 미치는 영향력이 확대됨에 따라, 강제노동/아동노동 금지나 현지 주민과 소비자의 인권 보호, 환경권 및 산업안전 보장, 책임 있는 공급망 관리 및 노동권 보장과 같이 인권보호 주체로서의 기업의 인권 존중 책임은 거스를 수 없는 시대적 흐름이 되었습니다.
                                                            </p>
                                                            <p class="para">
                                                                효성티앤씨는 그룹의 창업이념 중 하나인 “인간존중”에 기반해 세계를 무대로 경영을 하는 글로벌 기업으로서, “기업은 국제적으로 선언된 인권보호를 지지하고 존중해야 한다”는 UNGC의 제 1원칙과 함께, UN 세계인권선언(The Universal Declaration of Human Rights)과 국제노동기구((International Labour Organization))에서 제시하는 핵심 협약, OECD 다국적기업 가이드라인(OECD Guidelines for Multinational Enterprises) 등 국제 인권 및 노동기준을 적극 지지하고 존중 합니다.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="contents-article contents-article3">
                                <div class="contents-article-inner">
                                    <div class="diagram-display design-1">
                                        <div class="diagram-wrap">
                                            <div class="diagram-head">
                                                <h5 class="title design-1 case-1 align-1 small-v2 color-1">
                                                    <em class="name">인권경영 추진 로드맵</em>
                                                </h5>
                                            </div>
                                            <div class="diagram-body">
                                                <picture class="picture">
                                                    <source media="(max-width: 1023px)" srcset="../../assets/images/diagram/sustainability/human/diagram-human-01-mo.svg">
                                                    <source media="(max-width: 1920px)" srcset="../../assets/images/diagram/sustainability/human/diagram-human-01-pc.svg">
                                                    <img class="img" src="../../assets/images/diagram/sustainability/human/diagram-human-01-pc.svg" alt="아래 항목 참고">
                                                </picture>
                                            </div>
                                            <div class="diagram-footer">
                                                <ul>
                                                    <li>
                                                        <div>01</div>
                                                        <em>도입기</em>
                                                        <p>인권경영 기반 마련 및 문화조성</p>
                                                    </li>
                                                    <li>
                                                        <div>02</div>
                                                        <em>성장기</em>
                                                        <p>인권경영 범위 및 수준 도화</p>
                                                    </li>
                                                    <li>
                                                        <div>소비</div>
                                                        <em>확산기</em>
                                                        <p>Maintenance For Durability </p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="data-display design-1 case-2 color-1">
                                        <ul class="data-list">
                                            <li class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-body">
                                                        <p class="data-para">
                                                            경영활동을 수행함에 있어, 인간을 중시하며, 인간으로서의 기본권리인 인권이 침해받지 않도록 관리하고 존중하는 인권경영을 효성티앤씨의 지속가능성의 중요요소로 인식하고, 사내 인권경영 정착을 위해 ▲인권경영 정책 수립 ▲인권영향평가* 실시 및 개선과제 도출 ▲제보센터 운영 등을 통해 인권경영을 시스템화 하여 상시 경영활동에 반영할 수 있도록 노력하고 있습니다.
                                                        </p>
                                                        <p class="data-para">
                                                            효성티앤씨는 사업을 영위하는 국가의 법률을 우선적으로 준수하고, 글로벌 국제규범에서 권고하는 인권친화적인 조직 문화를 만들고, 모든 협력기업까지 그 적용범위를 확대하여 공급망 전반으로 인권존중 문화를 확산해 나가고자 합니다. 이를 통해 기업의 지속가능한 성장과 함께 우리 사회에 인권 존중 문화가 확산되는데 기여할 수 있는 책임 있는 기업이 되겠습니다.
                                                        </p>
                                                    </div>
                                                    <div class="data-mean">
                                                        <span class="data-note">* 인권영향평가는 연 1회 실시하며, ESG경영 추진위원회에 결과를 보고하고 중요 사안은 이사회 보고 및 지속가능보고서를 통해 공개합니다.</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="data-display design-2 case-2 type-3">
                                        <div class="data-list">
                                            <div class="data-item">
                                                <div class="data-wrap">
                                                    <p class="data-head">관련정보</p>
                                                    <div class="data-body">
                                                        <div class="button-display form-1 sort-1 align-3">
                                                            <div class="button-wrap form-4">
                                                                <a href="javascript:void(0)" class="button design-1 case-1 medium align-3 fill-000 color-1 border-width-2">
                                                                    <span class="button-text-core">ESG 정책</span>
                                                                </a>
                                                                <a href="javascript:void(0)" class="button design-1 case-1 medium align-3 fill-000 color-1 border-width-2">
                                                                    <span class="button-text-core">제보센터</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="contents-article contents-article4">
                                <h4 class="blind">컨텐츠 영역</h4>
                                <div class="contents-article-inner">
                                    <div class="thumbnail-display design-14">
                                        <div class="thumbnail-list">
                                            <div class="thumbnail-item">
                                                <div class="thumbnail-head">
                                                    <p class="subject">
                                                        효성 인권경영
                                                    </p>
                                                    <p class="summary">
                                                        <img class="img" src="../../assets/images/photo/sustainability/humanrights/img-thumb-rule-9.png" alt="9">
                                                        <em class="name"><span class="num">9</span>대 원칙</em>
                                                    </p>
                                                </div>
                                                <div class="data-list">
                                                    <div class="data-item">
                                                        <p class="data-head">지역주민<br> 인권보호</p>
                                                    </div>
                                                    <div class="data-item">
                                                        <p class="data-head">차별금지</p>
                                                    </div>
                                                    <div class="data-item">
                                                        <p class="data-head">인도적 대우</p>
                                                    </div>
                                                    <div class="data-item">
                                                        <p class="data-head">정보 보호</p>
                                                    </div>
                                                    <div class="data-item">
                                                        <p class="data-head">산업안전 보장</p>
                                                    </div>
                                                    <div class="data-item">
                                                        <p class="data-head">근로조건 준수</p>
                                                    </div>
                                                    <div class="data-item">
                                                        <p class="data-head">강제노동 및<br> 아동노동 금지</p>
                                                    </div>
                                                    <div class="data-item">
                                                        <p class="data-head">결사의 자유</p>
                                                    </div>
                                                    <div class="data-item">
                                                        <p class="data-head">직장내<br> 괴롭힘 금지</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        <%-include('../include/kor/HTNCWK03FOOTER.ejs') %>
    </body>
</html>