<!DOCTYPE html>
<html lang="ko">
    <head>
        <%-include('../include/kor/HTNCWK00HEADMETACOMMON.ejs') %>
        <%-include('../meta-id/kor/HTNCWKD40D50W01.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSTYLE.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADFAVICON.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTLIBRARY.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTGSAP.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTLOADER.ejs') %>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                scrollEvent();
                resizeEvent();

                subPageIntroWheel_02(); // 서브 공통 MouseWheel naviDepth3, naviDepth4
                localInteraction_04_01(); // 서브 공통 Info Interaction
                naviDepth3_Interaction_01(); // 서브 공통 naviDepth3 fixed,  naviDepth4 따라 내려옴

                contentsSubScrollEventCustom(); // 서브 공통 Section Active
            });

            function scrollEvent(){
                window.addEventListener('scroll', () => {
                    contentsSubScrollEventCustom();
                });
            }

            function resizeEvent(){
                window.addEventListener('resize', () => {
                });
            }
        </script>
    </head>
    <body class="tnc-site">
        <%-include('../include/kor/HTNCWK01HEADER.ejs') %>
        <main id="container" class="container tnc HTNCWKD40D50W01 sub">
            <div class="container-inner">
                <section class="contents-section contents-section1">
                    <div class="contents-section-inner">
                        <div class="local sustainability-common" local-interaction="sustainability-01">
                            <div class="local-head design-1">
                                <div class="local-head-wrap">
                                    <div class="local-subject">
                                        <h2 class="local-name ko">
                                            <span class="wbr">인증서</span>
                                            <span class="wbr hide">환경</span>
                                        </h2>
                                    </div>
                                    <div class="local-subject">
                                        <h2 class="local-name ko">
                                            <span class="wbr hide">인증서</span>
                                            <span class="wbr">환경</span>
                                        </h2>
                                    </div>
                                    <picture class="local-figure">
                                        <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/environment/local-mo.jpg">
                                        <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/environment/local-pc.jpg">
                                        <img src="../../assets/images/photo/sustainability/environment/local-pc.jpg" alt=" ">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <nav class="navi depth3">
                    <div class="navi-wrap">
                        <div class="navi-subject"><a href="#" title="현재 선택된 항목" class="navi-name">환경</a></div>
                        <div class="tab-display">
                            <ul class="tab-list">
                                <li class="tab-item current" title="현재 선택된 항목"><a href="#" class="tab-text">환경</a></li>
                                <li class="tab-item"><a href="#" class="tab-text">안전보건</a></li>
                                <li class="tab-item"><a href="#" class="tab-text">품질</a></li>
                                <li class="tab-item"><a href="#" class="tab-text">기타</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <section class="contents-section contents-section2">
                    <div class="contents-section-inner">
                        <div class="contents-section-head"></div>
                        <div class="contents-section-body">
                            <div class="contents-article contents-article1">
                                <div class="thumbnail-display design-25">
                                    <div class="thumbnail-list">
                                        <div class="thumbnail-item">
                                            <div class="thumbnail-wrap">
                                                <div class="thumbnail-head">
                                                    <p class="subject en">ISO</p>
                                                    <p class="summary">International Organization for Standardization</p>
                                                </div>
                                                <div class="thumbnail-figure">
                                                    <img class="img" src="../../assets/images/photo/sustainability/certificate/img-thumb-01.jpg" alt="ISO International Organization for Standardization">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="contents-article-inner">
                                    <div class="data-display design-1 case-5 color-2">
                                        <ul class="data-list">
                                            <li class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-body">
                                                        <p class="data-para">
                                                            ISO (International Organization for Standardization, 국제표준화기구)는 서비스 재화에 관련된 제반 설비와 활동의 표준화를 통하여 국제교역을 촉진하고, 기술, 과학 경제활동 분야에서 세계 상호 간의 협력 증진을 하기 위한 목적으로 설립된 국제기구입니다.
                                                        </p>
                                                        <p class="data-para">
                                                            ISO 14001 인증은 모든 산업 분야 및 활동에 적용할 수 있는 환경경영시스템에 관한 국제규격으로, 기업은 환경경영시스템을 통해 환경측면을 체계적으로 식별, 평가, 관리 및 개선함으로써 환경위험성을 효율적으로 관리할 수 있습니다.
                                                        </p>
                                                        <p class="data-para">
                                                            효성티앤씨는 국내 소재 전 사업장을 대상으로 ISO 14001:2015취득하였습니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="table-display design-1 case-1 align-3">
                                        <table>
                                            <colgroup>
                                                <col>
                                                <col>
                                                <col>
                                                <col>
                                                <col>
                                                <col>
                                                <col class="view-pc">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th scope="col">인증기관</th>
                                                    <th scope="col">인증서명</th>
                                                    <th scope="col">사업장</th>
                                                    <th scope="col">국가</th>
                                                    <th scope="col">인증만료일</th>
                                                    <th scope="col">비고</th>
                                                    <th scope="col" class="view-pc">인증서 다운로드</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td rowspan="4">한국품질재단</td>
                                                    <td rowspan="4">ISO 14001:2015<br /> (환경경영시스템)</td>
                                                    <td>본사</td>
                                                    <td>대한민국</td>
                                                    <td>2025-03-08</td>
                                                    <td></td>
                                                    <td rowspan="4" class="view-pc">
                                                        <div class="button-display form-1 sort-1 align-3">
                                                            <div class="button-wrap form-1">
                                                                <a href="javascript:void(0)" class="button design-2 case-1 medium color-600 color-3 rtl icon-down-arrow01">
                                                                    <span class="button-text-core">다운로드</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>구미</td>
                                                    <td>대한민국</td>
                                                    <td>2025-03-08</td>
                                                    <td>스판덱스, 나일론</td>
                                                </tr>
                                                <tr>
                                                    <td>울산</td>
                                                    <td>대한민국</td>
                                                    <td>2025-03-08</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>대구</td>
                                                    <td>대한민국</td>
                                                    <td>2025-03-08</td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="button-display form-1 sort-1 align-3">
                                        <div class="button-wrap form-1">
                                            <a href="javascript:void(0)" class="button design-1 case-3 medium align-4 color-1 fill-800 rtl icon-down-arrow01">
                                                <span class="button-text-core">인증서 다운로드</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contents-article contents-article2">
                                <div class="thumbnail-display design-25">
                                    <div class="thumbnail-list">
                                        <div class="thumbnail-item">
                                            <div class="thumbnail-wrap">
                                                <div class="thumbnail-head">
                                                    <p class="subject en">Global Recycled<br class="br-mo" /> Standard Certificate</p>
                                                    <p class="summary">국제재생섬유친환경인증마크</p>
                                                </div>
                                                <div class="thumbnail-figure">
                                                    <img class="img" src="../../assets/images/photo/sustainability/certificate/img-thumb-02.jpg" alt="Global Recycled Standard">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="contents-article-inner">
                                    <div class="data-display design-1 case-5 color-2">
                                        <ul class="data-list">
                                            <li class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-body">
                                                        <p class="data-para">
                                                            GRS는 환경을 보호하고 삶의 질을 향상하기 위해 설립된 국제 섬유 협회인 Textile Exchange 협회에서 발행하는 섬유 원료 및 의류 생산에 재활용 원료가 사용되었음을 증명하기 위한 인증 기준입니다.
                                                        </p>
                                                        <p class="data-para">
                                                            50% 이상의 리사이클 원료를 함유한 제품에만 로고 사용이 가능하며, 원료의 수집부터 가공, 완제품 생산 및 판매까지 모든 단계의 공정 심사를 통해 관리의 연속성을 보장합니다.
                                                        </p>
                                                        <p class="data-para">
                                                            효성티앤씨는 생산하는 리사이클 나일론과 폴리에스터 제품에 대한 신뢰도를 높이고자 매년 GRS인증을 갱신해 오고 있습니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="table-display design-1 case-1 align-3">
                                        <table>
                                            <colgroup>
                                                <col>
                                                <col>
                                                <col>
                                                <col>
                                                <col>
                                                <col>
                                                <col class="view-pc">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th scope="col">인증기관</th>
                                                    <th scope="col">인증서명</th>
                                                    <th scope="col">사업장</th>
                                                    <th scope="col">국가</th>
                                                    <th scope="col">인증만료일</th>
                                                    <th scope="col">비고</th>
                                                    <th scope="col" class="view-pc">인증서 다운로드</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td rowspan="2">Control Union</td>
                                                    <td rowspan="2">GRS-Version 4.0</td>
                                                    <td>본사/울산/구미/해외법인 등</td>
                                                    <td>대한민국</td>
                                                    <td>2023-11-29</td>
                                                    <td>원사 제품</td>
                                                    <td rowspan="2" class="view-pc">
                                                        <div class="button-display form-1 sort-1 align-3">
                                                            <div class="button-wrap form-1">
                                                                <a href="javascript:void(0)" class="button design-2 case-1 medium color-600 color-3 rtl icon-down-arrow01">
                                                                    <span class="button-text-core">다운로드</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>대구공장</td>
                                                    <td>대한민국</td>
                                                    <td>2023-12-05</td>
                                                    <td>염색 직물</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="button-display form-1 sort-2 align-3">
                                        <div class="button-wrap form-1">
                                            <a href="javascript:void(0)" class="button design-1 case-5 small align-3 color-1 line-900 border-width-2 rtl icon-right-arrow01 mo-hide">
                                                <span class="button-text-core">리젠 소개 바로가기</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="button-display form-1 sort-1 align-3">
                                        <div class="button-wrap form-1">
                                            <a href="javascript:void(0)" class="button design-1 case-3 medium align-4 color-1 fill-800 rtl icon-down-arrow01">
                                                <span class="button-text-core">인증서 다운로드</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contents-article contents-article3">
                                <div class="thumbnail-display design-25">
                                    <div class="thumbnail-list">
                                        <div class="thumbnail-item">
                                            <div class="thumbnail-wrap">
                                                <div class="thumbnail-head">
                                                    <p class="subject en">OEKO-TEX<br class="br-mo" /> (Standard 100)<br class="br-mo" /> Certificate</p>
                                                </div>
                                                <div class="thumbnail-figure">
                                                    <img class="img" src="../../assets/images/photo/sustainability/certificate/img-thumb-03.jpg" alt="OEKO-TEX CONFIDENCE IN TextileS STANDARD 100">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="contents-article-inner">
                                    <div class="data-display design-1 case-5 color-2">
                                        <ul class="data-list">
                                            <li class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-body">
                                                        <p class="data-para">
                                                            OEKO-TEX는 국제적으로 친환경 섬유제품을 장려하기 위해 설립된 국제협회이며, 이 협회에서 제정한 규격에 적합한 제품에 부여하는 라벨 입니다.
                                                        </p>
                                                        <p class="data-para">
                                                            OEKO-TEX STANDARD 100 은 의류와 홈 텍스타일 생산과정에서 인체 건강이나 환경에 좋지 않은 화학물질이나 금속의 사용을 제한하거나 금지하는 국제 환경규격 입니다.
                                                        </p>
                                                        <p class="data-para">
                                                            효성티앤씨는 당사가 생산한 원사를 사용해 만든 의류 제품을 구입하는 소비자들의 안전과 건강을 위해, 블라우스, 셔츠, 속옷과 같이 피부와 직접 접촉되는 제품을 대상으로 하는 Product Class II에 대한 인증을 취득하여 매년 인증을 갱신하고 있습니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="table-display design-1 case-1 align-3">
                                        <table>
                                            <colgroup>
                                                <col>
                                                <col>
                                                <col>
                                                <col>
                                                <col>
                                                <col>
                                                <col class="view-pc">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th scope="col">인증기관</th>
                                                    <th scope="col">인증서명</th>
                                                    <th scope="col">사업장</th>
                                                    <th scope="col">국가</th>
                                                    <th scope="col">인증만료일</th>
                                                    <th scope="col">비고</th>
                                                    <th scope="col" class="view-pc">인증서 다운로드</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>OEKO-TEX</td>
                                                    <td>STANDARD 100</td>
                                                    <td>본사</td>
                                                    <td>대한민국</td>
                                                    <td>2024-01-31</td>
                                                    <td></td>
                                                    <td class="view-pc">
                                                        <div class="button-display form-1 sort-1 align-3">
                                                            <div class="button-wrap form-1">
                                                                <a href="javascript:void(0)" class="button design-2 case-1 medium color-600 color-3 rtl icon-down-arrow01">
                                                                    <span class="button-text-core">다운로드</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="button-display form-1 sort-1 align-3">
                                        <div class="button-wrap form-1">
                                            <a href="javascript:void(0)" class="button design-1 case-3 medium align-4 color-1 fill-800 rtl icon-down-arrow01">
                                                <span class="button-text-core">인증서 다운로드</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contents-article contents-article4">
                                <div class="thumbnail-display design-25">
                                    <div class="thumbnail-list">
                                        <div class="thumbnail-item">
                                            <div class="thumbnail-wrap">
                                                <div class="thumbnail-head">
                                                    <p class="subject en">Ocean Bound Plastic Certificate</p>
                                                </div>
                                                <div class="thumbnail-figure">
                                                    <img class="img" src="../../assets/images/photo/sustainability/certificate/img-thumb-04.jpg" alt="Ocean Bound Plastic Certificate">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="contents-article-inner">
                                    <div class="data-display design-1 case-5 color-2">
                                        <ul class="data-list">
                                            <li class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-body">
                                                        <p class="data-para">
                                                            OBP는 바다로 유입되는 해양 플라스틱 폐기물 문제를 해결하는데 기여하기 위해, 네덜란드 소재 지속가능성 인증기관인 컨트럴유니온과 비영리단체 제로플라스틱오션스(Zero Plastic Oceans)가 개발한 리사이클 인증 입니다. 다른 리사이클 인증 기준들과 마찬가지로 추적성을 바탕으로 하며, 바다로 유입되는 플라스틱 쓰레기의 수거부터 관리, 재활용까지의 전반적인 과정을 검증합니다.
                                                        </p>
                                                        <p class="data-para">
                                                            효성티앤씨는 폐어망을 비롯 바다에서 수거한 폐PET병으로 생산하는 리사이클 제품에 대한 신뢰도를 높이고자 2021년 9월 OBP 인증을 취득하였습니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="table-display design-1 case-1 align-3">
                                        <table>
                                            <colgroup>
                                                <col>
                                                <col>
                                                <col>
                                                <col>
                                                <col>
                                                <col>
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th scope="col">인증기관</th>
                                                    <th scope="col">인증서명</th>
                                                    <th scope="col">사업장</th>
                                                    <th scope="col">국가</th>
                                                    <th scope="col">인증만료일</th>
                                                    <th scope="col">비고</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Control Union</td>
                                                    <td>OBP-Version 1.1</td>
                                                    <td>본사/구미</td>
                                                    <td>대한민국</td>
                                                    <td>2023-12-20</td>
                                                    <td>리사이클<br class="br-pc" /> 폴리에스터 원사</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="button-display form-1 sort-2 align-3">
                                        <div class="button-wrap form-1">
                                            <a href="javascript:void(0)" class="button design-1 case-5 small align-3 color-1 line-900 border-width-2 rtl icon-right-arrow01 mo-hide">
                                                <span class="button-text-core">폐어망 리젠 소개 바로가기</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contents-article contents-article5">
                                <div class="thumbnail-display design-25">
                                    <div class="thumbnail-list">
                                        <div class="thumbnail-item">
                                            <div class="thumbnail-wrap">
                                                <div class="thumbnail-head">
                                                    <p class="subject en">SGS ECO Product<br class="br-mo" /> Certificate</p>
                                                </div>
                                                <div class="thumbnail-figure">
                                                    <img class="img" src="../../assets/images/photo/sustainability/certificate/img-thumb-05.jpg" alt="SGS ECO Product WWW.SGS.COM">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="contents-article-inner">
                                    <div class="data-display design-1 case-5 color-2">
                                        <ul class="data-list">
                                            <li class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-body">
                                                        <p class="data-para">
                                                            SGS는 스위스 소재 검사 및 인증 기관으로, SGS ECO PRODUCT는 제품 생산·사용·폐기 과정에서 환경 규제를 지키고 유해 물질을 최소한 활용한 제품에 대한 인증 입니다.
                                                        </p>
                                                        <p class="data-para">
                                                            효성티앤씨는 석탄에서 추출하는 스판덱스의 주요 원료 일부를 미국 농무부(USDA) 바이오 인증을 받은 옥수수에서 추출한 원료로 대체해서 생산한 “바이오 스판덱스” 제품에 대해 SGS ECO PRODUCT 인증을 취득 하였습니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="table-display design-1 case-1 align-3">
                                        <table>
                                            <colgroup>
                                                <col>
                                                <col>
                                                <col>
                                                <col>
                                                <col>
                                                <col>
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th scope="col">인증기관</th>
                                                    <th scope="col">인증서명</th>
                                                    <th scope="col">사업장</th>
                                                    <th scope="col">국가</th>
                                                    <th scope="col">인증만료일</th>
                                                    <th scope="col">비고</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>SGS</td>
                                                    <td>ECO/22/CEBEC/00026</td>
                                                    <td>본사</td>
                                                    <td>대한민국</td>
                                                    <td>2027-06-15</td>
                                                    <td>바이오 크레오라</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="button-display form-1 sort-2 align-3">
                                        <div class="button-wrap form-1">
                                            <a href="javascript:void(0)" class="button design-1 case-5 small align-3 color-1 line-900 border-width-2 rtl icon-right-arrow01 mo-hide">
                                                <span class="button-text-core">바이오 스판덱스 소개 바로가기</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contents-article contents-article6">
                                <div class="thumbnail-display design-25">
                                    <div class="thumbnail-list">
                                        <div class="thumbnail-item">
                                            <div class="thumbnail-wrap">
                                                <div class="thumbnail-head">
                                                    <p class="subject en">ISCC</p>
                                                    <p class="summary">(International Sustainability &amp; Carbon Certificate)</p>
                                                </div>
                                                <div class="thumbnail-figure">
                                                    <img class="img" src="../../assets/images/photo/sustainability/certificate/img-thumb-06.jpg" alt="ISCC">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="contents-article-inner">
                                    <div class="data-display design-1 case-5 color-2">
                                        <ul class="data-list">
                                            <li class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-body">
                                                        <p class="data-para">
                                                            네덜란드 소재 글로벌 인증 기관인 컨트롤유니온에서 인증하는 ISCC는 바이오에너지 인증 입니다.
                                                        </p>
                                                        <p class="data-para">
                                                            EU는 RED(재생에너지지침)에서 바이오매스의 지속적인 생산과 가공을 위한 EU 회원국의 의무 규정을 만들었으며, ISCC는 해당 의무 규정을 준수하기 위한 바이오매스 및 바이오에너지 인증 제도입니다.
                                                        </p>
                                                        <p class="data-para">
                                                            효성티앤씨는 무역부문(화학PU)에서 바이오디젤 원료에 대한 거래를 진행하고 있으며, 인증된 공급선으로서의 의무를 다하기 위해 ISCC 인증을 취득하였습니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="table-display design-1 case-1 align-3">
                                        <table>
                                            <colgroup>
                                                <col>
                                                <col>
                                                <col>
                                                <col>
                                                <col>
                                                <col>
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th scope="col">인증기관</th>
                                                    <th scope="col">인증서명</th>
                                                    <th scope="col">사업장</th>
                                                    <th scope="col">국가</th>
                                                    <th scope="col">인증만료일</th>
                                                    <th scope="col">비고</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Control Union</td>
                                                    <td>ISCC EU</td>
                                                    <td>본사</td>
                                                    <td>대한민국</td>
                                                    <td>2024-02-11(ISCC EU)</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Control Union</td>
                                                    <td>ISCC EU PLUS</td>
                                                    <td>본사</td>
                                                    <td>대한민국</td>
                                                    <td>2024-02-11</td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        <%-include('../include/kor/HTNCWK03FOOTER.ejs') %>
    </body>
</html>