<!DOCTYPE html>
<html lang="ko">
    <head>
        <%-include('../include/kor/HTNCWK00HEADMETACOMMON.ejs') %>
        <%-include('../meta-id/kor/HTNCWKD40D31W01.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSTYLE.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADFAVICON.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTLIBRARY.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTGSAP.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTLOADER.ejs') %>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                scrollEvent();
                resizeEvent();

                subPageIntroWheel_01(); // 서브 공통 MouseWheel naviDepth3, naviDepth4
                localInteraction_04_01(); // 서브 공통 Info Interaction
                naviDepth3_Interaction_01(); // 서브 공통 naviDepth3 fixed,  naviDepth4 따라 내려옴

                contentsSubScrollEventCustom(); // 서브 공통 Section Active
            });

            function scrollEvent(){
                window.addEventListener('scroll', () => {
                    contentsSubScrollEventCustom();
                });
            }

            function resizeEvent(){
                window.addEventListener('resize', () => {
                });
            }
        </script>
    </head>
    <body class="tnc-site">
        <%-include('../include/kor/HTNCWK01HEADER.ejs') %>
        <main id="container" class="container tnc HTNCWKD40D31W01 sub">
            <h2 class="blind">컨테이너 영역</h2>
            <div class="container-inner">
                <section class="contents-section contents-section1">
                    <div class="contents-section-inner">
                        <div class="local sustainability-common" local-interaction="sustainability-01">
                            <div class="local-head design-1">
                                <div class="local-head-wrap">
                                    <div class="local-subject">
                                        <h2 class="local-name">
                                            <span class="wbr">Social</span>
                                            <span class="wbr hide">상생경영</span>
                                        </h2>
                                    </div>
                                    <div class="local-subject">
                                        <h2 class="local-name">
                                            <span class="wbr hide">Social</span>
                                            <span class="wbr">상생경영</span>
                                        </h2>
                                    </div>
                                    <picture class="local-figure">
                                        <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/winwin/local-mo.jpg">
                                        <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/winwin/local-pc.jpg">
                                        <img src="../../assets/images/photo/sustainability/winwin/local-pc.jpg" alt=" ">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <nav class="navi depth3">
                    <div class="navi-wrap">
                        <div class="navi-subject"><a href="#" title="현재 선택된 항목" class="navi-name">상생경영</a></div>
                        <div class="tab-display">
                            <ul class="tab-list">
                                <li class="tab-item"><a href="#" class="tab-text">인권경영</a></li>
                                <li class="tab-item current"><a href="#" class="tab-text">상생경영</a></li>
                                <li class="tab-item"><a href="#" class="tab-text">안전보건경영</a></li>
                                <li class="tab-item"><a href="#" class="tab-text">나눔경영</a></li>
                                <li class="tab-item"><a href="#" class="tab-text">정보보안</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <section class="contents-section contents-section2">
                    <div class="contents-section-inner">
                        <div class="contents-section-head">
                            <div class="thumbnail-display design-15">
                                <div class="thumbnail-list">
                                    <div class="thumbnail-item">
                                        <div class="thumbnail-wrap">
                                            <div class="thumbnail-head">
                                                <p class="caption">효성티앤씨는 동반성장 추진체계를 수립하고 <br> 이를 체계적으로 관리하여,</p>
                                                <p class="subject">협력사와의 상생을 통해 <span class="accent">지속가능한 미래를 준비하는 기업이 되겠습니다.</span></p>
                                            </div>
                                            <div class="thumbnail-inform">
                                                <div class="thumbnail-body">
                                                    <p class="para">대기업과 중소기업이 단기적인 이윤 극대화만을 추구하면 중소기업의 생존 기반이 약화되어
                                                    기업 생태계의 위기를 가져올 우려가 있기에, 중장기적인 관점에서 기업간 상호협력체계를
                                                    구축할 필요가 있습니다. 효성티앤씨는 지속적인 동반성장을 우리 사회가 요구하는 매우 중요한
                                                    사안으로 인식하고, 협력회사와 힘을 합하여 도전적이고 진취적인 방법으로 급변하는 시장환경을 함께 헤쳐 나가는 한편, 사회에 기여하면서 지속 성장할 수 있도록 최선을 다하고 있습니다.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <picture class="thumbnail-figure">
                                            <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/winwin/img-thumb-01-mo.png">
                                            <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/winwin/img-thumb-01-pc.png">
                                            <img class="img" src="../../assets/images/photo/sustainability/winwin/img-thumb-01-pc.png" alt=" ">
                                        </picture>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contents-section-body">
                            <div class="contents-article contents-article1">
                                <div class="contents-article-inner">
                                    <div class="data-display design-1 case-3 align-5 color-10">
                                        <ul class="data-list">
                                            <li class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <h4 class="title design-1 case-1 small-v2 align-4">
                                                            <em class="name">지속가능한 공급망 운영 철학</em>
                                                        </h4>
                                                    </div>
                                                    <div class="data-body">
                                                        <p class="data-para">
                                                            효성티앤씨는 지속가능한 공급망 운영을 통해 사업의 경쟁력을 확보하고, 협력사와의 공정 거래로 윤리적 사회의 기반을 마련하기 위해 다양한 프로그램을 도입하여 운영하고 있습니다.<br /> 이를 통해 효성티앤씨는 책임있는 사회의 일원으로서 법을 준수하고, 건강한 공급망 생태계 구축에 노력을 다하는 기업이 되겠습니다.
                                                        </p>
                                                    </div>
                                                    <div class="data-aside">
                                                        <div class="diagram-display design-1">
                                                            <div class="diagram-wrap">
                                                                <div class="diagram-body">
                                                                    <picture class="picture">
                                                                        <source media="(max-width: 1023px)" srcset="../../assets/images/diagram/sustainability/social/diagram-winwin-07-mo.svg">
                                                                        <source media="(max-width: 1920px)" srcset="../../assets/images/diagram/sustainability/social/diagram-winwin-07-pc.svg">
                                                                        <img class="img" src="../../assets/images/diagram/sustainability/social/diagram-winwin-07-pc.svg" alt="아래 항목 참고">
                                                                    </picture>
                                                                </div>
                                                                <div class="diagram-footer">
                                                                    <ul>
                                                                        <li>
                                                                            <em>공정거래위원회 4대 가이드라인 준수</em>
                                                                            <p>공급망 운영에 있어 투명하고 합리적인 거래관행을 구축하고 공정한 하도급 거래질서 확립에 이바지하고자 공급망 운영 철학 (투명성, 적법성, 공정성)과 공정거래위원회 4대 가이드라인을 준수하고 있습니다.</p>
                                                                        </li>
                                                                        <li>
                                                                            <em>건강한 공급망 구축을 위한 동반성장 프로그램 운영</em>
                                                                            <p>협력사의 성장과 발전을 위해 자금 지원·교육 지원·채용 지원·기술 지원·경영 지원 등 거래관행을 정착시키고 협력사의 경쟁력 강화를 지원함으로써 함께 성장하는 건강한 기업 생태계를 구축해가고자 합니다.</p>
                                                                        </li>
                                                                        <li>
                                                                            <em>공급망 지속가능성 증진</em>
                                                                            <p>정기적이고 체계적인 공급망 점검 및 협력사와의 열린 소통으로 변화하는 시대에 맞춰 공급망 내 ESG 가치를 확산시키며 구매 환경 개선 활동을 통해 지속성장가능한 공급망을 운영하겠습니다.</p>
                                                                        </li>
                                                                    </ul>
                                                                    <div>지속 공급망 달성</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="contents-article contents-article2">
                                <div class="contents-article-inner">
                                    <div class="data-display">
                                        <div class="data-body">
                                            <h3 class="title design-1 case-1 align-1 small-v2 color-1">
                                                <em class="name">공정거래</em>
                                            </h3>
                                            <div class="thumbnail-display design-16">
                                                <div class="thumbnail-list">
                                                    <div class="thumbnail-item">
                                                        <div class="thumbnail-wrap">
                                                            <picture class="thumbnail-figure">
                                                                <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/winwin/img-thumb-02-mo.png">
                                                                <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/winwin/img-thumb-02.png">
                                                                <img class="img" src="../../assets/images/photo/sustainability/winwin/img-thumb-02.png" alt=" ">
                                                            </picture>
                                                            <div class="thumbnail-inform">
                                                                <div class="data-list">
                                                                    <div class="data-item">
                                                                        <p class="data-head">공정거래위원회 4대 가이드라인 준수</p>
                                                                        <p class="data-body">효성티앤씨는 협력사와 공정한 거래 문화를 조성
                                                                            하기 위해 공정거래위원회가 제정 및 권장하고 있는
                                                                            4대 실천 사항을 사규로 도입하여 운용하고 있습니다.
                                                                            또한, 협력사를 대상으로 일방적인 거래 제한이나 중단 등의 보복성 행위 금지 지침을 발표하여 공정한 파트너쉽을 위한 기반을 마련하는 동시에 합리적이고 투명한 거래 관계를 구축하고 있습니다.</p>
                                                                    </div>
                                                                    <div class="data-item">
                                                                        <p class="data-head">공정거래 자율준수 프로그램 운영</p>
                                                                        <p class="data-body">효성티앤씨는 투명하고 적법한 절차에 따른 공정한
                                                                            거래 문화 정착을 위해 공정거래 자율준수 프로그램을 도입하여 운영하고 있습니다. 또한 이사회 산하 투명 경영위원회를 통해 일감 몰아주기나 부당 내부거래
                                                                            등의 문제를 다루고, 공정거래 자율준수 프로그램
                                                                            이행 점검 등 관련 이슈에 대한 사전 심의와 의결을
                                                                            진행하고 있습니다.</p>
                                                                    </div>
                                                                    <div class="data-item">
                                                                        <p class="data-head">거래 사전/사후 심사</p>
                                                                        <p class="data-body">효성티앤씨는 2019년부터 협력사와 거래 시
                                                                            사전/사후 심사 제도를 도입하여 운영 중에 있으며,
                                                                            이를 통해 위법 사항과 불공정 행위 발생 여부에 대해
                                                                            자체 모니터링을 수행 하고 있습니다. 거래 전 서면
                                                                            계약서 교부, 부당한 하도급 대금 결정 금지, 물품 등의 강제, 경제적 이익 부당 요구 금지 여부에 대해 확인 후 거래를 진행하며, 거래 완료 이후에는 대금 지연지급, 기술자료 법 위반, 부당 하도급 대금 감액 여부 등을
                                                                            확인하고 있습니다.</p>
                                                                    </div>
                                                                    <div class="data-item">
                                                                        <p class="data-head">공정거래 교육</p>
                                                                        <p class="data-body">구매 부서, 공장 관리팀 등 공정거래 관련 협력사와 직접적인 이해관계를 형성하고 리스크 발생 위험이
                                                                            높은 부서를 대상으로 하도급법, 계약 위반 사례교육 등을 주기적으로 실시하고 있습니다. 또한 영업부서를 대상으로 공정거래법과 대리점법 등 공정거래 관련
                                                                            교육을 실시함으로써 영업 환경에서도 관련 법률
                                                                            준수를 위한 절차 및 기준에 대한 정보를 제공 중에
                                                                            있습니다.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="diagram-display design-1">
                                                <div class="diagram-wrap">
                                                    <div class="diagram-head">
                                                        <h3 class="title design-1 case-1 align-1 small-v7 color-1">
                                                            <em class="name">협력사 제보/제안 프로세스</em>
                                                        </h3>
                                                    </div>
                                                    <div class="diagram-body">
                                                        <picture class="picture">
                                                            <source media="(max-width: 1023px)" srcset="../../assets/images/diagram/sustainability/social/diagram-winwin-02-mo.svg">
                                                            <source media="(max-width: 1920px)" srcset="../../assets/images/diagram/sustainability/social/diagram-winwin-02-pc.svg">
                                                            <img class="img" src="../../assets/images/diagram/sustainability/social/diagram-winwin-02-pc.svg" alt="아래 항목 참고">
                                                        </picture>
                                                    </div>
                                                    <div class="diagram-footer">
                                                        <div>
                                                            <em>
                                                                협력업체
                                                            </em>
                                                            <ul>
                                                                <li>제보접수</li>
                                                            </ul>
                                                        </div>
                                                        <div>
                                                            <em>
                                                                효성TNC
                                                            </em>
                                                            <ol>
                                                                <li>제보확인</li>
                                                                <li>조사 및 조사완료</li>
                                                                <li>종결 및 처리결과 확인</li>
                                                            </ol>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="data-footer">
                                            <div class="data-display design-2 case-2 type-1">
                                                <div class="data-list">
                                                    <div class="data-item">
                                                        <div class="data-wrap">
                                                            <p class="data-head">관련정보</p>
                                                            <div class="data-body">
                                                                <div class="button-display form-1 sort-1 align-3">
                                                                    <div class="button-wrap form-3">
                                                                        <a href="javascript:void(0)" class="button design-1 case-8 small-1v align-3 line-000 opacity-1 border-width-1 color-1 hover-1">
                                                                            <span class="button-text-core">제보센터</span>
                                                                        </a>
                                                                        <a href="javascript:void(0)" class="button design-1 case-8 small-1v align-3 line-000 opacity-1 border-width-1 color-1 hover-1">
                                                                            <span class="button-text-core">공정거래 자율준수편람</span>
                                                                        </a>
                                                                        <a href="javascript:void(0)" class="button design-1 case-8 small-1v align-3 line-000 opacity-1 border-width-1 color-1 hover-1">
                                                                            <span class="button-text-core">협력사 보복금지 지침</span>
                                                                        </a>
                                                                        <a href="javascript:void(0)" class="button design-1 case-8 small-1v align-3 line-000 opacity-1 border-width-1 color-1 hover-1">
                                                                            <span class="button-text-core">협력사 선정 및 운용 규정</span>
                                                                        </a>
                                                                        <a href="javascript:void(0)" class="button design-1 case-8 small-1v align-3 line-000 opacity-1 border-width-1 color-1 hover-1">
                                                                            <span class="button-text-core">하도급 관리 내부심의위원회 규정</span>
                                                                        </a>
                                                                        <a href="javascript:void(0)" class="button design-1 case-8 small-1v align-3 line-000 opacity-1 border-width-1 color-1 hover-1">
                                                                            <span class="button-text-core">하도급 거래 서면 발급 보존 규정</span>
                                                                        </a>
                                                                        <a href="javascript:void(0)" class="button design-1 case-8 small-1v align-3 line-000 opacity-1 border-width-1 color-1 hover-1">
                                                                            <span class="button-text-core">공정거래 실천사항 규정</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contents-article contents-article3">
                                <div class="contents-article-inner">
                                    <div class="data-display design-1 case-3 align-1 color-10">
                                        <ul class="data-list">
                                            <li class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <h4 class="title design-1 case-1 small-v2">
                                                            <em class="name">동반성장</em>
                                                        </h4>
                                                    </div>
                                                    <div class="data-body">
                                                        <p class="data-para">
                                                            효성티앤씨는 협력사와 공동운명체라는 인식을 바탕으로 공동의 목표를 가지고 미래를 함께 만들어가고자 합니다. 이에 협력사의 경쟁력은 곧 회사 성장의 원동력이라는 인식을 바탕으로 체계적인 동반성장 체계를 구축하고자 노력하고 있습니다. 협력사를 총괄 관리하는 구매팀은 동반성장 프로그램을 총괄 관리하는 동반성장추진 조직과 함께 협력사 동반성장 프로그램을 통해 협력사를 지원하고 있습니다. 단순히 협력사의 원가∙품질 경쟁력을 높이는 것을 넘어, 협력사의 지속가능한 경영 활동이 정착될 수 있도록 다양한 분야에서 협력과 지원활동을 이어가겠습니다.
                                                        </p>
                                                    </div>
                                                    <div class="data-aside">
                                                        <div class="diagram-display design-1">
                                                            <div class="diagram-wrap">
                                                                <div class="diagram-body">
                                                                    <picture class="picture">
                                                                        <source media="(max-width: 1023px)" srcset="../../assets/images/diagram/sustainability/winwin/diagram-winwin-01-mo.svg">
                                                                        <source media="(max-width: 1920px)" srcset="../../assets/images/diagram/sustainability/winwin/diagram-winwin-01-pc.svg">
                                                                        <img class="img" src="../../assets/images/diagram/sustainability/winwin/diagram-winwin-01-pc.svg" alt="아래 항목 참고">
                                                                    </picture>
                                                                </div>
                                                                <div class="diagram-footer">
                                                                    <h4>협력사 동반성장 관리 조직 체계</h4>
                                                                    <ul>
                                                                        <li>기술협력 및 연구부서 기술협력 및 공동연구 진행</li>
                                                                        <li>사업회사별 구매전담부서 협력사 계약 및 구매관리</li>
                                                                        <li>동반성장추진팀 지원프로그램 운영</li>
                                                                        <li>효성 효성티앤씨</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="contents-article contents-article4">
                                <div class="contents-article-inner">
                                    
                                    <div class="diagram-display design-1">
                                        <div class="diagram-wrap">
                                            <div class="diagram-head">
                                                <h3 class="title design-1 case-1 align-1 small-v7 color-2">
                                                    <em class="name">동반성장 지원 프로그램 운영현황(상시)</em>
                                                </h3>
                                            </div>
                                            <div class="diagram-body">
                                                <picture class="picture">
                                                    <source media="(max-width: 1023px)" srcset="../../assets/images/diagram/sustainability/environmental/diagram-winwin-7-mo.svg">
                                                    <source media="(max-width: 1920px)" srcset="../../assets/images/diagram/sustainability/environmental/diagram-winwin-7-pc.svg">
                                                    <img class="img" src="../../assets/images/diagram/sustainability/environmental/diagram-winwin-7-pc.svg" alt="아래 항목 참고">
                                                </picture>
                                            </div>
                                            <div class="diagram-footer">
                                                <ul>
                                                    <li>
                                                        <em>우수협력사 포상</em>
                                                        <ul>
                                                            <li>올해의 자랑스러운 효성인 협력사부문 수상 시 상금 지급</li>
                                                            <li>안전 우수 협력사 포상</li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <em>경영역량 및 생산성 강화 지원</em>
                                                        <ul>
                                                            <li>생산성 향상 컨설팅 제공</li>
                                                            <li>한국에너지공단 주관 에너지 동행사업 프로그램 참가 지원</li>
                                                            <li>경영닥터제 참가를 통한 경영 자문 지원</li>
                                                            <li>ESG 기반 마련 교육 컨설팅 지원</li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <em>금융 지원</em>
                                                        <ul>
                                                            <li>납품대금 현금지급 (물품 대금 마감 후 10일 이내 현금 지급)</li>
                                                            <li>대-중소 상생협력기금 동반성장 투자 지원</li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <em>안전 지원 프로그램</em>
                                                        <ul>
                                                            <li>연 1회 자체 협력사 위험성 평가 및 유해위험요인 개선 방안 도출</li>
                                                            <li>교육 지원 (위험성 평가, 관리감독 등)</li>
                                                            <li>50인 미만 사업장에 대한 안전관리 대행 서비스 비용 지원</li>
                                                            <li>건강검진 비용 지원</li>
                                                            <li>연 2회 작업환경측정 비용 지원</li>
                                                            <li>전체 협력사 안전보호구 등 사업장 안전도구 지원</li>
                                                            <li>분기별 우수업체 선정 및 시상(안전 특화)</li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <em>기술 지원</em>
                                                        <ul>
                                                            <li>공동연구개발 및 공동특허 출원</li>
                                                            <li>품질 향상 위한 기술 컨설팅 제공</li>
                                                            <li>협력사 안전보건 취약 부문에 대한 기술지원</li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="diagram-aside">
                                                <div class="button-display form-1 sort-1 align-3">
                                                    <div class="button-wrap form-1">
                                                        <a href="javascript:void(0)" class="button design-1 case-2 medium align-4 fill-800 color-1 rtl icon-down-arrow01">
                                                            <span class="button-text-core">동반성장 준수 규정</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="contents-article contents-article5">
                                <div class="contents-article-inner">
                                    <div class="data-display">
                                        <div class="data-head">
                                            <div class="data-display design-1 case-3 align-1 color-10">
                                                <ul class="data-list">
                                                    <li class="data-item">
                                                        <div class="data-wrap">
                                                            <div class="data-head">
                                                                <h4 class="title design-1 case-1 small-v2">
                                                                    <em class="name">공급망 ESG 가치 확산</em>
                                                                </h4>
                                                            </div>
                                                            <div class="data-body">
                                                                <p class="data-para">
                                                                    공급망은 기업의 지속가능한 글로벌 경쟁력 확보와 지속적인 성장동력 및 일자리 창출, 공정한 사회의 경제적 토대를 위해 점차 중요해지고 있습니다.<br /> 
                                                                    효성티앤씨는 가치사슬에서의 사회적 책임을 촉진시키기 위해 변화된 사회적 요구사항들을 충족시키고자 기존의 협력사 관리 프로세스에 윤리적, 사회적, 환경적 기준과 같은 지속가능성 요소를 반영할 수 있도록 사내 규정을 개정하여 운영하고 있습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="data-body">
                                            <div class="data-display design-2 case-2 type-2">
                                                <div class="data-list">
                                                    <div class="data-item">
                                                        <div class="data-wrap">
                                                            <p class="data-head">관련정보</p>
                                                            <div class="data-body">
                                                                <div class="button-display form-1 sort-1 align-3">
                                                                    <div class="button-wrap form-3">
                                                                        <a href="javascript:void(0)" class="button design-1 case-8 small-1v align-3 line-101 border-width-1 color-1">
                                                                            <span class="button-text-core">협력사 행동규범</span>
                                                                        </a>
                                                                        <a href="javascript:void(0)" class="button design-1 case-8 small-1v align-3 line-101 border-width-1 color-1">
                                                                            <span class="button-text-core">협력사 ESG평가 규정</span>
                                                                        </a>
                                                                        <a href="javascript:void(0)" class="button design-1 case-8 small-1v align-3 line-101 border-width-1 color-1">
                                                                            <span class="button-text-core">지속가능한 구매 방침</span>
                                                                        </a>
                                                                        <a href="javascript:void(0)" class="button design-1 case-8 small-1v align-3 line-101 border-width-1 color-1">
                                                                            <span class="button-text-core">ESG 자가진단 시스템</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="data-aside">
                                            <div class="diagram-display design-1">
                                                <div class="diagram-wrap">
                                                    <div class="diagram-head">
                                                        <h3 class="title design-1 case-1 align-4 small-v8 color-2">
                                                            <em class="name">효성티앤씨 협력사 등록 평가 프로세스</em>
                                                        </h3>
                                                    </div>
                                                    <div class="diagram-body">
                                                        <picture class="picture">
                                                            <source media="(max-width: 1023px)" srcset="../../assets/images/diagram/sustainability/social/diagram-winwin-06-mo.svg">
                                                            <source media="(max-width: 1920px)" srcset="../../assets/images/diagram/sustainability/social/diagram-winwin-06-pc.svg">
                                                            <img class="img" src="../../assets/images/diagram/sustainability/social/diagram-winwin-06-pc.svg" alt="아래 항목 참고">
                                                        </picture>
                                                    </div>
                                                    <div class="diagram-footer">
                                                        <ul>
                                                            <li>
                                                                <em>01</em>
                                                                <p>신규 등록 대상 업체 선정</p>
                                                                <span>거래 가능 업체 Pool 확보</span>
                                                            </li>
                                                            <li>
                                                                <em>02</em>
                                                                <p>신규 업체 평가</p>
                                                                <span>경영 관리 및 재무 상태 평가, 환경·안경·보건 평가</span>
                                                            </li>
                                                            <li>
                                                                <em>03</em>
                                                                <p>승인 업체 등록 및 거래</p>
                                                                <span>장기·연간·일반 계약, 품질·납기 관리</span>
                                                            </li>
                                                            <li>
                                                                <em>04</em>
                                                                <p>등록 업체 관리</p>
                                                                <span>사전·사후 심의 평가, 협력사 정기 평가</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contents-article contents-article6">
                                <div class="contents-article-inner">
                                    <div class="data-display design-1 case-8 align-1 color-10">
                                        <ul class="data-list">
                                            <li class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <h4 class="title design-1 case-1 small-v7">
                                                            <em class="name">공급망 ESG 체계 구축 프로세스</em>
                                                        </h4>
                                                    </div>
                                                    <div class="data-body">
                                                        <p class="data-para">
                                                            효성티앤씨는 2022년 ESG 요소를 반영한 협력사 행동규범을 제정하였으며, 이에 대한 협력사들의 서명을 받아 공급업체의 인권, 아동 및 강제 노동, 거버넌스(규정 준수) 및 지속가능한 공급망과 관련된 인식 개선을 돕고 있습니다. 또한 협력사들이 ESG 요소와 관련된 기회와 위험을 평가할 수 있도록 2022년부터 자체 평가 설문지 또는 공신력 있는 외부 평가기관의 평가에 응답하도록 요청하고 있으며, 응답 결과를 효성티앤씨의 지속가능한 공급망 리스크 진단의 기초 자료로 활용하고 중소기업 협력사의 경우 동반성장 프로그램과 연계하여 ESG 역량강화를 지원하고 있습니다. 아울러 법적 구속력이 있는 구매 계약서에 ESG 요소가 포함되어 운영될 수 있도록 점진적으로 개선할 계획입니다.
                                                        </p>
                                                    </div>
                                                    <div class="data-aside">
                                                        <div class="diagram-display design-2">
                                                            <div class="diagram-wrap">
                                                                <div class="diagram-body">
                                                                    <picture class="picture">
                                                                        <source media="(max-width: 1023px)" srcset="../../assets/images/diagram/sustainability/winwin/diagram-winwin-05-mo.svg">
                                                                        <source media="(max-width: 1920px)" srcset="../../assets/images/diagram/sustainability/winwin/diagram-winwin-05-pc.svg">
                                                                        <img class="img" src="../../assets/images/diagram/sustainability/winwin/diagram-winwin-05-pc.svg" alt="아래 항목 참고">
                                                                    </picture>
                                                                </div>
                                                                <div class="diagram-footer">
                                                                    <ol>
                                                                        <li>공급망 파악 및 분석</li>
                                                                        <li>정책 수립</li>
                                                                        <li>ESG 리스크 평가</li>
                                                                        <li>리스크 완화 조치</li>
                                                                        <li>감사 및 모니터링</li>
                                                                        <li>협력사 상생 지원 참여</li>
                                                                        <li>감사 및 모니터링</li>
                                                                    </ol>
                                                                    <ol>
                                                                        <li>Boundary 설정</li>
                                                                        <li>Critical Supplier 분류</li>
                                                                        <li>협력사 ESG 간담회</li>
                                                                        <li>체크리스트(안) 수립</li>
                                                                        <li>샘플링 진단 시행</li>
                                                                        <li>피드백 수렴</li>
                                                                        <li>공급망 ESG 정책 수립*
                                                                            <ul>
                                                                                <li>인권 및 노동</li>
                                                                                <li>안전보건</li>
                                                                                <li>환경</li>
                                                                                <li>윤리</li>
                                                                                <li>경영시스템</li>
                                                                            </ul>
                                                                    </li></ol>
                                                                    <ol>
                                                                        <li>안전보건</li>
                                                                        <li>ESG 리스크 평가</li>
                                                                        <li>잠재 리스크 파악</li>
                                                                        <li>결과 분석 및 조치 계획</li>
                                                                        <li>리스크 완화 계획 수립</li>
                                                                        <li>시정 조치</li>
                                                                        <li>정기 감사 및 모니터링 중장기적으로 제3자 Audit 시스템 구축</li>
                                                                    </ol>
                                                                    <em>협력사 지원을 통한 상생 협력체계 구축</em>
                                                                    <p>* 공급망 ESG 정책수립 : 인권 및 노동, 안전 보건, 환경, 윤리, 경영 시스템과 관련한 내용을 포함한 Supplier Code of Conduct 수립</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="contents-article contents-article7">
                                <div class="contents-article-inner">
                                    <div class="diagram-display design-2">
                                        <div class="diagram-wrap">
                                            <div class="diagram-head">
                                                <h3 class="title design-1 case-1 align-1 small-v7 color-2">
                                                    <em class="name">효성티앤씨 협력사 ESG 관리 영역</em>
                                                </h3>
                                            </div>
                                            <div class="diagram-body">
                                                <picture class="picture">
                                                    <source media="(max-width: 1023px)" srcset="../../assets/images/diagram/sustainability/winwin/diagram-winwin-06-mo.svg">
                                                    <source media="(max-width: 1920px)" srcset="../../assets/images/diagram/sustainability/winwin/diagram-winwin-06-pc.svg">
                                                    <img class="img" src="../../assets/images/diagram/sustainability/winwin/diagram-winwin-06-pc.svg" alt="아래 항목 참고">
                                                </picture>
                                            </div>
                                            <div class="diagram-footer">
                                                <ul>
                                                    <li>
                                                        <em>환경</em>
                                                        <ul>
                                                            <li>환경경영방침과 목표</li>
                                                            <li>기후변화 및 탄소배출</li>
                                                            <li>에너지절감 및 관리</li>
                                                            <li>자원순환, 폐기물 관리</li>
                                                            <li>환경법규 준수</li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <em>사회</em>
                                                        <ul>
                                                            <li>인권경영 규정 및 이행</li>
                                                            <li>근로기준법 준수</li>
                                                            <li>산업 안전보건</li>
                                                            <li>개인정보보호</li>
                                                            <li>공정경쟁, 공급망 관리</li>
                                                            <li>지역사회 공헌</li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <em>거버넌스</em>
                                                        <ul>
                                                            <li>ESG경영방침</li>
                                                            <li>윤리경영</li>
                                                            <li>반부패</li>
                                                            <li>내부제보</li>
                                                            <li>제외</li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contents-article contents-article8">
                                <div class="contents-article-inner">
                                    <div class="data-display design-1 case-8 align-1 color-12">
                                        <ul class="data-list">
                                            <li class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <h4 class="title design-1 case-1 small-v3 color-1">
                                                            <em class="name">효성티앤씨<br class="br-mo" /> 중소기업 협력사 ESG 역량 진단 항목</em>
                                                        </h4>
                                                    </div>
                                                    <div class="data-body">
                                                        <p class="data-para">
                                                            효성티앤씨는 중소기업인 협력사의 ESG 역량진단시, 객관적이고 현실에 맞는 진단을 위해 중소벤처기업진흥공단에서 제공하는 중소기업 ESG 자가진단 시스템을 활용하고 있습니다.
                                                        </p>
                                                    </div>
                                                    <div class="data-aside">
                                                        <div class="data-display design-2 case-1">
                                                            <div class="data-list">
                                                                <div class="data-item">
                                                                    <div class="data-head">
                                                                        <p class="sup color-1">환경</p>
                                                                        <p class="name">Environment</p>
                                                                        <p class="summary">환경관리체계 수립 및<br> 활동을 통해 더 큰 환경가치를 창조</p>
                                                                    </div>
                                                                    <div class="data-body">
                                                                        <div class="board-display design-2 case-1">
                                                                            <div class="board-list">
                                                                                <div class="board-item">
                                                                                    <div class="board-wrap">
                                                                                        <div class="board-head">
                                                                                            <p class="name">더 깨끗한<br> 환경 경영</p>
                                                                                        </div>
                                                                                        <div class="board-body">
                                                                                            <div class="tag-display">
                                                                                                <ul class="tag-list">
                                                                                                    <li class="tag-item">환경오염</li>
                                                                                                    <li class="tag-item">기후변화 및 탄소배출</li>
                                                                                                    <li class="tag-item">자원, 폐기물 관리</li>
                                                                                                    <li class="tag-item">에너지 효율</li>
                                                                                                    <li class="tag-item">생태계 보호</li>
                                                                                                </ul>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="data-item">
                                                                    <div class="data-head">
                                                                        <p class="sup color-2">사회</p>
                                                                        <p class="name">Social</p>
                                                                        <p class="summary">다양한 이해관계자와의 우호적<br> 관계 형성을 통해 더 큰 사회 가치창조</p>
                                                                    </div>
                                                                    <div class="data-body">
                                                                        <div class="board-display design-2 case-2">
                                                                            <div class="board-list">
                                                                                <div class="board-item">
                                                                                    <div class="board-wrap">
                                                                                        <div class="board-head">
                                                                                            <p class="name">더 따뜻한<br> 이해관계자 경영</p>
                                                                                        </div>
                                                                                        <div class="board-body">
                                                                                            <div class="tag-display">
                                                                                                <ul class="tag-list">
                                                                                                    <li class="tag-item">인권 및 성평등</li>
                                                                                                    <li class="tag-item">산업보건</li>
                                                                                                    <li class="tag-item">데이터 보안</li>
                                                                                                    <li class="tag-item">품질 및 고객만족</li>
                                                                                                    <li class="tag-item">공급망 관리</li>
                                                                                                    <li class="tag-item">지역사회 관계</li>
                                                                                                </ul>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="data-item">
                                                                    <div class="data-head">
                                                                        <p class="sup color-3">지배구조</p>
                                                                        <p class="name">Governance</p>
                                                                        <p class="summary">체계적이고 엄격한 지배구조<br> 구축을 통해 더 큰 윤리가치 창조</p>
                                                                    </div>
                                                                    <div class="data-body">
                                                                        <div class="board-display design-2 case-3">
                                                                            <div class="board-list">
                                                                                <div class="board-item">
                                                                                    <div class="board-wrap">
                                                                                        <div class="board-head">
                                                                                            <p class="name">더 정직한<br> 윤리 경영</p>
                                                                                        </div>
                                                                                        <div class="board-body">
                                                                                            <div class="tag-display">
                                                                                                <ul class="tag-list">
                                                                                                    <li class="tag-item">윤리경영</li>
                                                                                                    <li class="tag-item">반부패</li>
                                                                                                    <li class="tag-item">법규 준수</li>
                                                                                                    <li class="tag-item">공정경쟁</li>
                                                                                                    <li class="tag-item">이사회 및 감사</li>
                                                                                                </ul>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        <%-include('../include/kor/HTNCWK03FOOTER.ejs') %>
    </body>
</html>