<!DOCTYPE html>
<html lang="ko">
    <head>
        <%-include('../include/kor/HTNCWK00HEADMETACOMMON.ejs') %>
        <%-include('../meta-id/kor/HTNCWKD40D11W01.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSTYLE.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADFAVICON.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTLIBRARY.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTGSAP.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTLOADER.ejs') %>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                scrollEvent();
                resizeEvent();

                subPageIntroWheel_01(); // 서브 공통 MouseWheel naviDepth3, naviDepth4
                localInteraction_04_01(); // 서브 공통 Info Interaction
                naviDepth3_Interaction_01(); // 서브 공통 naviDepth3 fixed,  naviDepth4 따라 내려옴

                contentsSubScrollEventCustom(); // 서브 공통 Section Active
            });

            function scrollEvent(){
                window.addEventListener('scroll', () => {
                    contentsSubScrollEventCustom();
                });
            }

            function resizeEvent(){
                window.addEventListener('resize', () => {
                });
            }
        </script>
    </head>
    <body class="tnc-site">
        <%-include('../include/kor/HTNCWK01HEADER.ejs') %>
        <main id="container" class="container tnc HTNCWKD40D11W01 sub">
            <div class="container-inner">
                <section class="contents-section contents-section1">
                    <div class="contents-section-inner">
                        <div class="local sustainability-common" local-interaction="sustainability-01">
                            <div class="local-head design-1">
                                <div class="local-head-wrap">
                                    <div class="local-subject">
                                        <h2 class="local-name">
                                            <span class="wbr">Sustainability</span>
                                            <span class="wbr hide">보고서</span>
                                        </h2>
                                    </div>
                                    <div class="local-subject">
                                        <h2 class="local-name">
                                            <span class="wbr hide">Sustainability</span>
                                            <span class="wbr">보고서</span>
                                        </h2>
                                    </div>
                                    <picture class="local-figure">
                                        <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/report/local-mo.jpg">
                                        <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/report/local-pc.jpg">
                                        <img src="../../assets/images/photo/sustainability/report/local-pc.jpg" alt=" ">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <nav class="navi depth3">
                    <div class="navi-wrap">
                        <div class="navi-subject"><a href="#" title="현재 선택된 항목" class="navi-name">보고서</a></div>
                        <div class="tab-display">
                            <ul class="tab-list">
                                <li class="tab-item"><a href="#" class="tab-text">지속가능경영</a></li>
                                <li class="tab-item current" title="현재 선택된 항목"><a href="#" class="tab-text">보고서</a></li>
                                <li class="tab-item"><a href="#" class="tab-text">외부평가</a></li>
                                <li class="tab-item"><a href="#" class="tab-text">참여 이니셔티브</a></li>
                                <li class="tab-item"><a href="#" class="tab-text">ESG 규정 및 지침</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <section class="contents-section contents-section2">
                    <div class="contents-section-inner">
                        <div class="contents-section-head">
                            <h3 class="title design-1 case-2 align-1 large-v6 color-2">
                                <em class="name">Global Practice for Sustainability</em>
                            </h3>
                        </div>
                        <div class="contents-section-body">
                            <div class="contents-article contents-article1">
                                <div class="contents-article-inner">
                                    <div class="thumbnail-display design-1">
                                        <div class="thumbnail-list">
                                            <div class="thumbnail-item">
                                                <div class="thumbnail-wrap">
                                                    <div class="thumbnail-head">
                                                        <p class="subject">2022</p>
                                                        <p class="summary">지속가능경영<br class="br-pc">보고서</p>
                                                    </div>
                                                    <div class="thumbnail-inform">
                                                        <div class="thumbnail-head">
                                                            <picture class="thumbnail-figure">
                                                                <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/report/img-sus-report-2022-mo.png">
                                                                <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/report/img-sus-report-2022.png">
                                                                <img class="img" src="../../assets/images/photo/sustainability/report/img-sus-report-2022.png" alt=" ">
                                                            </picture>
                                                            <div class="button-display form-1 sort-1 align-3">
                                                                <div class="button-wrap form-1">
                                                                    <a href="javascript:void(0)" class="button design-1 case-3 medium align-3 fill-800 color-1 rtl icon-down-arrow01">
                                                                        <span class="button-text-core">KOR</span>
                                                                    </a>
                                                                    <a href="javascript:void(0)" class="button design-1 case-3 medium align-3 fill-800 color-1 rtl icon-down-arrow01">
                                                                        <span class="button-text-core">ENG</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="thumbnail-body">
                                                            <p class="para">
                                                                효성은 글로벌 시민으로서 기후변화 대응과 같은 환경적 책임부터 지속가능한 사회를 만드는 기업의 역할까지 깊이 인식하고, 이해관계자 여러분과 적극적으로 소통해 나가고자 합니다. 변화의 시대에 결코 변하지 않는 가치를 지키기 위해 효성은 ESG에 대한 역할과 책임을 다하는 믿고 신뢰할 수 있는 기업이 되고자 노력하고 있습니다.
                                                            </p>
                                                            <p class="para">
                                                                효성은 환경과 사회에 대한 역할과 책임을 다하는 신뢰할 수 있는 브랜드가 되도록 하겠습니다. 이는 정직하고 투명한 경영을 뜻하며, 가격이 아닌 차별적인 가치를 제공하는 혁신을 의미합니다. 또한 그 가치에는 효성의 가치사슬 내 모든 인권을 보호하고, 사회책임경영을 추구하는 것을 포함합니다.
                                                            </p>
                                                            <p class="para">
                                                                기업의 이해관계자 여러분께서 ESG를 성실히 이행하는지 가장 잘 확인하실 수 있는 매체가 ‘지속가능경영보고서’입니다. 효성의 기업 운영과 관련된 사항들은 본 보고서에 투명하게 공개함으로써 선언적 구호가 아닌 구체적인 데이터와 실천활동으로 보여질 것입니다. 이처럼 객관화된 자료를 바탕으로 여러분께 신뢰를 드리고, 함께 논의해 가기를 기대합니다.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contents-article contents-article2">
                                <div class="contents-article-inner">
                                    <div class="thumbnail-display design-2">
                                        <div class="thumbnail-list">
                                            <div class="thumbnail-item">
                                                <div class="thumbnail-wrap">
                                                    <div class="thumbnail-head">
                                                        <p class="subject">2021</p>
                                                    </div>
                                                    <div class="thumbnail-body">
                                                        <picture class="thumbnail-figure">
                                                            <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/report/img-sus-report-2021-mo.png">
                                                            <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/report/img-sus-report-2021.png">
                                                            <img class="img" src="../../assets/images/photo/sustainability/report/img-sus-report-2021.png" alt=" ">
                                                        </picture>
                                                        <p class="desc">2021년 지속가능경영 보고서</p>
                                                        <div class="button-display form-1 sort-1 align-3">
                                                            <div class="button-wrap form-1">
                                                                <a href="javascript:void(0)" class="button design-1 case-3 medium align-3 fill-800 color-1 rtl icon-down-arrow01">
                                                                    <span class="button-text-core">KOR</span>
                                                                </a>
                                                                <a href="javascript:void(0)" class="button design-1 case-3 medium align-3 fill-800 color-1 rtl icon-down-arrow01">
                                                                    <span class="button-text-core">ENG</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="thumbnail-wrap">
                                                    <div class="thumbnail-head">
                                                        <p class="subject">2020</p>
                                                    </div>
                                                    <div class="thumbnail-body">
                                                        <picture class="thumbnail-figure">
                                                            <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/report/img-sus-report-2020-mo.png">
                                                            <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/report/img-sus-report-2020.png">
                                                            <img class="img" src="../../assets/images/photo/sustainability/report/img-sus-report-2020.png" alt=" ">
                                                        </picture>
                                                        <p class="desc">2020년 지속가능경영 보고서</p>
                                                        <div class="button-display form-1 sort-1 align-3">
                                                            <div class="button-wrap form-1">
                                                                <a href="javascript:void(0)" class="button design-1 case-3 medium align-3 fill-800 color-1 rtl icon-down-arrow01">
                                                                    <span class="button-text-core">KOR</span>
                                                                </a>
                                                                <a href="javascript:void(0)" class="button design-1 case-3 medium align-3 fill-800 color-1 rtl icon-down-arrow01">
                                                                    <span class="button-text-core">ENG</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="thumbnail-item">
                                                <div class="thumbnail-wrap">
                                                    <div class="thumbnail-head">
                                                        <p class="subject">2019</p>
                                                    </div>
                                                    <div class="thumbnail-body">
                                                        <picture class="thumbnail-figure">
                                                            <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/report/img-sus-report-2019-mo.png">
                                                            <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/report/img-sus-report-2019.png">
                                                            <img class="img" src="../../assets/images/photo/sustainability/report/img-sus-report-2019.png" alt=" ">
                                                        </picture>
                                                        <p class="desc">2019년 지속가능경영 보고서</p>
                                                        <div class="button-display form-1 sort-1 align-3">
                                                            <div class="button-wrap form-1">
                                                                <a href="javascript:void(0)" class="button design-1 case-3 medium align-3 fill-800 color-1 rtl icon-down-arrow01">
                                                                    <span class="button-text-core">KOR</span>
                                                                </a>
                                                                <a href="javascript:void(0)" class="button design-1 case-3 medium align-3 fill-800 color-1 rtl icon-down-arrow01">
                                                                    <span class="button-text-core">ENG</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="thumbnail-wrap">
                                                    <div class="thumbnail-head">
                                                        <p class="subject">2018</p>
                                                    </div>
                                                    <div class="thumbnail-body">
                                                        <picture class="thumbnail-figure">
                                                            <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/report/img-sus-report-2018-mo.png">
                                                            <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/report/img-sus-report-2018.png">
                                                            <img class="img" src="../../assets/images/photo/sustainability/report/img-sus-report-2018.png" alt=" ">
                                                        </picture>
                                                        <p class="desc">2018년 지속가능경영 보고서</p>
                                                        <div class="button-display form-1 sort-1 align-3">
                                                            <div class="button-wrap form-1">
                                                                <a href="javascript:void(0)" class="button design-1 case-3 medium align-3 fill-800 color-1 rtl icon-down-arrow01">
                                                                    <span class="button-text-core">KOR</span>
                                                                </a>
                                                                <a href="javascript:void(0)" class="button design-1 case-3 medium align-3 fill-800 color-1 rtl icon-down-arrow01">
                                                                    <span class="button-text-core">ENG</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="thumbnail-item">
                                                <div class="thumbnail-wrap">
                                                    <div class="thumbnail-head">
                                                        <p class="subject">2016</p>
                                                    </div>
                                                    <div class="thumbnail-body">
                                                        <picture class="thumbnail-figure">
                                                            <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/report/img-sus-report-2016-mo.png">
                                                            <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/report/img-sus-report-2016.png">
                                                            <img class="img" src="../../assets/images/photo/sustainability/report/img-sus-report-2016.png" alt=" ">
                                                        </picture>
                                                        <p class="desc">2016년 지속가능경영 보고서</p>
                                                        <div class="button-display form-1 sort-1 align-3">
                                                            <div class="button-wrap form-1">
                                                                <a href="javascript:void(0)" class="button design-1 case-3 medium align-3 fill-800 color-1 rtl icon-down-arrow01">
                                                                    <span class="button-text-core">KOR</span>
                                                                </a>
                                                                <a href="javascript:void(0)" class="button design-1 case-3 medium align-3 fill-800 color-1 rtl icon-down-arrow01">
                                                                    <span class="button-text-core">ENG</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="thumbnail-wrap">
                                                    <div class="thumbnail-head">
                                                        <p class="subject">2012</p>
                                                    </div>
                                                    <div class="thumbnail-body">
                                                        <picture class="thumbnail-figure">
                                                            <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/report/img-sus-report-2012-mo.png">
                                                            <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/report/img-sus-report-2012.png">
                                                            <img class="img" src="../../assets/images/photo/sustainability/report/img-sus-report-2012.png" alt=" ">
                                                        </picture>
                                                        <p class="desc">2012년 지속가능경영 보고서</p>
                                                        <div class="button-display form-1 sort-1 align-3">
                                                            <div class="button-wrap form-1">
                                                                <a href="javascript:void(0)" class="button design-1 case-3 medium align-3 fill-800 color-1 rtl icon-down-arrow01">
                                                                    <span class="button-text-core">KOR</span>
                                                                </a>
                                                                <a href="javascript:void(0)" class="button design-1 case-3 medium align-3 fill-800 color-1 rtl icon-down-arrow01">
                                                                    <span class="button-text-core">ENG</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contents-article contents-article3">
                                <div class="contents-article-inner">
                                    <div class="data-display design-1 case-15 color-2">
                                        <ul class="data-list">
                                            <li class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <h3 class="title design-1 case-1 small-v2">
                                                            <em class="name">ESG 스토리</em>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="thumbnail-display design-21">
                                        <div class="thumbnail-list">
                                            <div class="thumbnail-item">
                                                <div class="thumbnail-wrap">
                                                    <div class="thumbnail-figure">
                                                        <img class="img" src="../../assets/images/photo/sustainability/sharing/img-thumb-story-02.jpg" alt=" ">
                                                    </div>
                                                    <div class="thumbnail-body">
                                                        <p class="para">효성, 기후변화 대응 위해 ‘TCFD’<br class="br-pc">
                                                            기후변화 관련 재무정보 공개 협의체 지지선언</p>
                                                        <p class="date">2023.03.08</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="thumbnail-item">
                                                <div class="thumbnail-wrap">
                                                    <div class="thumbnail-figure">
                                                        <img class="img" src="../../assets/images/photo/sustainability/sharing/img-thumb-story-01.jpg" alt=" ">
                                                    </div>
                                                    <div class="thumbnail-body">
                                                        <p class="para">효성, 기후변화 대응 위해 ‘TCFD’<br class="br-pc">
                                                            기후변화 관련 재무정보 공개 협의체 지지선언</p>
                                                        <p class="date">2023.03.08</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="thumbnail-item">
                                                <div class="thumbnail-wrap">
                                                    <div class="thumbnail-figure">
                                                        <img class="img" src="../../assets/images/photo/sustainability/sharing/img-thumb-story-03.jpg" alt=" ">
                                                    </div>
                                                    <div class="thumbnail-body">
                                                        <p class="para">효성, 기후변화 대응 위해 ‘TCFD’<br class="br-pc">
                                                            기후변화 관련 재무정보 공개 협의체 지지선언</p>
                                                        <p class="date">2023.03.08</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="thumbnail-item">
                                                <div class="thumbnail-wrap">
                                                    <div class="thumbnail-figure">
                                                        <img class="img" src="../../assets/images/photo/sustainability/sharing/img-thumb-story-04.jpg" alt=" ">
                                                    </div>
                                                    <div class="thumbnail-body">
                                                        <p class="para">효성, 기후변화 대응 위해 ‘TCFD’<br class="br-pc">
                                                            기후변화 관련 재무정보 공개 협의체 지지선언</p>
                                                        <p class="date">2023.03.08</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="thumbnail-item">
                                                <div class="thumbnail-wrap">
                                                    <div class="thumbnail-figure">
                                                        <img class="img" src="../../assets/images/photo/sustainability/sharing/img-thumb-story-05.jpg" alt=" ">
                                                    </div>
                                                    <div class="thumbnail-body">
                                                        <p class="para">효성, 기후변화 대응 위해 ‘TCFD’<br class="br-pc">
                                                            기후변화 관련 재무정보 공개 협의체 지지선언</p>
                                                        <p class="date">2023.03.08</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="thumbnail-item">
                                                <div class="thumbnail-wrap">
                                                    <div class="thumbnail-figure">
                                                        <img class="img" src="../../assets/images/photo/sustainability/sharing/img-thumb-story-06.jpg" alt=" ">
                                                    </div>
                                                    <div class="thumbnail-body">
                                                        <p class="para">효성, 기후변화 대응 위해 ‘TCFD’<br class="br-pc">
                                                            기후변화 관련 재무정보 공개 협의체 지지선언</p>
                                                        <p class="date">2023.03.08</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="thumbnail-item">
                                                <div class="thumbnail-wrap">
                                                    <div class="thumbnail-figure">
                                                        <img class="img" src="../../assets/images/photo/sustainability/sharing/img-thumb-story-07.jpg" alt=" ">
                                                    </div>
                                                    <div class="thumbnail-body">
                                                        <p class="para">효성, 기후변화 대응 위해 ‘TCFD’<br class="br-pc">
                                                            기후변화 관련 재무정보 공개 협의체 지지선언</p>
                                                        <p class="date">2023.03.08</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="thumbnail-item">
                                                <div class="thumbnail-wrap">
                                                    <div class="thumbnail-figure">
                                                        <img class="img" src="../../assets/images/photo/sustainability/sharing/img-thumb-story-08.jpg" alt=" ">
                                                    </div>
                                                    <div class="thumbnail-body">
                                                        <p class="para">효성, 기후변화 대응 위해 ‘TCFD’<br class="br-pc">
                                                            기후변화 관련 재무정보 공개 협의체 지지선언</p>
                                                        <p class="date">2023.03.08</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="thumbnail-item">
                                                <div class="thumbnail-wrap">
                                                    <div class="thumbnail-figure">
                                                        <img class="img" src="../../assets/images/photo/sustainability/sharing/img-thumb-story-09.jpg" alt=" ">
                                                    </div>
                                                    <div class="thumbnail-body">
                                                        <p class="para">효성, 기후변화 대응 위해 ‘TCFD’<br class="br-pc">
                                                            기후변화 관련 재무정보 공개 협의체 지지선언</p>
                                                        <p class="date">2023.03.08</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pagination-display design-1 case-1">
                                        <ul class="pagination-list">
                                            <li class="pagination-item">
                                                <a href="javascript:void(0)" class="button design-1 case-6 icon-left-arrow03">
                                                    <i class="button-text-core">
                                                        <span class="blind">prev</span>
                                                    </i>
                                                </a>
                                            </li>
                                            <li class="pagination-item active">
                                                <a href="javascript:void(0)" class="num">1</a>
                                            </li>
                                            <li class="pagination-item">
                                                <a href="javascript:void(0)" class="num">2</a>
                                            </li>
                                            <li class="pagination-item">
                                                <a href="javascript:void(0)" class="num">3</a>
                                            </li>
                                            <li class="pagination-item">
                                                <span class="dot">...</span>
                                            </li>
                                            <li class="pagination-item">
                                                <a href="javascript:void(0)" class="num">10</a>
                                            </li>
                                            <li class="pagination-item">
                                                <a href="javascript:void(0)" class="button design-1 case-6 icon-right-arrow03">
                                                    <i class="button-text-core">
                                                        <span class="blind">next</span>
                                                    </i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        <%-include('../include/kor/HTNCWK03FOOTER.ejs') %>
    </body>
</html>