<!DOCTYPE html>
<html lang="ko">
    <head>
        <%-include('../include/kor/HTNCWK00HEADMETACOMMON.ejs') %>
        <%-include('../meta-id/kor/HTNCWKD40D41W01.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSTYLE.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADFAVICON.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTLIBRARY.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTGSAP.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTLOADER.ejs') %>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                scrollEvent();
                resizeEvent();
                tncAccordion();

                subPageIntroWheel_02(); // 서브 공통 MouseWheel naviDepth3, naviDepth4
                localInteraction_04_01(); // 서브 공통 Info Interaction
                naviDepth3_Interaction_02(); // 서브 공통 naviDepth3 fixed,  naviDepth4 따라 내려옴

                contentsSubScrollEventCustom(); // 서브 공통 Section Active
            });

            function scrollEvent(){
                window.addEventListener('scroll', () => {
                    contentsSubScrollEventCustom();
                });
            }

            function resizeEvent(){
                window.addEventListener('resize', () => {
                });
            }
        </script>
    </head>
    <body class="tnc-site">
        <%-include('../include/kor/HTNCWK01HEADER.ejs') %>
        <main id="container" class="container tnc HTNCWKD40D41W01 sub">
            <h2 class="blind">컨테이너 영역</h2>
            <div class="container-inner">
                <section class="contents-section contents-section1">
                    <div class="contents-section-inner">
                        <div class="local sustainability-common" local-interaction="sustainability-01">
                            <div class="local-head design-1">
                                <div class="local-head-wrap">
                                    <div class="local-subject">
                                        <h2 class="local-name">
                                            <span class="wbr">Governance</span>
                                            <span class="wbr hide">윤리경영</span>
                                        </h2>
                                    </div>
                                    <div class="local-subject">
                                        <h2 class="local-name">
                                            <span class="wbr hide">Governance</span>
                                            <span class="wbr">윤리경영</span>
                                        </h2>
                                    </div>
                                    <picture class="local-figure">
                                        <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/ethical/local-mo.jpg">
                                        <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/ethical/local-pc.jpg">
                                        <img src="../../assets/images/photo/sustainability/ethical/local-pc.jpg" alt=" ">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <nav class="navi depth3">
                    <div class="navi-wrap">
                        <div class="navi-subject"><a href="#" title="현재 선택된 항목" class="navi-name">윤리경영</a></div>
                        <div class="tab-display">
                            <ul class="tab-list">
                                <li class="tab-item current" title="현재 선택된 항목"><a href="#" class="tab-text">윤리경영</a></li>
                                <li class="tab-item"><a href="#" class="tab-text">리스크 관리</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <nav class="navi depth4">
                    <div class="navi-wrap">
                        <div class="navi-subject"><a href="#" title="현재 선택된 항목" class="navi-name">윤리경영</a></div>
                        <div class="tab-display navi-swiper">
                            <ul class="tab-list swiper-wrapper">
                                <li class="tab-item swiper-slide"><a href="#" class="tab-text">윤리강령</a></li>
                                <li class="tab-item current swiper-slide" title="현재 선택된 항목"><a href="#" class="tab-text">제보센터</a></li>
                                <li class="tab-item swiper-slide"><a href="#" class="tab-text">제보확인하기</a></li>
                            </ul>
                        </div>
                        <script>
                            const naviSwiper = new Swiper(".navi-swiper", {
                                slidesPerView: 'auto',
                                freeMode: true,
                            });
                        </script>
                    </div>
                </nav>
                <section class="contents-section contents-section2">
                    <div class="contents-section-inner">
                        <div class="contents-section-head">
                            <div class="data-display design-1 case-2 color-2">
                                <ul class="data-list">
                                    <li class="data-item">
                                        <div class="data-wrap">
                                            <div class="data-head">
                                                <h3 class="title design-1 case-1 small-v2">
                                                    <em class="name">제보센터</em>
                                                </h3>
                                            </div>
                                            <div class="data-body">
                                                <p class="data-para">
                                                    효성티앤씨는 임직원 뿐 아니라 고객사, 협력사, 지역 사회 등 이해관계자 누구나 접근 가능한 제보 채널의 운영을 통해 법과 규정을 준수하고, 임직원과 이해관계자의 부당한 침해를 근절하며, 건전한 거래질서 확립하고자 노력하고 있습니다.
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="contents-section-body">
                            <div class="contents-article contents-article1 case-1">
                                <div class="contents-article-inner">
                                    <picture class="wide-area">
                                        <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/ethical/img-wide-ethical-01-mo.jpg">
                                        <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/ethical/img-wide-ethical-01.jpg">
                                        <img src="../../assets/images/photo/sustainability/ethical/img-wide-ethical-01.jpg" alt=" ">
                                    </picture>
                                </div>
                            </div>
                            <div class="contents-article contents-article2">
                                <div class="contents-article-inner">
                                    <div class="notice-area">
                                        <div class="data-display design-1 case-5 color-2">
                                            <ul class="data-list">
                                                <li class="data-item">
                                                    <div class="data-wrap">
                                                        <div class="data-body">
                                                            <p class="data-para">
                                                                하기 내용을 포함, 임직원의 규정 위반 행위, 금지 행위, 불법 행위 등<br class="br-pc" /> 신고 및 제보가 필요한 사안에 대해 제보해 주시기 바랍니다.
                                                            </p>
                                                        </div>
                                                        <div class="data-aside">
                                                            <ul class="tag-area">
                                                                <li class="tag">윤리강령 및 법규 위반</li>
                                                                <li class="tag">반부패 및 금품∙향응 요구 및 수수</li>
                                                                <li class="tag">거래 불만사항 및 공정거래 위반</li>
                                                                <li class="tag">직장 내 괴롭힘 및 직권오남용</li>
                                                                <li class="tag">임직원 고충사항</li>
                                                                <li class="tag">아동/강제노동 및 인권 침해</li>
                                                                <li class="tag">협력사 불만사항</li>
                                                                <li class="tag">사내정보 유출</li>
                                                                <li class="tag">회사 자산의 불법∙부당 사용</li>
                                                                <li class="tag">문서∙계수의 조작 및 부정적 보고</li>
                                                                <li class="tag">정보보안, 개인정보보호 침해</li>
                                                                <li class="tag">기타 위법 및 부당행위 사항</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contents-article contents-article3">
                                <div class="contents-article-inner">
                                    <div class="data-display design-1 case-2 color-2">
                                        <ul class="data-list">
                                            <li class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <h3 class="title design-1 case-1 small-v2">
                                                            <em class="name">제보자 보호 프로그램</em>
                                                        </h3>
                                                    </div>
                                                    <div class="data-body">
                                                        <p class="data-para">
                                                            <ul class="order-list design-1 usual-1 case-2 large type-2 align-1">
                                                                <li class="order-item">효성티앤씨는 윤리강령, 윤리강령 실천지침, 인권 방침 및 원칙에 기반하여 제보자를 보호하고 지원합니다.</li>
                                                                <li class="order-item">제보를 활성화하기 위하여 제보자에 대한 비밀보장, 불이익조치 금지, 책임의 감면 등을 통하여 제보자를 보호합니다.</li>
                                                                <li class="order-item">제보자 본인의 동의 없이 어떠한 정보도 공개하지 않으며, 관련 이해관계자들에 대한 제보 정보도 철저히 보호합니다.</li>
                                                                <li class="order-item">제보에 대한 사실 확인 과정에서의 진술, 자료제공 등의 방법으로 조사에 협조한 분도 동일하게 보호하고 지원합니다.</li>
                                                                <li class="order-item">제보로 인한 불이익 처분을 받았을 경우, 제보자 및 관련자는 해당 사항에 대한 시정과 보호를 요청할 수 있으며 회사는 불이익 최소화를 위한 모든 조치를 취할 것을 약속합니다.</li>
                                                                <li class="order-item">위법 및 비윤리 행위에 가담했으나 이에 대한 사실을 자진 신고 시, 행위에 대한 제재를 감면할 수 있습니다.</li>
                                                            </ul>
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="contents-article contents-article4">
                                <div class="contents-article-inner">
                                    <div class="data-display design-1 case-2 color-2">
                                        <ul class="data-list">
                                            <li class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <h3 class="title design-1 case-1 small-v2">
                                                            <em class="name">제보하기</em>
                                                        </h3>
                                                    </div>
                                                    <div class="data-body">
                                                        <p class="data-para">
                                                            소중한 한마디를 통해 정직하고 신뢰 받는 기업이 되겠습니다. 효성티앤씨는 제보 내용의 조사 필요성 확인 후 진행 된 처리결과를 안내하고 있습니다. 제보 내용, 범위에 따라 조사 개시일, 조사기간이 달라질 수 있습니다.
                                                        </p>
                                                    </div>
                                                    <div class="data-aside">
                                                        <div class="ethical-wrap">
                                                            <div class="ethical-btn">
                                                                <div class="button-display form-1 sort-1 align-3">
                                                                    <a href="javascript:void(0)" class="button-wrap form-1">
                                                                        <span class="button design-1 case-1 medium align-3 fill-800 color-1">
                                                                            <span class="button-text-core">실명으로 제보하기</span>
                                                                        </span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="ethical-btn">
                                                                <div class="button-display form-1 sort-1 align-3">
                                                                    <a href="javascript:void(0)" class="button-wrap form-1">
                                                                        <span class="button design-1 case-1 medium align-3 fill-800 color-1">
                                                                            <span class="button-text-core">익명으로 제보하기</span>
                                                                        </span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="contents-article contents-article5">
                                <div class="contents-article-inner">
                                    <div class="data-display design-1 case-2 color-2">
                                        <ul class="data-list">
                                            <li class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <h3 class="title design-1 case-1 small-v2">
                                                            <em class="name">기타제안</em>
                                                        </h3>
                                                    </div>
                                                    <div class="data-body">
                                                        <p class="data-para">
                                                            ESG경영, 지속가능경영과 관련된 문의사항은 아래 메일 주소로 문의 부탁 드립니다.
                                                        </p>
                                                        <p class="data-para">
                                                            <a href="mailto:csr_tnc@hyosung.com" class="email">Email : <span class="line">csr_tnc@hyosung.com</span></a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="contents-article contents-article6">
                                <div class="contents-article-inner">
                                    <div class="data-display design-1 case-2 color-2">
                                        <div class="data-list">
                                            <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <h3 class="title design-1 case-1 small-v2">
                                                            <em class="name">처리 절차</em>
                                                        </h3>
                                                    </div>
                                                    <div class="data-body">
                                                        <div class="data-display ethical-6">
                                                            <ul class="data-list">
                                                                <li class="data-item">
                                                                    <div class="data-wrap">
                                                                        <div class="data-head">
                                                                            <h3 class="title design-1 case-1 align-1 small-v9 color-2">
                                                                                <em class="name">① 제보 접수</em>
                                                                            </h3>
                                                                        </div>
                                                                        <div class="data-body">
                                                                            <p class="data-para">
                                                                                제보자는 제보센터를 통해서 실명 또는 익명으로 부정비리 행위 등을 제보할 수 있으며 접수 후 제보등록 안내 메일이 발송됩니다. 동시에 제보센터 담당자가 등록내용을 확인할 수 있습니다.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="data-wrap">
                                                                        <div class="data-head">
                                                                            <h3 class="title design-1 case-1 align-1 small-v9 color-2">
                                                                                <em class="name">② 제보 확인</em>
                                                                            </h3>
                                                                        </div>
                                                                        <div class="data-body">
                                                                            <p class="data-para">
                                                                                제보센터 담당자는 제보내용을 신분 보호의 원칙하에 확인하고 조사필요성 판단 후 이뤄지는 감사 과정은 당사 조사규정에 따라 진행됩니다. 조사 과정 前, 조사필요성이 없다고 판단될 시에 객관적인 근거와 함께 조사필요성이 없다는 의견을 조치내역에 등록되고 제보자에게 안내 메일이 발송됩니다. (단, 조사필요성이 있다고 판단될 시에는 조치내역이 아닌 조사진행이 등록되고 안내 메일이 제보자에게 발송됩니다.)
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="data-wrap">
                                                                        <div class="data-head">
                                                                            <h3 class="title design-1 case-1 align-1 small-v9 color-2">
                                                                                <em class="name">③ 조사 및 조사 완료</em>
                                                                            </h3>
                                                                        </div>
                                                                        <div class="data-body">
                                                                            <p class="data-para">
                                                                                객관적인 근거 확보 및 조치를 통해 제보 내용의 사실 여부가 확인되면 조사계획을 수립하여 조사를 진행합니다. 제보센터에 해당 제보에 대한 조치 결과 내역이 등록되고, 과거 실명제보, 익명제보, 조치내역 통계에 대한 내용을 확인할 수 있습니다.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="data-wrap">
                                                                        <div class="data-head">
                                                                            <h3 class="title design-1 case-1 align-1 small-v9 color-2">
                                                                                <em class="name">④ 종결 및 처리결과 확인</em>
                                                                            </h3>
                                                                        </div>
                                                                        <div class="data-body">
                                                                            <p class="data-para">
                                                                                조사 완료 후 내부 규정에 따라 처리되며 종결처리를 하게 됩니다. 실명제보자의 경우, 제보자가 등록한 이메일로 조치내역이 발송되며, 익명제보자의 경우, 제보센터 내 익명제보 확인하기 페이지를 통해서 조치를 확인할 수 있습니다.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="button-display form-1 sort-1 align-1">
                                                            <div class="button-wrap form-1">
                                                                <button href="javascript:void(0)" class="button design-1 case-1 medium align-3 fill-800 color-1 icon-down-arrow01">
                                                                    <span class="button-text-core">제보 프로세스</span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        <%-include('../include/kor/HTNCWK03FOOTER.ejs') %>
    </body>
</html>