<!DOCTYPE html>
<html lang="ko">
    <head>
        <%-include('../include/kor/HTNCWK00HEADMETACOMMON.ejs') %>
        <%-include('../meta-id/kor/HTNCWKD40D13W01.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSTYLE.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADFAVICON.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTLIBRARY.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTGSAP.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTLOADER.ejs') %>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                scrollEvent();
                resizeEvent();
                
                subPageIntroWheel_01(); // 서브 공통 MouseWheel naviDepth3, naviDepth4
                localInteraction_04_01(); // 서브 공통 Info Interaction
                naviDepth3_Interaction_01(); // 서브 공통 naviDepth3 fixed,  naviDepth4 따라 내려옴

                contentsSubScrollEventCustom(); // 서브 공통 Section Active
            });
        
            function scrollEvent(){
                window.addEventListener('scroll', () => {
                    contentsSubScrollEventCustom();
                });
            }

            function resizeEvent(){
                window.addEventListener('resize', () => {
                });
            }
        </script>
    </head>
    <body class="tnc-site">
        <%-include('../include/kor/HTNCWK01HEADER.ejs') %>
        <main id="container" class="container tnc HTNCWKD40D13W01 sub">
            <div class="container-inner">
                <section class="contents-section contents-section1">
                    <div class="contents-section-inner">
                        <div class="local sustainability-common" local-interaction="sustainability-01">
                            <div class="local-head design-1">
                                <div class="local-head-wrap">
                                    <div class="local-subject">
                                        <h2 class="local-name">
                                            <span class="wbr">Sustainability</span>
                                            <span class="wbr hide">참여 이니셔티브</span>
                                        </h2>
                                    </div>
                                    <div class="local-subject">
                                        <h2 class="local-name">
                                            <span class="wbr hide">Sustainability</span>
                                            <span class="wbr">참여 이니셔티브</span>
                                        </h2>
                                    </div>
                                    <picture class="local-figure">
                                        <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/initiative/local-mo.jpg">
                                        <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/initiative/local-pc.jpg">
                                        <img src="../../assets/images/photo/sustainability/initiative/local-pc.jpg" alt=" ">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <nav class="navi depth3">
                    <div class="navi-wrap">
                        <div class="navi-subject"><a href="#" title="현재 선택된 항목" class="navi-name">참여 이니셔티브</a></div>
                        <div class="tab-display">
                            <ul class="tab-list">
                                <li class="tab-item"><a href="#" class="tab-text">지속가능경영</a></li>
                                <li class="tab-item"><a href="#" class="tab-text">보고서</a></li>
                                <li class="tab-item"><a href="#" class="tab-text">외부평가</a></li>
                                <li class="tab-item current" title="현재 선택된 항목"><a href="#" class="tab-text">참여 이니셔티브</a></li>
                                <li class="tab-item"><a href="#" class="tab-text">ESG 정책</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <section class="contents-section contents-section2">
                    <div class="contents-section-inner">
                        <div class="contents-section-head">
                            <h3 class="title design-1 case-2 align-1 medium">
                                <em class="name">사회적 책임 이니셔티브</em>
                            </h3>
                        </div>
                        <div class="contents-section-body">
                            <div class="contents-article contents-article1">
                                <div class="contents-article-inner">
                                    <div class="thumbnail-display design-5">
                                        <div class="thumbnail-list">
                                            <div class="thumbnail-wrap">
                                                <div class="thumbnail-item">
                                                    <div class="thumbnail-head">
                                                        <p class="subject">
                                                            Initiative for<br>social responsibility
                                                        </p>
                                                        <div class="thumbnail-figure">
                                                            <img class="img" src="../../assets/images/photo/sustainability/initiative/img-photo-01.jpg" alt=" ">
                                                        </div>
                                                    </div>
                                                    <div class="thumbnail-body">
                                                        <p class="para">
                                                            사회적 책임 이니셔티브란, 사회적 책임과 관련된 특정 목표를 달성하기 위해 분명하게 기여하는 프로그램 또는 활동을 말합니다.
                                                            효성티앤씨는 책임있는 기업으로서 우리 사회의 지속가능발전에 기여한다는 분명한 목적의식 아래, 효성티앤씨가 영위하고 있는 사업 또는 환경과 사회의 지속가능성과 관련한 다양한 국내외 이니셔티브에 참가하여 우리 사회의 긍정적 변화를 위한 영향력을
                                                            넓히고자 합니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="contents-article contents-article2">
                                    <div class="contents-article-inner">
                                        <div class="thumbnail-display design-4">
                                            <div class="thumbnail-list">
                                                <div class="thumbnail-item">
                                                    <div class="thumbnail-wrap">
                                                        <picture class="thumbnail-figure">
                                                            <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/initiative/img-mark-01-mo.png">
                                                            <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/initiative/img-mark-01.png">
                                                            <img class="img" src="../../assets/images/photo/sustainability/initiative/img-mark-01.png" alt="TCFD">
                                                        </picture>
                                                        <div class="thumbnail-inform">
                                                            <p class="thumbnail-head">TCFD 기후 관련 재무정보 공개 협의체</p>
                                                            <div class="tnumbnail-body">
                                                                <p class="para">
                                                                    TCFD는 2015년 주요 20개국(G20) 재무장관회의에서 금융안정위원회(FSB)가 기후변화 관련 정보의 공개를 위해 설립한 글로벌 협의체입니다.
                                                                </p>
                                                                <p class="para">
                                                                    TCFD 이행 과정에서 향후 기업의 글로벌 경쟁력의 핵심 요소인 기후변화 대응 및 ESG경영을 지속적으로 강화하기 위해 지주사인 ㈜효성을 포함해 효성티앤씨㈜, 효성중공업㈜, 효성첨단소재㈜, 효성화학㈜ 등 주요 4개 계열사가 모두 TCFD 지지선언을 하였습니다.
                                                                </p>
                                                                <p class="para">
                                                                    효성티앤씨 지속가능보고서에 TCFD 권고안을 반영한 기후 정보를 투명하게 공개하고 있습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="thumbnail-item">
                                                    <div class="thumbnail-wrap">
                                                        <picture class="thumbnail-figure">
                                                            <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/initiative/img-mark-02-mo.png">
                                                            <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/initiative/img-mark-02.png">
                                                            <img class="img" src="../../assets/images/photo/sustainability/initiative/img-mark-02.png" alt="CDP">
                                                        </picture>
                                                        <div class="thumbnail-inform">
                                                            <p class="thumbnail-head">CDP 탄소정보공개프로젝트</p>
                                                            <div class="tnumbnail-body">
                                                                <p class="para">
                                                                    CDP는 환경 보고 및 위험 관리를 비즈니스 표준으로 만들고 지속 가능한 경제를 향한 공개, 통찰력 및 행동을 주도하는 것을 목표로 설립된 국제 비영리 단체로, 기업이 CDP를 통해 온실가스 배출량, 기후변화로 인한 위기와 기회, 탄소경영전략을 공개하도록 지원하고 있습니다.
                                                                </p>
                                                                <p class="para">
                                                                    효성티앤씨는 2021년부터 CDP에 기업의 전략과 운영에 대한 보고서를 제출하고 있으며, 이를 홈페이지에 게시하여 투명하게 공개하고 있습니다.
                                                                </p>
                                                                <div class="button-display form-1 sort-2 align-1">
                                                                    <div class="button-wrap form-1">
                                                                        <a href="javascript:void(0)" class="button design-1 case-5 small align-3 color-1 line-900 border-width-2 rtl icon-right-arrow01">
                                                                            <span class="button-text-core">최신 CDP 보고서 바로가기</span>
                                                                        </a>
                                                                        <a href="javascript:void(0)" class="button design-1 case-5 small align-3 color-1 line-900 border-width-2 rtl icon-right-arrow01">
                                                                            <span class="button-text-core">CDP 평가등급 바로가기</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        <%-include('../include/kor/HTNCWK03FOOTER.ejs') %>
    </body>
</html>