<!DOCTYPE html>
<html lang="ko">
    <head>
        <%-include('../include/kor/HTNCWK00HEADMETACOMMON.ejs') %>
        <%-include('../meta-id/kor/HTNCWKD10D10W01.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSTYLE.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADFAVICON.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTLIBRARY.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTGSAP.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTLOADER.ejs') %>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                scrollEvent();
                resizeEvent();

                subPageIntroWheel_01(); // 서브 공통 MouseWheel naviDepth3, naviDepth4
                localInteraction_04_01(); // 서브 공통 Info Interaction
                naviDepth3_Interaction_01(); // 서브 공통 naviDepth3 fixed,  naviDepth4 따라 내려옴

                contentsSubScrollEventCustom(); // 서브 공통 Section Active
            });

            function scrollEvent(){
                window.addEventListener('scroll', () => {
                    contentsSubScrollEventCustom();
                });
            }

            function resizeEvent(){
                window.addEventListener('resize', () => {
                });
            }
        </script>
    </head>
    <body class="tnc-site">
        <%-include('../include/kor/HTNCWK01HEADER.ejs') %>
        <main id="container" class="container tnc HTNCWKD40D10W01 sub">
            <h2 class="blind">컨테이너 영역</h2>
            <div class="container-inner">
                <section class="contents-section contents-section1">
                    <div class="contents-section-inner">
                        <div class="local sustainability-common" local-interaction="sustainability-01">
                            <div class="local-head design-1">
                                <div class="local-head-wrap">
                                    <div class="local-subject">
                                        <h2 class="local-name">
                                            <span class="wbr">Sustainability</span>
                                            <span class="wbr hide">지속가능경영</span>
                                        </h2>
                                    </div>
                                    <div class="local-subject">
                                        <h2 class="local-name">
                                            <span class="wbr hide">Sustainability</span>
                                            <span class="wbr">지속가능경영</span>
                                        </h2>
                                    </div>
                                    <picture class="local-figure">
                                        <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/sustainable/local-mo.jpg">
                                        <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/sustainable/local-pc.jpg">
                                        <img src="../../assets/images/photo/sustainability/sustainable/local-pc.jpg" alt=" ">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <nav class="navi depth3">
                    <div class="navi-wrap">
                        <div class="navi-subject"><a href="#" title="현재 선택된 항목" class="navi-name">지속가능경영</a></div>
                        <div class="tab-display">
                            <ul class="tab-list">
                                <li class="tab-item current" title="현재 선택된 항목"><a href="#" class="tab-text">지속가능경영</a></li>
                                <li class="tab-item"><a href="#" class="tab-text">보고서</a></li>
                                <li class="tab-item"><a href="#" class="tab-text">외부평가</a></li>
                                <li class="tab-item"><a href="#" class="tab-text">참여 이니셔티브</a></li>
                                <li class="tab-item"><a href="#" class="tab-text">ESG 규정 및 지침</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <section class="contents-section contents-section2">
                    <div class="contents-section-inner">
                        <div class="contents-section-head">
                            <h3 class="title design-1 case-1 medium align-3 color-1">
                                <em class="name">RE:GEN</em>
                            </h3>
                            <p class="title design-1 case-1 small-v2 align-3 color-1">
                                <em class="name">
                                    효성 ESG 브랜드 RE:GEN<br /> 
                                    모든 세대의 미래를 위한 응답
                                </em>
                            </p>
                        </div>
                        <div class="contents-section-body">
                            <div class="contents-article contents-article1">
                                <div class="contents-article-inner">
                                    <div class="data-display design-1 case-3 color-10">
                                        <ul class="data-list">
                                            <li class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <h4 class="title design-1 case-1 small-v2">
                                                            <em class="name">ESG 브랜드<br class="br-mo" /> “RE:GEN”의 도입 배경</em>
                                                        </h4>
                                                    </div>
                                                    <div class="data-body">
                                                        <p class="data-para">
                                                            효성 그룹은 그룹 경영 전반에서 ESG를 실천하고자 노력하고 있을 뿐 아니라, 그룹 각 계열사 혁신의 중심에 “ESG”적 가치가 자리잡도록 노력해 왔습니다.<br /> 
                                                            이에 대한 기술적 및 사업적 실체들이 축적되어 감에 따라 그룹의 내부 구성원, 파트너, 그리고 고객에 이르기까지 ESG에 대한 동참과 확산을 위해<br class="br-pc" />
                                                            "RE:GEN 모든 세대의 미래를 위한 응답"이라는 2023년 ESG 브랜드를 도입하였습니다.
                                                        </p>
                                                    </div>
                                                    <div class="data-aside">
                                                        <div class="thumbnail-display design-26">
                                                            <div class="thumbnail-list">
                                                                <div class="thumbnail-item">
                                                                    <div class="thumbnail-wrap">
                                                                        <picture class="thumbnail-figure">
                                                                            <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/sustainable/img-thumb-01-mo.png">
                                                                            <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/sustainable/img-thumb-01.png">
                                                                            <img class="img" src="../../assets/images/photo/sustainability/sustainable/img-thumb-01.png" alt=" ">
                                                                        </picture>
                                                                        <div class="tumbnail-body">
                                                                            <p class="para">
                                                                                효성은 ESG가 단순히 선의에 그치거나, 사업의 부가적 활동에 그쳐서는 모든 세대의 인류가 원하는 더 지속가능하고 안전한 지구와 사회에 이를 수 없다고 생각합니다.
                                                                            </p>
                                                                            <p class="para">
                                                                                따라서 효성이 가지고 있는 사업적, 기술적 실체를 바탕으로 단순한 선의에 그치지 않고, 사업의 핵심에 ESG가 놓일 수 있도록, 또 효성 구성원만의 가치가 아닌 효성과 공감하는 모든 사람의 가치로 확산할 수 있는 진정성 있는 노력이어야 한다고 생각합니다. 또한 창업 시점부터 가져 온 효성의 전통인 기술 DNA가 이와 같은 모든 세대의 바램을 현실로 만드는 데 기여할 수 있다고 생각합니다.
                                                                            </p>
                                                                            <p class="para">
                                                                                효성이 RE:GEN이라는 ESG 브랜드를 도입한 이유와 이와 같은 실체와 가치 그리고 기술이 결합되어 실체 중심의 ESG, 실효성 있는 ESG가 되기 위한 대내외적 역량의 결집을 위해서입니다.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="thumbnail-item">
                                                                    <div class="thumbnail-wrap">
                                                                        <picture class="thumbnail-figure">
                                                                            <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/sustainable/img-thumb-02-mo.png">
                                                                            <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/sustainable/img-thumb-02.png">
                                                                            <img class="img" src="../../assets/images/photo/sustainability/sustainable/img-thumb-02.png" alt=" ">
                                                                        </picture>
                                                                        <div class="tumbnail-body">
                                                                            <p class="para">
                                                                                효성은 사내에 수많은 ESG 자산을 이미 보유하고 있으며, 이를 단편적 기업이미지 개선 작업에 빠질 수 있는 일반적 오류를 지양하고, 그 자산들을 체계화하며, 대외적 공감을 확산하는 것과 동시에 이것이 산업적 생태계, 즉 ESG가 중심에 놓이는 선순환 구조를 만들고자 노력하고 있습니다.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="contents-article contents-article2">
                                <div class="contents-article-inner">
                                    <div class="data-display design-1 case-3 color-10">
                                        <ul class="data-list">
                                            <li class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <h4 class="title design-1 case-1 small-v2">
                                                            <em class="name">RE:GEN 브랜드 아이덴티티</em>
                                                        </h4>
                                                    </div>
                                                    <div class="data-body">
                                                        <p class="data-para">
                                                            “RE:GEN”은 "Reply to Every Generation's Future"라는 의미를 축약한 조어입니다. 오늘을 사는 세대 뿐 아니라 미래 세대가 누려야 할 더 안전하고 번영된 세상을 위한 ESG 기술과 솔루션을 개발하겠다는 의지를 담고 있습니다. 2023년 런칭한 이 브랜드는 대내외적으로 효성이 지향하는 ESG의 가치를 담고 있습니다. 또한 효성의 ESG는 이를 위한 핵심 가치들을 함께 담음으로써, 더 나은 세계를 향한 효성의 약속이기도 합니다.
                                                        </p>
                                                    </div>
                                                    <div class="data-aside">
                                                        <div class="diagram-display design-1">
                                                            <div class="diagram-wrap">
                                                                <div class="diagram-body">
                                                                    <picture class="picture">
                                                                        <source media="(max-width: 1023px)" srcset="../../assets/images/diagram/sustainability/management/diagram-sustainabilitymanagement-01-mo.svg">
                                                                        <source media="(max-width: 1920px)" srcset="../../assets/images/diagram/sustainability/management/diagram-sustainabilitymanagement-01-pc.svg">
                                                                        <img class="img" src="../../assets/images/diagram/sustainability/management/diagram-sustainabilitymanagement-01-pc.svg" alt="아래 항목 참고">
                                                                    </picture>
                                                                </div>
                                                                <div class="diagram-footer">
                                                                    <h4>ESG Brand</h4>
                                                                    <ul>
                                                                        <li>RE:GEN</li>
                                                                    </ul>
                                                                    <h4>Brand Vision</h4>
                                                                    <ul>
                                                                        <li>Brand Vision</li>
                                                                    </ul>
                                                                    <h4>Brand Mission</h4>
                                                                    <ul>
                                                                        <li>기술 DNA를 기반으로 모든 세대의 지속가능한 미래에 응답할 수 있도록 끊임없는 혁신과 노력</li>
                                                                    </ul>
                                                                    <h4>Brand Essence</h4>
                                                                    <ul>
                                                                        <li>모든 세대를 위한 응답</li>
                                                                    </ul>
                                                                    <h4>Core Identity </h4>
                                                                    <ul>
                                                                        <li>Team Up (순환경제, 사회적 약자 배려)</li>
                                                                        <li>Act Together (탄소중립)</li>
                                                                        <li>Best Efforts (수소ㆍ재생 에너지)</li>
                                                                        <li>Design Smart (탄소저감 및 사회적 약자 배려)</li>
                                                                    </ul>
                                                                    <h4>Brand Slogan</h4>
                                                                    <ul>
                                                                        <li>Reply to Every Generation’s Future</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="contents-article contents-article3">
                                <div class="contents-article-inner">
                                    <div class="data-display design-1 case-3 color-10">
                                        <ul class="data-list">
                                            <li class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <h4 class="title design-1 case-1 small-v2">
                                                            <em class="name">RE:GEN 로고</em>
                                                        </h4>
                                                    </div>
                                                    <div class="data-aside">
                                                        <div class="thumbnail-display design-27">
                                                            <div class="thumbnail-list">
                                                                <div class="thumbnail-item">
                                                                    <div class="thumbnail-wrap">
                                                                        <picture class="thumbnail-figure">
                                                                            <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/sustainable/img-thumb-03-mo.png">
                                                                            <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/sustainable/img-thumb-03.png">
                                                                            <img class="img" src="../../assets/images/photo/sustainability/sustainable/img-thumb-03.png" alt="RE:GEN">
                                                                        </picture>
                                                                        <div class="tumbnail-body">
                                                                            <p class="para">
                                                                                RE:GEN 시각화는 누구라도 효성과 효성의 파트너들의 진정성을 이해하고, 더 많은 소비자들이 신뢰할 수 있고 또한 그들이 함께 참여하는 ESG가 될 수 있도록 하는데 그 목적이 있습니다.
                                                                            </p>
                                                                            <p class="para">
                                                                                RE:GEN BI는 특정한 트렌드와 제한된 타겟에 어필하는 것에 그치지 않고, 모든 세대를 아우를 수 있는 친근한 디자인과 기술을 통한 생태계의 선순환이라는 가치를 명확하게 전달함으로써 모두가 참여할 수 있는 “선의의 행동”에 대한 상징으로서 디자인 개발에 초점을 두었습니다.
                                                                            </p>
                                                                            <p class="para">
                                                                                구체적으로 ① [Friendly] 딱딱하고 일방향적인 전달이 아닌 따뜻하고 친근한 이미지를 가지며, ② [Easy] 복잡하고 어려운 ESG정보를 쉽고 직관적으로 전달할 수 있어야 하며, ③ [Smart] 새로운 기술력을 바탕으로 더 스마트한 방식으로 ESG를 근본적으로 새롭게 추진할 수 있어야 하며, ④ [Genuine] 미래를 위해 행동하는 진정성을 함께 담고 있습니다.
                                                                            </p>
                                                                            <p class="para">
                                                                                RE:GEN BI는 누구나 이 이미지를 있는 이미지를 통해 더 나은 세대를 위한 ESG 행동에 공감하고 참여의지를 높이는데 기여할 것입니다.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="contents-article contents-article4">
                                <div class="contents-article-inner">
                                    <div class="data-display design-1 case-3 color-10">
                                        <ul class="data-list">
                                            <li class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <h4 class="title design-1 case-1 small-v2">
                                                            <em class="name">브랜드 아키텍처</em>
                                                        </h4>
                                                    </div>
                                                    <div class="data-body">
                                                        <p class="data-para">
                                                            효성그룹의 ESG 브랜드 테마는 크게 5개의 가치를 반영하여 이를 RE:GEN을 구성하는 다섯 개의 기둥이 되는 테마 브랜드로 구성되어 있습니다.
                                                        </p>
                                                    </div>
                                                    <div class="data-aside">
                                                        <div class="thumbnail-display design-28">
                                                            <div class="thumbnail-list">
                                                                <div class="thumbnail-item">
                                                                    <div class="thumbnail-wrap">
                                                                        <picture class="thumbnail-figure">
                                                                            <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/sustainable/img-thumb-04-mo.png">
                                                                            <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/sustainable/img-thumb-04.png">
                                                                            <img class="img" src="../../assets/images/photo/sustainability/sustainable/img-thumb-04.png" alt="RE:GEN RECYCLE, UPCYLE, ZERO, SAVE, NEW ENERGY logo">
                                                                        </picture>
                                                                        <div class="thumbnail-inform">
                                                                            <div class="data-list">
                                                                                <div class="data-item">
                                                                                    <div class="data-wrap">
                                                                                        <p class="data-head">RECYCLE &amp; UPCYLE</p>
                                                                                        <p class="data-body">
                                                                                            효성은 버려진 플라스틱과 소재에 새롭게 생명을 부여하는 순환경제를 위한 활동을 하고 있습니다. 원료 개발부터 생산과 운송, 그리고 제품이 사용되는 순간까지, 모든 순간에 Zero-Waste를 실천하기 위해 친환경 순환 시스템을 구축하고 있습니다.<br>
                                                                                            2007년, 효성은 해양 생태계를 위협하는 폐어망에서 회수한 원료로 리젠 나일론 원사를 뽑아내는 기술을 세계 최초로 개발하였고, 2008년에는 국내 최초로 폐페트병을 재활용한 리젠 폴리에스터 원사를 개발하여 생산하였습니다. 그리고 효성은 다양한 업체와 협업을 통한 자원 업사이클에도 노력을 아끼지 않습니다.
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="data-item">
                                                                                    <div class="data-wrap">
                                                                                        <p class="data-head">ZERO</p>
                                                                                        <p class="data-body">
                                                                                            효성은 모든 제품과 생산공정에서 발생하는 탄소를 최소화하는 Net-Zero 실천을 위해 연구개발부터 출하에 이르는 모든 과정을 새롭게 분석하고 효율적인 개선 방법을 연구하여 탄소중립에 기여하고 있습니다. 그리고 탄소감축에 기여하는 에너지저장장치 ESS, 탄소섬유, 폴리케톤 등 다양한 제품들이 개발되고 있습니다. 물론, 버려진 플라스틱으로 원사를 만들면 자원의 선순환과, 탄소 절감의 효과까지 있습니다.
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="data-item">
                                                                                    <div class="data-wrap">
                                                                                        <p class="data-head">NEW ENERGY</p>
                                                                                        <p class="data-body">
                                                                                            효성은 화석 에너지를 대체할 수소와 신재생에너지의 역할에 주목하고 있습니다. 수소가 우리 삶의 주요 에너지원으로 안전하게 활용될 수 있도록 혁신적인 기술 개발을 통해 점진적으로 나아가고 있습니다. 더불어, 효성이 만드는 소재에도, 기술에도, 운송과 공급 체계에도 자연의 에너지를 사용하는 것이 효성이 지구를 지키고 미래 세대를 위하는 방법입니다.
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="data-item">
                                                                                    <div class="data-wrap">
                                                                                        <p class="data-head">SAVE</p>
                                                                                        <p class="data-body">
                                                                                            인류의 과도한 자원 남용은 이제 큰 위협으로 돌아오고 있습니다. 효성은 지구 환경에 유해한 요소를 줄이고 자원 사용을 절감하기 위한 친환경 기술 개발에 노력하고 있습니다. 제품 소재와 부품의 운용체계 등 전반에 이르는 스마트한 에너지 네트워크를 구축하고자 합니다.<br> 여기에 더해 효성은 디지털 데스크 기술을 선보이며 금융권에서도 대면하지 않고, 종이 사용 없이 업무의 디지털화를 가속하고 있습니다. 대기 에너지가 우리가 사용하지 않을 때에도 자연이 주는 수소를, 태양광을, 또는 바람을 사용하지 않도록, STATCOM과 ESS 기술을 통해 에너지를 효율적으로 사용하도록 설계하고 절약을 실천합니다.
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="contents-article contents-article5">
                                <div class="contents-article-inner">
                                    <div class="data-display design-1 case-3 color-10">
                                        <ul class="data-list">
                                            <li class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <h4 class="title design-1 case-1 small-v2">
                                                            <em class="name">RE:GEN 브랜드의 발전 방향</em>
                                                        </h4>
                                                    </div>
                                                    <div class="data-body">
                                                        <p class="data-para">
                                                            효성은 이와 같은 ESG 브랜드를 바탕으로 보다 실질적인 시업실체 구축에 만전을 기하고, 각 계열사들의 ESG 노력과 대외적 파트너들과 그 의지의 확산을 위해 노력하고자 계획을 수립, 전개해 가고 있습니다. 실질적인 ESG 브랜드가 되기 위해서 효성은 이를 반영한 제품들이 더 많은 고객사와 최종 사용자들에게 다가갈 수 있도록 지원하는 마케팅 및 커뮤니케이션 노력도 강화할 것입니다. 2023년 효성그룹은 주요 계열사들 또한 이와 같은 RE:GEN 취지에 발맞춰 그룹 ESG인 RE:GEN에 바탕을 두면서 자사의 사업적 특성을 접목해 사별 ESG 브랜드 비전과 지향점인 에센스를 도입했습니다. 또한 각 계열사별 ESG 브랜드는 각사의 브랜드비전과도 일치성을 가지고 ESG가 사업의 중심에 높일 수 있도록 하고 있으며, 계열사의 사업활동이 곧 ESG 활동임을 지향합니다.
                                                        </p>
                                                    </div>
                                                    <div class="data-aside">
                                                        <div class="table-display design-1 case-2 align-3 type-1 accent-1">
                                                            <table>
                                                                <colgroup>
                                                                    <col class="width-ratio16">
                                                                    <col class="width-ratio42">
                                                                    <col class="width-ratio42">
                                                                </colgroup>
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col">주요 계열사</th>
                                                                        <th scope="col">기업 브랜드 비전</th>
                                                                        <th scope="col">사별 ESG 브랜드</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <th scope="row">효성티앤씨</th>
                                                                        <td>Innovation for Better Lifestyle & Tomorrow</td>
                                                                        <td>RE:GEN ECO LIFESTYLE</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">효성첨단소재</th>
                                                                        <td>Discover New Safety, New comfort through Future Materials</td>
                                                                        <td>RE:GEN FUTURE MATERIALS</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">효성화학</th>
                                                                        <td>The Next Chemistry</td>
                                                                        <td>RE:GEN NEXT CHEMISTRY</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">효성중공업</th>
                                                                        <td>Total Energy Solution Leader for Tomorrow</td>
                                                                        <td>RE:GEN NEW ENERGY</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">효성TNS</th>
                                                                        <td>Global Human Experience Maker</td>
                                                                        <td>RE:GEN SMART IT</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="data-footer">
                                                        <div class="data-display design-1 case-3 color-10">
                                                            <ul class="data-list">
                                                                <li class="data-item">
                                                                    <div class="data-wrap">
                                                                        <div class="data-body">
                                                                            <p class="data-para">
                                                                                효성은 ESG에 대한 진정성을 바탕으로 피상적 접근을 지양하며, 브랜딩을 통해 RE:GEN과 뜻을 함께 하는 파트너들의 사회적 확산도 동시에 지원하고자 하며, 모든 계열사들도 각 테마별로 사업 속에서 ESG를 더 심화시킬 수 있도록 하고자 합니다. 이를 통해 효성의 ESG 브랜드 “RE:GEN”은 더 친환경적이고 지속가능한 세계 구축을 위한 기술 개발과 제품 확대를 촉진하고, 대내외적 선의의 확산도 동시에 추구함으로써 인류의 새로운 성장모델로서 “ESG 생태계”를 현실화시키는 데 한발짝 더 가깝게 다가갈 것입니다.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="contents-article contents-article6">
                                <div class="contents-article-inner">
                                    <div class="data-display design-1 case-9 color-10">
                                        <ul class="data-list">
                                            <li class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <h4 class="title design-1 case-1 small-v2">
                                                            <em class="name">효성 ESG 가치 확산, RE:GEN ALLIANCE</em>
                                                        </h4>
                                                    </div>
                                                    <div class="data-body">
                                                        <p class="data-para">
                                                            RE:GEN ALLIANCE는 RE:GEN을 효성만의 브랜드가 아니라, 많은 역량 있는 외부 참여사들과 함께 ESG에 대한 사회적 확산, ESG 성과의 실질적 향상 뿐 아니라, 참여 회사들의 사업성과에까지 기여할 수 있도록 ESG 참여 범위를 확대하고자 기획, 실행하고 있는 프로그램입니다. RE:GEN ALLIANCE는 RE:GEN이 보증브랜드로서 멤버사의 성장과 공존을 지원할 것이며, 각 회사들은 자사의 성장과 미래, 그리고 ESG적 가치를 반영한 더 많은 카테고리의 제품과 솔루션들이 최종 사용자의 선택지로 소개됨으로써 ESG가 미래 소비생활의 기초가 될 수 있도록 하고자 하는 데 목적이 있습니다. 구체적으로 효성은 RE:GEN의 신뢰성, 진정성, 선망성을 제고함으로써 ALLIANCE의 조기 정착과 수요층 확대를 위한 실질적 엄브렐러로서 투자하고 노력하며,<br class="br-pc" /> RE:GEN ALLIANCE 참여사는 더 많고 넓은 실질적 실체를 확대하고 가치에 대한 동참을 사회적으로 확산하는 역할을 수행해 결과적으로 상호 Win-Win과 ESG의 실체 제공을 확산하는데 목표를 두고 있습니다.
                                                        </p>
                                                        <p class="data-para">
                                                            2023년 현재 플리츠마마, 할리케이 등 15여 개 우수 친환경 제품을 생산하는 중소기업과 ALLIANCE를 체결하고 이를 지속적으로 확산할 계획입니다. RE:GEN ALLIANCE는 “모든 세대를 향한 동행”이라는 가치를 기반으로 더 많은 ESG 가치의 확산을 위해 노력할 것이며, ESG 생태계가 사회 각층으로 확산될 수 있도록 하는 데 목적이 있습니다.
                                                        </p>
                                                    </div>
                                                    <div class="data-aside">
                                                        <div class="diagram-display design-1">
                                                            <div class="diagram-wrap">
                                                                <div class="diagram-body">
                                                                    <picture class="picture">
                                                                        <source media="(max-width: 1023px)" srcset="../../assets/images/diagram/sustainability/management/diagram-sustainabilitymanagement-02-mo.svg">
                                                                        <source media="(max-width: 1920px)" srcset="../../assets/images/diagram/sustainability/management/diagram-sustainabilitymanagement-02-pc.svg">
                                                                        <img class="img" src="../../assets/images/diagram/sustainability/management/diagram-sustainabilitymanagement-02-pc.svg" alt="아래 항목 참고">
                                                                    </picture>
                                                                </div>
                                                                <div class="diagram-footer">
                                                                    <em>RE:GEN 브랜드 및 프로덕트가 의미 있는 인지도를 가진 브랜드로 강화</em>
                                                                    <p>엄브렐러 캠페인을 통한 지원</p>
                                                                    <em>Alliance 참여사들의 프로덕트들이 각자의 영역을 가지되 일관된 지향점을 가지도록 조정</em>
                                                                    <p>공동 브랜딩을 위한 일치된 방향성</p>
                                                                    <em>소비자들이 ESG 프로덕트에 더 많은 관심을 가질 수 있도록 할 마케팅 이벤트 개최</em>
                                                                    <p>접점과 규모의 확대 </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contents-section-foot">
                            <div class="data-display design-1 case-2 align-5 color-1">
                                <ul class="data-list">
                                    <li class="data-item">
                                        <div class="data-wrap">
                                            <h5 class="title design-1 case-1 small-v13 color-1">
                                                <em class="name">
                                                    RE:GEN은 단순한 효성의 ESG를<br class="br-mo" /> 상징하는 이름이 아니라,<br /> 
                                                    오늘과 내일을 살아갈 모든 세대들이<br class="br-mo" /> 더 나은 환경에서<br /> 
                                                    행복을 누릴 수 있도록 하고자 하는<br class="br-mo" /> 약속이자 활동이 될 것입니다.
                                                </em>
                                            </h5>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        <%-include('../include/kor/HTNCWK03FOOTER.ejs') %>
    </body>
</html>