<!DOCTYPE html>
<html lang="ko">
    <head>
        <%-include('../include/kor/HTNCWK00HEADMETACOMMON.ejs') %>
        <%-include('../meta-id/kor/HTNCWKD40D32W01.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSTYLE.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADFAVICON.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTLIBRARY.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTGSAP.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTLOADER.ejs') %>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                scrollEvent();
                resizeEvent();
                thumbSwiper2('.thumbnail-display.design-18 .tnumbSwiper', 20);

                subPageIntroWheel_01(); // 서브 공통 MouseWheel naviDepth3, naviDepth4
                localInteraction_04_01(); // 서브 공통 Info Interaction
                naviDepth3_Interaction_01(); // 서브 공통 naviDepth3 fixed,  naviDepth4 따라 내려옴

                contentsSubScrollEventCustom(); // 서브 공통 Section Active
            });

            function scrollEvent(){
                window.addEventListener('scroll', () => {
                    contentsSubScrollEventCustom();
                });
            }

            function resizeEvent(){
                window.addEventListener('resize', () => {
                });
            }
        </script>
    </head>
    <body class="tnc-site">
        <%-include('../include/kor/HTNCWK01HEADER.ejs') %>
        <main id="container" class="container tnc HTNCWKD40D32W01 sub">
            <h2 class="blind">컨테이너 영역</h2>
            <div class="container-inner">
                <section class="contents-section contents-section1">
                    <div class="contents-section-inner">
                        <div class="local sustainability-common" local-interaction="sustainability-01">
                            <div class="local-head design-1">
                                <div class="local-head-wrap">
                                    <div class="local-subject">
                                        <h2 class="local-name">
                                            <span class="wbr">Social</span>
                                            <span class="wbr hide">안전보건경영</span>
                                        </h2>
                                    </div>
                                    <div class="local-subject">
                                        <h2 class="local-name">
                                            <span class="wbr hide">Social</span>
                                            <span class="wbr">안전보건경영</span>
                                        </h2>
                                    </div>
                                    <picture class="local-figure">
                                        <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/safety/local-mo.jpg">
                                        <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/safety/local-pc.jpg">
                                        <img src="../../assets/images/photo/sustainability/safety/local-pc.jpg" alt=" ">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <nav class="navi depth3">
                    <div class="navi-wrap">
                        <div class="navi-subject"><a href="#" title="현재 선택된 항목" class="navi-name">안전보건경영</a></div>
                        <div class="tab-display">
                            <ul class="tab-list">
                                <li class="tab-item"><a href="#" class="tab-text">인권경영</a></li>
                                <li class="tab-item"><a href="#" class="tab-text">상생경영</a></li>
                                <li class="tab-item current"><a href="#" class="tab-text">안전보건경영</a></li>
                                <li class="tab-item"><a href="#" class="tab-text">나눔경영</a></li>
                                <li class="tab-item"><a href="#" class="tab-text">정보보안</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <section class="contents-section contents-section2">
                    <div class="contents-section-inner">
                        <div class="contents-section-head">
                            <div class="thumbnail-display design-29">
                                <div class="thumbnail-list">
                                    <div class="thumbnail-item">
                                        <div class="thumbnail-wrap">
                                            <p class="thumbnail-head">안전보건경영</p>
                                            <div class="thumbnail-inform">
                                                <div class="thumbnail-figure">
                                                    <img class="img" src="../../assets/images/photo/sustainability/safety/img-thumb-01.jpg" alt=" ">
                                                </div>
                                                <div class="thumbnail-body">
                                                    <h3 class="title design-1 case-1 align-1 small-v12 color-2">
                                                        <em class="name">효성티앤씨는 안전보건을 <br>
                                                            기업활동의 최우선 가치로 인식하고 있습니다.</em>
                                                    </h3>
                                                    <p class="para">
                                                        고객, 임직원, 협력사 등 다양한 이해관계자를 위한 안전하고 건강한 일터를 만들기 위해
                                                        <span class="couple-text">최선을 다하고 있으며,</span> 점차 높아지는 안전보건에 대한 사회적 요구 수준에 대응할 수 있도록,
                                                        국내는 물론 국제기준에 부합한 안전보건경영체계를 갖추고 있습니다.
                                                    </p>
                                                    <p class="para">
                                                        효성티앤씨는 지속적인 안전보건 개선과 예방활동을 추진합니다. <br>
                                                        안전보건경영방침 및 추진전략에 기반한 세부 실행과제를 수립하여 정기적으로 평가하며,
                                                        책임있는 자세로 안전보건 Vision을 달성하고자 합니다. <br>
                                                        또한, 교육훈련을 통한 안전보건의식의 제고, 위험성 평가를 통한 중대위험 발굴 및 개선,
                                                        <span class="couple-text">실천 중심의</span> 안전보건 문화 정착에 집중하고 있습니다.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contents-section-body">
                            <div class="contents-article contents-article1">
                                <div class="contents-article-inner">
                                    <div class="data-display design-1 case-3 align-1 color-10">
                                        <ul class="data-list">
                                            <li class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <h4 class="title design-1 case-1 small-v2">
                                                            <em class="name">안전보건 조직체계</em>
                                                        </h4>
                                                    </div>
                                                    <div class="data-body">
                                                        <p class="data-para">
                                                            효성티앤씨는 중대재해처벌법 시행에 따라 안전보건 강화를 위해 대표이사 직속의 CSO(Chief Safety Officer, 최고안전책임자)를 지정하고 안전보건 전담부서를 조직하였습니다. <br>
                                                            또한 안전보건월례회의를 운영하여 주요이슈와 우수사례를 공유하며 안전보건관리를 개선하고 있습니다.
                                                        </p>
                                                    </div>
                                                    <div class="data-aside">
                                                        <div class="diagram-display design-1">
                                                            <div class="diagram">
                                                                <div class="diagram-wrap">
                                                                    <picture class="picture">
                                                                        <source media="(max-width: 1023px)" srcset="../../assets/images/diagram/sustainability/safety/diagram-safety-01-mo.svg">
                                                                        <source media="(max-width: 1920px)" srcset="../../assets/images/diagram/sustainability/safety/diagram-safety-01-pc.svg">
                                                                        <img class="img" src="../../assets/images/diagram/sustainability/safety/diagram-safety-01-pc.svg" alt="아래 항목 참고">
                                                                    </picture>
                                                                    <div class="diagram-footer">
                                                                        <dl>
                                                                            <dt>안전보건 총괄</dt>
                                                                            <dd>대표이사</dd>
                                                                            <dt>최고안전책임자</dt>
                                                                            <dd>CSO, 안전보건팀</dd>
                                                                            <dt>사업장 총괄</dt>
                                                                            <dd>안전보건총관책임자</dd>
                                                                            <dt>실무진 </dt>
                                                                            <dd>
                                                                                <ul>
                                                                                    <li>
                                                                                        <em>안전관리자</em>
                                                                                        <span>위험기계기구 관리</span>
                                                                                        <span>안전사고 관리</span>
                                                                                        <span>안전교육 관리</span>
                                                                                    </li>
                                                                                    <li>
                                                                                        <em>보건/환경관리자</em>
                                                                                        <span>작업환경 관리</span>
                                                                                        <span>건강검진 관리</span>
                                                                                        <span>화학물질 관리</span>
                                                                                    </li>
                                                                                </ul>
                                                                            </dd>
                                                                        </dl>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="contents-article contents-article2">
                                <div class="contents-article-inner">
                                    <div class="data-display design-1 case-3 align-5 color-2">
                                        <ul class="data-list">
                                            <li class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <h4 class="title design-1 case-1 small-v2 color-9">
                                                            <em class="name">안전보건경영방침</em>
                                                        </h4>
                                                    </div>
                                                    <div class="data-body">
                                                        <p class="data-para">
                                                            효성티앤씨㈜는 안전ㆍ보건ㆍ환경을 기업활동의 최우선 가치로 삼고, 전 임직원 및 이해관계자의 안전과 보건을 유지 / 증진함에 최선을 다하며,
                                                            환경영향을 최소화하여 지속가능한 GLOBAL 기업으로의 성장ㆍ발전에 최선의 노력을 다한다.
                                                        </p>
                                                    </div>
                                                    <div class="data-aside">
                                                        <div class="diagram-display design-1">
                                                            <div class="diagram">
                                                                <div class="diagram-wrap">
                                                                    <picture class="picture">
                                                                        <source media="(max-width: 1023px)" srcset="../../assets/images/diagram/sustainability/safety/diagram-safety-03-mo.svg">
                                                                        <source media="(max-width: 1920px)" srcset="../../assets/images/diagram/sustainability/safety/diagram-safety-03-pc.svg">
                                                                        <img class="img" src="../../assets/images/diagram/sustainability/safety/diagram-safety-03-pc.svg" alt="아래 항목 참고">
                                                                    </picture>
                                                                    <div class="diagram-footer">
                                                                        <dl>
                                                                            <dt>01. 경영책임자의 실행의지</dt>
                                                                            <dd>경영책임자는 “임직원과 이해관계자의 생명 보호”와 “안전한 작업환경 조성“ 및 “능동적인 안전ㆍ보건ㆍ환경 경영＂을 기업 경영활동의 최우선 목표로 삼는다.</dd>
                                                                            <dt>02. 안전보건환경 경영시스템 구축</dt>
                                                                            <dd>인간의 가치를 존중하고 풍요롭고 지속 가능한 사회를 만들기 위해 안전ㆍ보건ㆍ환경 경영시스템을 구축하고, 지속적으로 성실하게 이행한다.</dd>
                                                                            <dt>03. 준법 경영 (Compliance)</dt>
                                                                            <dd>모든공급자와 계약자가 안전ㆍ보건ㆍ환경과 관련한 법규와 규정 및 협약을 엄격히 준수하도록 한다.</dd>
                                                                            <dt>04. 무재해 사업장 구현</dt>
                                                                            <dd>근로자의 참여를 통해 위험요인을 파악하고, 파악된 위험요인은 반드시 개선하며, 교육 및 지속적인 예방 및 개선활동으로 무재해 사업장을 구현한다.</dd>
                                                                            <dt>05. 그린 경영 (Green)</dt>
                                                                            <dd>개발, 생산, 판매, 사용, 폐기에 이르는 전 과정에 걸쳐 자원과 에너지의 지속 가능한 사용과 오염 물질 저감에 적극 노력하고 사회적 책임을 다한다.</dd>
                                                                            <dt>06. 안전보건환경 문화 정착</dt>
                                                                            <dd>안전ㆍ보건ㆍ환경에 대한 위험성을 효율적으로 관리하여 그 성과를 투명하게 이해 관계자에게 공개하고 선진 안전ㆍ보건ㆍ환경 문화가 정착되도록 노력한다.</dd>
                                                                        </dl>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="contents-article contents-article3">
                                <div class="contents-article-inner">
                                    <h5 class="title design-1 case-1 align-1 small-v2 color-2">
                                        <em class="name">안전보건조직체계</em>
                                    </h5>
                                    <div class="diagram-display design-1">
                                        <div class="diagram">
                                            <div class="diagram-wrap">
                                                <picture class="picture">
                                                    <source media="(max-width: 1023px)" srcset="../../assets/images/diagram/sustainability/safety/diagram-safety-02-mo.svg">
                                                    <source media="(max-width: 1920px)" srcset="../../assets/images/diagram/sustainability/safety/diagram-safety-02-pc.svg">
                                                    <img class="img" src="../../assets/images/diagram/sustainability/safety/diagram-safety-02-pc.svg" alt="아래 항목 참고">
                                                </picture>
                                                <div class="diagram-footer">
                                                    <ul>
                                                        <li>
                                                            <em>Vision</em>
                                                            <span>“재해가 발생할 수 없는 사업장 구현”</span>
                                                        </li>
                                                        <li>
                                                            <em>전략목표</em>
                                                            <span>중대재해/사고 ZERO ‘0’</span>
                                                            <span>전 사업장 비상조치 역량 강화</span>
                                                            <span>선진국형 안전보건관리체계 구축</span>
                                                        </li>
                                                        <li>
                                                            <em>실행&amp;점검 체계</em>
                                                            <dl>
                                                                <dt>Plan</dt>
                                                                <dd>전사 안전보건 실행계획 수립, 안전보건 예산 등 자원 확보, 위험성 평가 절차 구축</dd>
                                                                <dt>Do</dt>
                                                                <dd>계획 기반 안전보건활동 추진, 위험성 평가 기반 위험요인 집중관리, 고위험 안전보건 요인 상시 점검</dd>
                                                                <dt>Check</dt>
                                                                <dd>안전보건 활동 및 추진성 검토, 안전보건 성과 목표 이행실적 분석, 재해 및 질병 분석, 재발방지 대책 수립</dd>
                                                                <dt>Action</dt>
                                                                <dd>안전보건활동 유효성 평가, 성과 분석 기반 개선조치 마련, 차년도 안전보건 실행계획 수립</dd>
                                                            </dl>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contents-article contents-article4">
                                <div class="contents-article-inner">
                                    <h5 class="title design-1 case-1 align-1 small-v7 color-2">
                                        <em class="name">안전보건 추진활동</em>
                                    </h5>
                                    <div class="thumbnail-display design-18">
                                        <div class="thumbnail-list">
                                            <div class="thumbnail-item">
                                                <div class="thumbnail-wrap">
                                                    <div class="thumbnail-inform">
                                                        <p class="thumbnail-head"><span class="num">1</span>위험성 평가</p>
                                                        <p class="thumbnail-body">
                                                            작업환경, 기계ㆍ기구ㆍ설비, 원재료, 작업행동, 그 밖의 유해ㆍ위험 요인을 발굴하며, 안전사고 예방을 위해 필요한 조치를 취한다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="thumbnail-item">
                                                <div class="thumbnail-wrap">
                                                    <div class="thumbnail-inform">
                                                        <p class="thumbnail-head"><span class="num">2</span>작업환경 안전조치</p>
                                                        <p class="thumbnail-body">
                                                            작업환경 내 추락, 붕괴, 낙하, 기타 위험 발생 우려가 있는 장소를 관리하는 기준을 설정하고 주기적으로 유지ㆍ보수ㆍ점검한다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="thumbnail-item">
                                                <div class="thumbnail-wrap">
                                                    <div class="thumbnail-inform">
                                                        <p class="thumbnail-head"><span class="num">3</span>기계ㆍ기구ㆍ설비 안전조치</p>
                                                        <p class="thumbnail-body">
                                                            설비의 기능과 특성을 고려하여 안전조치를 취하며, 잠재적 위험이 없도록 유지ㆍ보수ㆍ점검한다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="thumbnail-item">
                                                <div class="thumbnail-wrap">
                                                    <div class="thumbnail-inform">
                                                        <p class="thumbnail-head"><span class="num">4</span>건강장해 예방 및 건강증진 활동</p>
                                                        <p class="thumbnail-body">
                                                            건강장해를 예방하기 위해 필요한 예방ㆍ보건조치를 취하고 호흡기, 근골격계 등 업무상 질병 예방 조치와, 각종 건강증진 프로그램을 운영한다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="thumbnail-item">
                                                <div class="thumbnail-wrap">
                                                    <div class="thumbnail-inform">
                                                        <p class="thumbnail-head"><span class="num">5</span>개인 보호장비 지급</p>
                                                        <p class="thumbnail-body">
                                                            작업환경 등에 적합한 보호 장비를 지급하고 예비 보호구를 비치ㆍ관리하는 등 보호구 착용을 의무화한다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="thumbnail-item">
                                                <div class="thumbnail-wrap">
                                                    <div class="thumbnail-inform">
                                                        <p class="thumbnail-head"><span class="num">6</span>안전보건 진단</p>
                                                        <p class="thumbnail-body">
                                                            추락,붕괴, 화재, 폭발, 유해물질 누출 등 재해 발생의 위험이 높은 사업장에 대해 안전 보건 진단을 실기한다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="thumbnail-item">
                                                <div class="thumbnail-wrap">
                                                    <div class="thumbnail-inform">
                                                        <p class="thumbnail-head"><span class="num">7</span>비상상황 대응</p>
                                                        <p class="thumbnail-body">
                                                            재새 상황 별 비상 대응 시나리오에 따라 훈련을 지속하고, 관련 장비의 기능 점검을 주기적으로 실시한다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="thumbnail-item">
                                                <div class="thumbnail-wrap">
                                                    <div class="thumbnail-inform">
                                                        <p class="thumbnail-head"><span class="num">8</span>유해물질 관리</p>
                                                        <p class="thumbnail-body">
                                                            취급 유해물질의 물질안전보건자료를 목록화 및 비치하며, 물리적/화학적 유해인자를 정기적으로 측정하고 개선조치를 취한다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="thumbnail-item">
                                                <div class="thumbnail-wrap">
                                                    <div class="thumbnail-inform">
                                                        <p class="thumbnail-head"><span class="num">9</span>협력사 안전보건 지원</p>
                                                        <p class="thumbnail-body">
                                                            협력사 안전보건 관리 시스템을 구축하여 위험성 평가를 내실화하며, 협력사 진단/교육/협의 등 현장 밀착관리로 재해예방을 강화한다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="thumbnail-item">
                                                <div class="thumbnail-wrap">
                                                    <div class="thumbnail-inform">
                                                        <p class="thumbnail-head"><span class="num">10</span>재해 조사 및 통계의 활용</p>
                                                        <p class="thumbnail-body">
                                                            재해 발생 시 원인조사를 실시하고 재발방지 대책을 마련한다. 산업재해 등 통계 분석을 정기적으로 실시하고 안전보건 성과개선 목표에 반영한다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="title design-1 case-1 align-1 small-v9 color-2">
                                        <em class="name">관련정보</em>
                                    </div>
                                    <div class="button-display form-1 sort-1 align-1">
                                        <div class="button-wrap form-1">
                                            <button href="javascript:void(0)" onclick="openPopup('safety-task')" class="button design-1 case-1 medium align-3 fill-800 color-1">
                                                <span class="button-text-core">안전보건 실행과제별 KPI 및 정량목표</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="popup design-1 large" id="safety-task">
                <div class="popup-page-body">
                    <div class="popup-local">
                        <div class="popup-local-head">
                            <h2 class="popup-local-subject"><span class="popup-local-name">안전보건 전략목표</span></h2>
                        </div>
                        <div class="popup-local-body">
                            <div class="popup-content">
                                <div class="popup-content-body">
                                    <div class="table-display design-1 case-2 align-3 type-1 accent-2 pc">
                                        <table class="safety-task-01">
                                            <colgroup>
                                                <col>
                                                <col>
                                                <col>
                                                <col>
                                                <col>
                                                <col>
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th scope="col">구분</th>
                                                    <th scope="col">점검사항</th>
                                                    <th scope="col">점검사항</th>
                                                    <th scope="col">단위</th>
                                                    <th scope="col">2022년 실적</th>
                                                    <th scope="col">2023년 계획</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row" rowspan="2">안전보건 전략목표</th>
                                                    <td rowspan="2" class="align-1">[ VISION ]<br> “재해가 발생할 수 없는 사업장 구현”</td>
                                                    <td class="align-1">① 중대재해 발생건수</td>
                                                    <td>건 수</td>
                                                    <td>0</td>
                                                    <td>0</td>
                                                </tr>
                                                <tr>
                                                    <td class="align-1">② 중대산업/시민재해 발생건수</td>
                                                    <td>건 수</td>
                                                    <td>0</td>
                                                    <td>0</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" rowspan="8">주요 실행과제</th>
                                                    <td>
                                                        <ul class="order-list design-1 usual-1 case-6 medium type-2 align-1">
                                                            <li class="order-item">
                                                                1. &nbsp;법정 안전보건 교육 이수<br>(정기, 특별, 신규, 작업내용, 관리 감독자,관리 책임자 등)
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <td class="align-1">법정 교육 이수율</td>
                                                    <td>%</td>
                                                    <td>100</td>
                                                    <td>100</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <ul class="order-list design-1 usual-1 case-6 type-1 align-1 medium">
                                                            <li class="order-item">
                                                                2. 유해위험요인 제거 및 감소 실적<br>(안전순찰, TOP Patrol, 안전제보, 팀별 자체 점검)
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <td class="align-1">부적합 발굴 개선율</td>
                                                    <td>%</td>
                                                    <td>93</td>
                                                    <td>100</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <ul class="order-list design-1 usual-1 case-6 type-1 align-1 medium">
                                                            <li class="order-item">
                                                                3. 정기, 수시 위험성평가 실행<br> (원청 + 수급업체)
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <td class="align-1">시행율</td>
                                                    <td>%</td>
                                                    <td>100</td>
                                                    <td>100</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <ul class="order-list design-1 usual-1 case-6 type-1 align-1 medium">
                                                            <li class="order-item">
                                                                4. 상/하반기 작업환경측정 실시
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <td class="align-1">시행 건 수</td>
                                                    <td>건 수</td>
                                                    <td>2</td>
                                                    <td>2</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <ul class="order-list design-1 usual-1 case-6 type-1 align-1 medium">
                                                            <li class="order-item">
                                                                5. 근로자 건강검진 실시
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <td class="align-1">실시율</td>
                                                    <td>%</td>
                                                    <td>100</td>
                                                    <td>100</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <ul class="order-list design-1 usual-1 case-6 type-1 align-1 medium">
                                                            <li class="order-item">
                                                                6. 근로자 의견 수렴 및 개선 진행<br>(산업안전보건위원회 및 안전보건협의체 실시)
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <td class="align-1">실시율</td>
                                                    <td>%</td>
                                                    <td>100</td>
                                                    <td>100</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <ul class="order-list design-1 usual-1 case-6 type-1 align-1 medium">
                                                            <li class="order-item">
                                                                7. &nbsp;수급업체 안전보건관리 수준 평가<br>(공정도급, 사내 협력업체)
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <td class="align-1">수급업체 평가 실시율</td>
                                                    <td>%</td>
                                                    <td>100</td>
                                                    <td>100</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <ul class="order-list design-1 usual-1 case-6 type-1 align-1 medium">
                                                            <li class="order-item">
                                                                8. 법정 기계기구 안전검사를 통한 안정성 확보
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <td class="align-1">수급업체 평가 실시율</td>
                                                    <td>%</td>
                                                    <td>99</td>
                                                    <td>100</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <ul class="order-list design-1 usual-1 case-4 medium type-1 align-1">
                                            <li class="order-item">
                                                2022년 1월 안전보건팀 발족 이후 집계된 실적임
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="data-display design-3 mo">
                                        <div class="data-list">
                                            <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <h3 class="data-subject">안전보건 전략목표</h3>
                                                        <p class="data-title">목표 및 실행과제</p>
                                                    </div>
                                                    <div class="data-body">
                                                        <ul class="order-list design-1 usual-1 case-6 medium type-2 align-1">
                                                            <li class="order-item">
                                                                “재해가 발생할 수 없는 사업장 구현”
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="data-aside">
                                                        <div class="table-display design-1 case-2 align-3 type-1 accent-1">
                                                            <table class="safety-task-02">
                                                                <colgroup>
                                                                    <col>
                                                                    <col>
                                                                    <col>
                                                                    <col>
                                                                </colgroup>
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col">관리대상 또는 지표</th>
                                                                        <th scope="col">단위</th>
                                                                        <th scope="col">2022년 실적</th>
                                                                        <th scope="col">2023년 계획</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <th scope="row" class="align-1">① 중대재해 발생건수</th>
                                                                        <td>건수</td>
                                                                        <td>0</td>
                                                                        <td>0</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row" class="align-1">② 중대산업/시민재해 발생건수</th>
                                                                        <td>건수</td>
                                                                        <td>0</td>
                                                                        <td>0</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="data-display design-3 mo">
                                        <div class="data-list">
                                            <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <h3 class="data-subject">주요 실행과제</h3>
                                                        <p class="data-title">목표 및 실행과제</p>
                                                    </div>
                                                    <div class="data-body">
                                                        <ul class="order-list design-1 usual-1 case-6 medium type-2 align-1">
                                                            <li class="order-item">
                                                                1. &nbsp;법정 안전보건 교육 이수<br>(정기, 특별, 신규, 작업내용, 관리 감독자,관리 책임자 등)
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="data-aside">
                                                        <div class="table-display design-1 case-2 align-3 type-1 accent-1">
                                                            <table class="safety-task-03">
                                                                <colgroup>
                                                                    <col>
                                                                    <col>
                                                                    <col>
                                                                    <col>
                                                                </colgroup>
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col">관리대상 또는 지표</th>
                                                                        <th scope="col">단위</th>
                                                                        <th scope="col">2022년 실적</th>
                                                                        <th scope="col">2023년 계획</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <th scope="row" class="align-1">법정 교육 이수율</th>
                                                                        <td>%</td>
                                                                        <td>100</td>
                                                                        <td>100</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-body">
                                                        <ul class="order-list design-1 usual-1 case-6 medium type-2 align-1">
                                                            <li class="order-item">
                                                                2. 유해위험요인 제거 및 감소 실적<br>(안전순찰, TOP Patrol, 안전제보, 팀별 자체 점검)
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="data-aside">
                                                        <div class="table-display design-1 case-2 align-3 type-1 accent-1">
                                                            <table class="safety-task-04">
                                                                <colgroup>
                                                                    <col>
                                                                    <col>
                                                                    <col>
                                                                    <col>
                                                                </colgroup>
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col">관리대상 또는 지표</th>
                                                                        <th scope="col">단위</th>
                                                                        <th scope="col">2022년 실적</th>
                                                                        <th scope="col">2023년 계획</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <th scope="row" class="align-1">부적합 발굴 개선율</th>
                                                                        <td>%</td>
                                                                        <td>93</td>
                                                                        <td>100</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-body">
                                                        <ul class="order-list design-1 usual-1 case-6 medium type-2 align-1">
                                                            <li class="order-item">
                                                                3. 정기, 수시 위험성평가 실행<br>(원청 + 수급업체)
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="data-aside">
                                                        <div class="table-display design-1 case-2 align-3 type-1 accent-1">
                                                            <table class="safety-task-05">
                                                                <colgroup>
                                                                    <col>
                                                                    <col>
                                                                    <col>
                                                                    <col>
                                                                </colgroup>
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col">관리대상 또는 지표</th>
                                                                        <th scope="col">단위</th>
                                                                        <th scope="col">2022년 실적</th>
                                                                        <th scope="col">2023년 계획</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <th scope="row" class="align-1">부적합 발굴 개선율</th>
                                                                        <td>%</td>
                                                                        <td>93</td>
                                                                        <td>100</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-body">
                                                        <ul class="order-list design-1 usual-1 case-6 medium type-2 align-1">
                                                            <li class="order-item">
                                                                4. 상/하반기 작업환경측정 실시
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="data-aside">
                                                        <div class="table-display design-1 case-2 align-3 type-1 accent-1">
                                                            <table class="safety-task-06">
                                                                <colgroup>
                                                                    <col>
                                                                    <col>
                                                                    <col>
                                                                    <col>
                                                                </colgroup>
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col">관리대상 또는 지표</th>
                                                                        <th scope="col">단위</th>
                                                                        <th scope="col">2022년 실적</th>
                                                                        <th scope="col">2023년 계획</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <th scope="row" class="align-1">시행 건 수</th>
                                                                        <td>건수</td>
                                                                        <td>2</td>
                                                                        <td>2</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-body">
                                                        <ul class="order-list design-1 usual-1 case-6 medium type-2 align-1">
                                                            <li class="order-item">
                                                                5. 근로자 건강검진 실시
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="data-aside">
                                                        <div class="table-display design-1 case-2 align-3 type-1 accent-1">
                                                            <table class="safety-task-07">
                                                                <colgroup>
                                                                    <col>
                                                                    <col>
                                                                    <col>
                                                                    <col>
                                                                </colgroup>
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col">관리대상 또는 지표</th>
                                                                        <th scope="col">단위</th>
                                                                        <th scope="col">2022년 실적</th>
                                                                        <th scope="col">2023년 계획</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <th scope="row" class="align-1">실시율</th>
                                                                        <td>%</td>
                                                                        <td>100</td>
                                                                        <td>100</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-body">
                                                        <ul class="order-list design-1 usual-1 case-6 medium type-2 align-1">
                                                            <li class="order-item">
                                                                6. 근로자 의견 수렴 및 개선 진행<br>(산업안전보건위원회 및 안전보건협의체 실시)
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="data-aside">
                                                        <div class="table-display design-1 case-2 align-3 type-1 accent-1">
                                                            <table class="safety-task-08">
                                                                <colgroup>
                                                                    <col>
                                                                    <col>
                                                                    <col>
                                                                    <col>
                                                                </colgroup>
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col">관리대상 또는 지표</th>
                                                                        <th scope="col">단위</th>
                                                                        <th scope="col">2022년 실적</th>
                                                                        <th scope="col">2023년 계획</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <th scope="row" class="align-1">실시율</th>
                                                                        <td>%</td>
                                                                        <td>100</td>
                                                                        <td>100</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-body">
                                                        <ul class="order-list design-1 usual-1 case-6 medium type-2 align-1">
                                                            <li class="order-item">
                                                                7. 수급업체 안전보건관리 수준 평가<br>(공정도급, 사내 협력업체)
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="data-aside">
                                                        <div class="table-display design-1 case-2 align-3 type-1 accent-1">
                                                            <table class="safety-task-09">
                                                                <colgroup>
                                                                    <col>
                                                                    <col>
                                                                    <col>
                                                                    <col>
                                                                </colgroup>
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col">관리대상 또는 지표</th>
                                                                        <th scope="col">단위</th>
                                                                        <th scope="col">2022년 실적</th>
                                                                        <th scope="col">2023년 계획</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <th scope="row" class="align-1">수급업체 평가 실시율</th>
                                                                        <td>%</td>
                                                                        <td>100</td>
                                                                        <td>100</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-body">
                                                        <ul class="order-list design-1 usual-1 case-6 medium type-2 align-1">
                                                            <li class="order-item">
                                                                8. 법정 기계기구 안전검사를 통한 안정성 확보
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="data-aside">
                                                        <div class="table-display design-1 case-2 align-3 type-1 accent-1">
                                                            <table class="safety-task-10">
                                                                <colgroup>
                                                                    <col>
                                                                    <col>
                                                                    <col>
                                                                    <col>
                                                                </colgroup>
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col">관리대상 또는 지표</th>
                                                                        <th scope="col">단위</th>
                                                                        <th scope="col">2022년 실적</th>
                                                                        <th scope="col">2023년 계획</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <th scope="row" class="align-1">수급업체 평가 실시율</th>
                                                                        <td>%</td>
                                                                        <td>99</td>
                                                                        <td>100</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <ul class="order-list design-1 usual-1 case-4 type-1 small align-1 mo">
                                        <li class="order-item">
                                            2022년 1월 안전보건팀 발족 이후 집계된 실적임
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="popup-local-func">
                            <span class="button-area">
                                <a href="javascript:void(0);" onclick="closePopup('safety-task')" class="button design-1 case-6 fill-900 icon-close01">
                                    <span class="button-text-core">
                                        <span class="blind">닫기</span>
                                    </span>
                                </a>
                            </span>
                        </div>
                    </div>
                    <!-- //popup-local -->
                </div>
            </div>
        </main>
        <%-include('../include/kor/HTNCWK03FOOTER.ejs') %>
    </body>
</html>