<!DOCTYPE html>
<html lang="ko">
    <head>
        <%-include('../include/kor/HTNCWK00HEADMETACOMMON.ejs') %>
        <%-include('../meta-id/kor/HTNCWKD10D25W04.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSTYLE.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADFAVICON.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTLIBRARY.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTGSAP.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTLOADER.ejs') %>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                scrollEvent();
                resizeEvent();
                
                localInteraction_04_02(); // Company 공통 intro
                naviDepth3_Interaction_03(); // Company 공통 naviDepth3 - v1
                contentsSubScrollEventCustom(); // 서브 공통 Section Active
            });
        
            function scrollEvent(){
                window.addEventListener('scroll', () => {
                    contentsSubScrollEventCustom();
                });
            }

            function resizeEvent(){
                window.addEventListener('resize', () => {
                    localInteraction_04_02();
                });
            }
        </script>
    </head>
    <body class="tnc-site">
        <%-include('../include/kor/HTNCWK01HEADER.ejs') %>
        <main id="container" class="container tnc HTNCWKD10D25W04 sub">
            <h2 class="blind">컨테이너 영역</h2>
            <div class="container-inner">
                <section class="contents-section contents-section1">
                    <div class="contents-section-inner">
                        <div class="local company-common" local-interaction="company-01">
                            <div class="local-head design-1">
                                <div class="local-head-wrap">
                                    <div class="local-subject type-1">
                                        <h2 class="local-name">
                                            <p class="subject">IR</p>
                                            <p class="summary">
                                                글로벌 마케팅 서비스의 경험과 인프라를 통해<br />
                                                새로운 성장동력을 육성합니다
                                            </p>
                                        </h2>
                                    </div>
                                    <div class="local-desc type-1">
                                        <h3 class="local-name">
                                            <p class="desc">
                                                IR Report
                                            </p>
                                        </h3>
                                    </div>
                                    <div class="local-figure">
                                        <img src="../../assets/images/photo/company/ir/local-pc.jpg" alt=" ">
                                    </div>
                                </div>
                                <nav class="navi depth3">
                                    <div class="navi-wrap">
                                        <div class="navi-subject"><a href="#" title="현재 선택된 항목" class="navi-name">IR 자료실</a></div>
                                        <div class="tab-display">
                                            <ul class="tab-list">
                                                <li class="tab-item"><a href="#" class="tab-text">기업지배구조</a></li>
                                                <li class="tab-item"><a href="#" class="tab-text">재무정보</a></li>
                                                <li class="tab-item"><a href="#" class="tab-text">IR 정보</a></li>
                                                <li class="tab-item"><a href="#" class="tab-text">공시</a></li>
                                                <li class="tab-item"><a href="#" class="tab-text">공고</a></li>
                                                <li class="tab-item current"><a href="#" class="tab-text">IR 자료실</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </section>
                <nav class="navi depth4">
                    <div class="navi-wrap">
                        <div class="navi-subject"><a href="#" title="현재 선택된 항목" class="navi-name">IR 자료실</a></div>
                        <div class="tab-display navi-swiper">
                            <ul class="tab-list swiper-wrapper">
                                <li class="tab-item swiper-slide"><a href="#" class="tab-text">영업보고서</a></li>
                                <li class="tab-item swiper-slide"><a href="#" class="tab-text">감사보고서</a></li>
                                <li class="tab-item swiper-slide"><a href="#" class="tab-text">사업보고서</a></li>
                                <li class="tab-item current swiper-slide" title="현재 선택된 항목"><a href="#" class="tab-text">Financial Statements</a></li>
                            </ul>
                        </div>
                        <script>
                            const naviSwiper = new Swiper(".navi-swiper", {
                                slidesPerView: 'auto',
                                freeMode: true,
                            });
                        </script>
                    </div>
                </nav>
                <section class="contents-section contents-section2" style="height: 200vh;">
                    <div class="contents-section-inner"></div>
                </section>
            </div>
        </main>
        <%-include('../include/kor/HTNCWK03FOOTER.ejs') %>
    </body>
</html>