<!DOCTYPE html>
<html lang="ko">
    <head>
        <%-include('../include/kor/HTNCWK00HEADMETACOMMON.ejs') %>
        <%-include('../meta-id/kor/HTNCWKD40D23W01.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSTYLE.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADFAVICON.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTLIBRARY.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTGSAP.ejs') %>
        <%-include('../include/kor/HTNCWK00HEADSCRIPTLOADER.ejs') %>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                scrollEvent();
                resizeEvent();

                subPageIntroWheel_01(); // 서브 공통 MouseWheel naviDepth3, naviDepth4
                localInteraction_04_01(); // 서브 공통 Info Interaction
                naviDepth3_Interaction_01(); // 서브 공통 naviDepth3 fixed,  naviDepth4 따라 내려옴

                contentsSubScrollEventCustom(); // 서브 공통 Section Active
            });

            function scrollEvent(){
                window.addEventListener('scroll', () => {
                    contentsSubScrollEventCustom();
                });
            }

            function resizeEvent(){
                window.addEventListener('resize', () => {
                });
            }
        </script>
    </head>
    <body class="tnc-site">
        <%-include('../include/kor/HTNCWK01HEADER.ejs') %>
        <main id="container" class="container tnc HTNCWKD40D23W01 sub">
            <h2 class="blind">컨테이너 영역</h2>
            <div class="container-inner">
                <section class="contents-section contents-section1">
                    <div class="contents-section-inner">
                        <div class="local sustainability-common" local-interaction="sustainability-01">
                            <div class="local-head design-1">
                                <div class="local-head-wrap">
                                    <div class="local-subject">
                                        <h2 class="local-name">
                                            <span class="wbr">Environmental</span>
                                            <span class="wbr hide">오염저감</span>
                                        </h2>
                                    </div>
                                    <div class="local-subject">
                                        <h2 class="local-name">
                                            <span class="wbr hide">Environmental</span>
                                            <span class="wbr">오염저감</span>
                                        </h2>
                                    </div>
                                    <picture class="local-figure">
                                        <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/pollution/local-mo.jpg">
                                        <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/pollution/local-pc.jpg">
                                        <img src="../../assets/images/photo/sustainability/pollution/local-pc.jpg" alt=" ">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <nav class="navi depth3">
                    <div class="navi-wrap">
                        <div class="navi-subject"><a href="#" title="현재 선택된 항목" class="navi-name">오염저감</a></div>
                        <div class="tab-display">
                            <ul class="tab-list">
                                <li class="tab-item"><a href="#" class="tab-text">그린경영</a></li>
                                <li class="tab-item"><a href="#" class="tab-text">기후변화 대응</a></li>
                                <li class="tab-item"><a href="#" class="tab-text">자원순환</a></li>
                                <li class="tab-item current"><a href="#" class="tab-text">오염저감</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <section class="contents-section contents-section2">
                    <div class="contents-section-inner">
                        <div class="contents-section-head">
                            <h2 class="title design-1 case-1 align-4 large color-2">
                                <em class="name">오염저감</em>
                            </h2>
                        </div>
                        <div class="contents-section-body">
                            <div class="contents-article contents-article1">
                                <div class="contents-article-inner">
                                    <div class="data-display design-1 case-2 color-2">
                                        <ul class="data-list">
                                            <li class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <h3 class="title design-1 case-1 small-v2">
                                                            <em class="name">환경 법규 준수 원칙</em>
                                                        </h3>
                                                    </div>
                                                    <div class="data-body">
                                                        <p class="data-para">
                                                            효성은 환경법규 준수를 통해 환경오염 및 환경영향을 최소화하고, 환경위험성을 효율적으로 관리하고자 다음의 원칙을 준수합니다.
                                                        </p>
                                                    </div>
                                                    <div class="data-aside">
                                                        <div class="thumbnail-display design-7">
                                                            <div class="thumbnail-list">
                                                                <div class="thumbnail-item">
                                                                    <div class="thumbnail-wrap">
                                                                        <div class="thumbnail-head">
                                                                            <em class="num">1</em>
                                                                        </div>
                                                                        <div class="thumbnail-body">
                                                                            <p class="para">
                                                                                환경경영 방침, 매뉴얼 , 프로세스에 의거하여
                                                                                환경법규의 개정사항을 즉각 반영하고 환경법규를 면밀히 검토하여 환경위험성을 효율적으로
                                                                                관리하고 매년 준수여부를 평가합니다.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="thumbnail-item">
                                                                    <div class="thumbnail-wrap">
                                                                        <div class="thumbnail-head">
                                                                            <em class="num">2</em>
                                                                        </div>
                                                                        <div class="thumbnail-body">
                                                                            <p class="para">
                                                                                법적 기준보다 더 엄격한 사내 기준 설정을 통해 환경영향을 최소화하기 위한 노력을 기울입니다.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="thumbnail-item">
                                                                    <div class="thumbnail-wrap">
                                                                        <div class="thumbnail-head">
                                                                            <em class="num">3</em>
                                                                        </div>
                                                                        <div class="thumbnail-body">
                                                                            <p class="para">
                                                                                환경법규준수 여부에 대하여
                                                                                지속가능경영보고서,  환경정보공개시스템,
                                                                                CDP 등의 다양한 채널을 통하여
                                                                                이해관계자에게 투명하게 공개합니다.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="button-display form-1 sort-1 align-3">
                                                            <div class="button-wrap form-1">
                                                                <a href="javascript:void(0)" class="button design-1 case-2 medium align-5 fill-800 color-1 rtl icon-down-arrow01">
                                                                    <span class="button-text-core">환경경영정책</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="contents-article contents-article2">
                                <div class="contents-article-inner">
                                    <div class="data-display design-1 case-2 color-2">
                                        <ul class="data-list">
                                            <li class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <h3 class="title design-1 case-1 small-v2">
                                                            <em class="name">환경관리체계</em>
                                                        </h3>
                                                    </div>
                                                    <div class="data-body">
                                                        <p class="data-para">
                                                            효성티앤씨㈜는 매년 환경 관련 관리항목(환경 자격관리, 환경영향평가, 환경준수평가, 법규관리, 대기 및 수질오염물질 배출농도, 폐기물발생량, 이해관계자 민원 대응 등)에 대한 KPI 및 목표를 설정하고 년간 계획을 세워 달성여부를 점검하고 있습니다.
                                                        </p>
                                                    </div>
                                                    <div class="data-aside">
                                                        <div class="thumbnail-display design-12">
                                                            <div class="thumbnail-list">
                                                                <div class="thumbnail-item">
                                                                    <div class="thumbnail-wrap">
                                                                        <div class="thumbnail-figure">
                                                                            <img class="img" src="../../assets/images/photo/sustainability/pollution/img-thumb-04.png" alt=" ">
                                                                        </div>
                                                                        <div class="thumbnail-inform">
                                                                            <p class="thumbnail-head">수질</p>
                                                                            <p class="thumbnail-body">
                                                                                효성티앤씨㈜는 생산 공정과 긴밀한 협업을 통해 불필요한 용수 사용량을 최소화하고 있습니다. 효성티앤씨 울산공장은 공장 내 저수지를 활용해 빗물을 보관하여 냉각수 용도로 재이용하고 있으며 공정 중 사용한 물 또한 재활용을 하며 물사용량을 최소화하고 있습니다.<br class="br-mo"><br class="br-mo"> 효성티앤씨 구미공장은 1차 처리된 폐수를 구미시 하수처리장에 방류하고 여기서 재처리한 재이용수를 공급받아 사용하고 있습니다. 재이용수를 사용함으로써 낙동강으로 유입되는 오염을 방지하고 물사용량을 최소화하여 수자원 부족해소에 이바지하고 있습니다. 그리고 자체 폐수처리시설을 보유하고 있어 제조공정에서 발생하는 모든 폐수에 대해 1차적으로 자체 폐수처리하여 법적 기준치 이하로 방류하고 있습니다.<br class="br-mo"><br class="br-mo"> 또한, 울산공장의 경우 TMS(Total Monitoring System)을 설치하여 수질오염물질 배출 실태를 실시간으로 모니터링하고 있으며, 구미공장은 매월 외부측정업체에 수질 분석을 의뢰하여 수질오염물질 배출 실태를 모니터링하며 낙동강 수계의 생태계에 피해를 최소화하고 있습니다.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="thumbnail-item">
                                                                    <div class="thumbnail-wrap">
                                                                        <div class="thumbnail-figure">
                                                                            <img class="img" src="../../assets/images/photo/sustainability/pollution/img-thumb-05.png" alt=" ">
                                                                        </div>
                                                                        <div class="thumbnail-inform">
                                                                            <p class="thumbnail-head">대기</p>
                                                                            <p class="thumbnail-body">
                                                                                효성티앤씨㈜는 주기적으로 대기오염물질을 측정해 법적허용 기준치 이내로 배출하고 있는지 모니터링을 실시하고 있습니다.<br>
                                                                                효성티앤씨 울산공장은 주요 시설에 대해 TMS가 설치하여 실시간으로 대기오염물질 배출을 모니터링하고 있으며, 앞으로 사업장 전체에 TMS
                                                                                설치를 확대할 계획 입니다.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="thumbnail-item">
                                                                    <div class="thumbnail-wrap">
                                                                        <div class="thumbnail-figure">
                                                                            <img class="img" src="../../assets/images/photo/sustainability/pollution/img-thumb-06.png" alt=" ">
                                                                        </div>
                                                                        <div class="thumbnail-inform">
                                                                            <p class="thumbnail-head">폐기물</p>
                                                                            <p class="thumbnail-body">
                                                                                효성티앤씨㈜는 폐기물 재활용 비율을 확대하기 위해 다각적으로 노력하고 있습니다. 효성티앤씨㈜ 구미공장은 외부소각장에서 폐기물을 소각시켜 발생하는 스팀을 제조 공정에 재활용하고 있으며, 자체적으로 구미 사업장에서 사용한 유제 안에 있는 수분을 증발시킨 후 재사용하고 있습니다.<br class="br-mo"> 울산공장은 기존에 매립했던 폐수 발생량의 대부분을 재활용하고 있으며, 고효율 탈수기를 설치해 폐수 발생량을 지속적으로 감소시킬 계획입니다.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="thumbnail-item">
                                                                    <div class="thumbnail-wrap">
                                                                        <div class="thumbnail-figure">
                                                                            <img class="img" src="../../assets/images/photo/sustainability/pollution/img-thumb-08.png" alt=" ">
                                                                        </div>
                                                                        <div class="thumbnail-inform">
                                                                            <p class="thumbnail-head">화학물질</p>
                                                                            <p class="thumbnail-body">
                                                                                효성티앤씨㈜는 모든 사용 화학물질에 대하여 유역 및 지방 환경청에 보고하고 있습니다. 이 중 유해 물질에 대해서는 화학물질종합정보시스템을 통해 대중들에게 투명하게 공개하고 있습니다. 또한, 생산공정에서 사용되는 모든 화학물질을 ERP 기반 전산 시스템을 통해 관리하고 있습니다. 자재의 화학물질 규제 대상여부를 확인한 후, 규제 이행이 완료되었을 경우에만 자재 구매를 승인하고 있습니다.<br class="br-mo"><br class="br-mo"> 구매하는 모든 화학물질에 대해서는 물질안전보건자료(MSDS)를 의무적으로 제공하도록 하고 있으며, 제공받은 MSDS는 사업장에 근무자가 잘 볼 수 있도록 비치하고 있습니다. 화학물질 관리를 더욱 강화하기 위해 화학사고예방관리계획서를 작성했으며, 연 1회 법적 정기점검 이외에도 주 1회 유해화학물질 취급 시설 점검을 담당 팀 및 환경안전팀에서 진행하고 있습니다.<br><br class="br-mo">
                                                                                구미공장 같은 경우 2016년부터 대구지방환경청과 유해화학물질 취급 사업장 간의 화학안전공동체를 구성하여 협약을 체결했으며, 화학사고의 예방과 사고 발생 시 신속한 방제를 위해 활동하고 있습니다. 주요 활동으로는 기업간의 정보교류 및 협업을 통한 비상사고 대응체계 구축이며, 정기적으로 협업해서 비상훈련 진행중입니다. 울산 공장 또한 울산환경기술인협회 및 경남지역 화학사고 민관 공동대응협의회에 참여하면서 화학물질 취급에 대한 정보 공유 및 화학사고 발생 시 주변 기업들과 협업을 통한 대응을 약속했습니다.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="thumbnail-item">
                                                                    <div class="thumbnail-wrap">
                                                                        <div class="thumbnail-figure">
                                                                            <img class="img" src="../../assets/images/photo/sustainability/pollution/img-thumb-07.png" alt=" ">
                                                                        </div>
                                                                        <div class="thumbnail-inform">
                                                                            <p class="thumbnail-head">무공해차량</p>
                                                                            <p class="thumbnail-body">
                                                                                효성티앤씨㈜는 대기오염과 온실가스를 줄일 수 있는 전기차 등 무공해차량을 보유하고 있습니다.<br class="br-pc">
                                                                                전체 차량 중 무공해 차량 비율을 점진적으로 늘려갈 예정입니다.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="contents-article contents-article3">
                                <div class="contents-article-inner">
                                    <div class="board-display design-3 case-1">
                                        <div class="board-list">
                                            <div class="board-item">
                                                <div class="board-wrap">
                                                    <div class="board-head">
                                                        <h3 class="title design-1 case-1 align-1 small-v2 color-2">
                                                            <em class="name">오염저감 기술 개발</em>
                                                        </h3>
                                                    </div>
                                                    <div class="board-body">
                                                        <div class="data-display design-1 case-7 color-1 fill-540">
                                                            <ul class="data-list">
                                                                <li class="data-item">
                                                                    <div class="data-wrap">
                                                                        <div class="data-above">
                                                                            <span class="data-sup">Post consumer</span>
                                                                        </div>
                                                                        <div class="data-head">
                                                                            <h3 class="title design-1 case-1 align-1 small-v7 color-1">
                                                                                <em class="name">재활용 원사 개발</em>
                                                                            </h3>
                                                                        </div>
                                                                        <div class="data-body">
                                                                            <p class="data-para">
                                                                                효성티앤씨㈜는 국내 최초로 버려진 페트병의 유용성분을 추출하여 재활용 하는 기술을 통해 친환경 폴리에스터 원사 리젠을 개발하여 생산하고 있습니다. 리젠은 쓰레기 매립량을 획기적으로 줄이고 이산화탄소 배출량도 절감 시키는 효과를 얻을 수 있습니다. 1톤의 원사당 약 866개의 500mL 페트병을 리사이클링하며 미세플라스틱 배출을 최소화 일반 폴리에스터 제품 대비 약 60%의 이산화탄소 절감효과가 있습니다. 해양 미세플라스틱 문제 해결을 위해 해양플라스틱 재생 폴리에스터를 개발하였고 국내 최초로 OBP(Ocean Bound Plastic) 인증을 획득하였습니다.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="data-display design-1 case-18 color-1 fill-580">
                                                            <ul class="data-list">
                                                                <li class="data-item">
                                                                    <div class="data-wrap">
                                                                        <div class="data-above">
                                                                            <span class="data-sup">유해화학물질을 대체하는 친환경 촉매기술</span>
                                                                        </div>
                                                                        <div class="data-head">
                                                                            <h3 class="title design-1 case-1 align-1 small-v7 color-1">
                                                                                <em class="name">안티몬 프리 제품 제조 적용</em>
                                                                            </h3>
                                                                        </div>
                                                                        <div class="data-body">
                                                                            <p class="data-para">
                                                                                안티몬-프리는 인체 및 지구 환경에 유해한 중금속이 아닌 주석(Sn)을 기반으로 한 촉매로 효성은 2017년 개발에 착수한지 불과 3년만인 2020년 기술 개발을 완료하고 이를 활용한 제품 양산에 성공했습니다. <br>
                                                                                안티몬-프리 촉매를 활용하면 안티모니 글리콜레이트라고 하는 기존 나이론 폴리에스터 제조에 사용되는 유해화학물질을 대체할 수 있어 제품의 친환경 효과를 기대할 수 있으며, 안티몬-프리 사용 전보다 촉매 투입량을 1/10로 줄이고, 폴리에스터 제품 생산과정에서 발생하는 플라스틱 폐기물의 배출량도 기존 촉매 대비 절반 이상 줄일 수 있습니다. 효성티앤씨는 향후 모든 폴리에스터 섬유 제조에 안티몬-프리 촉매를 사용한다는 방침을 세우고 주요 고객사의 친환경 섬유 니즈에 선제적으로 대응하기 위한 시험생산에 나서고 있습니다. 글로벌 시장에서 적용도를 높이기 위해 미국, 중국을 비롯한 유럽, 인도 시장에서 특허 등록도 추진 중입니다.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        <%-include('../include/kor/HTNCWK03FOOTER.ejs') %>
    </body>
</html>