<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_guide.head.ejs', {
	pageStyle: 'bui.page.snippet.css',
	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<!-- page -->
	<div id="page">
	<%-include('../_templates/_guide.header.ejs') %>
		<!-- page-body -->
		<div class="page-body" id="local">
			<!-- local-head -->
			<div class="local-head">
				<h2 class="local-subject" id="localTitle"><span class="local-name">snippet</span></h2>
			</div>
			<!-- //local-head -->
			<!-- local-body -->
			<div class="local-body" id="content">
				<!-- content-head -->
				<div class="content-head"><%- include('../_mixin/_title.content.ejs', {name: 'fieldset'}) %></div>
				<!-- //content-head -->
				<!-- content-body -->
				<div class="content-body">
					<!-- section : Button System-->
					<div class="section">
						<div class="section-head"><%- include('../_mixin/_title.section.ejs', {name: 'submit form'}) %></div>
						<div class="section-body">
							<!-- subsection -->
							<div class="subsection">
								<div class="subsection-head"><%- include('../_mixin/_title.subsection.ejs', {name: 'HTML Structure'}) %></div>
								<div class="subsection-body">
									<pre class="highlight-js">
<code class="html">&lt;!-- submit-form --&gt;
&lt;fieldset class="submit-form"&gt;
	&lt;legend&gt;fieldset name&lt;/legend&gt;
	&lt;div class="form-list"&gt;
		&lt;div class="form-item"&gt;
			&lt;div class="form-wrap"&gt;
				&lt;div class="form-head"&gt;&lt;label class="form-name" for="form_id"&gt;form name&lt;/label&gt;&lt;/div&gt;
				&lt;div class="form-body"&gt;
					&lt;div class="form-area"&gt;

					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/fieldset&gt;
&lt;!-- //submit-form --&gt;</code></pre>
								</div>
							</div>
							<!-- //subsection -->
							<!-- subsection -->
							<div class="subsection">
								<div class="subsection-head"><%- include('../_mixin/_title.subsection.ejs', {name: 'Class Options'}) %></div>
								<div class="subsection-body">
									<!-- data-table -->
									<div class="data-table module-bui type-a">
										<table>
											<colgroup>
												<col style="width: 128rem;">
												<col>
											</colgroup>
											<tbody>
												<tr>
													<th scope="row">module</th>
													<td>module-*</td>
												</tr>
												<tr>
													<th scope="row">style</th>
													<td>style-*</td>
												</tr>
												<tr>
													<th scope="row">type</th>
													<td>type-*</td>
												</tr>
												<tr>
													<th scope="row">outline</th>
													<td>small-2x, small-1x, small, medium, large, large-1x, large-2x</td>
												</tr>
												<tr>
													<th scope="row">symbols</th>
													<td>attr-*</td>
												</tr>
											</tbody>
										</table>
									</div>
									<!-- //data-table -->
								</div>
							</div>
							<!-- //subsection -->
							<!-- subsection -->
							<div class="subsection">
								<div class="subsection-head"><%- include('../_mixin/_title.subsection.ejs', {name: 'demos'}) %></div>
								<div class="subsection-body">

									<!--subsubsection-->
									<div class="subsubsection">
										<div class="subsubsection-head"><%- include('../_mixin/_title.subsubsection.ejs', {name: 'module-b type-a'}) %>
										</div>
										<div class="subsubsection-body">
											<!-- submit-form -->
											<fieldset class="submit-form module-b type-a">
												<legend>속성 검색 서식</legend>
												<div class="form-list">
													<div class="form-item">
														<div class="form-wrap">
															<div class="form-head"><span class="form-name">속성</span></div>
															<div class="form-body">
																<div class="form-area">
																	<span class="form select module-b style-b type-line normal-04 large-1x flex">
																		<select class="form-elem">
																			<option>속성을 선택해 주세요.</option>
																		</select>
																	</span>
																</div>
															</div>
														</div>
													</div>
												</div>
												<!-- button-display -->
												<div class="button-display module-a style-a type-a">
													<span class="button-area">
														<a class="btn module-b style-a type-fill normal-01 large-2x flex" href="#"><span class="btn-text">검색</span></a>
													</span>
												</div>
												<!-- //button-display -->
											</fieldset>
											<!-- //submit-form -->
											<br><br>
											<!-- submit-form -->
											<fieldset class="submit-form module-b type-a">
												<legend>게시물 검색 서식</legend>
												<div class="form-list">
													<div class="form-item">
														<div class="form-wrap">
															<div class="form-head"><span class="form-name">기간 설정</span></div>
															<div class="form-body">
																<div class="form-area">
																	<span class="form select module-b style-b type-line normal-04 large-1x flex">
																		<select class="form-elem">
																			<option>단건</option>
																		</select>
																	</span>
																</div>
															</div>
														</div>
													</div>
													<div class="form-item">
														<div class="form-wrap">
															<div class="form-head"><span class="form-name">촬영 기간</span></div>
															<div class="form-body">
																<div class="form-area">
																	<span class="form datepicker module-b style-b type-line normal-04 large-1x flex"><input type="text" class="form-elem" value="2022-01-01" /></span>
																	<span class="sign">~</span>
																	<span class="form datepicker module-b style-b type-line normal-04 large-1x flex"><input type="text" class="form-elem" value="2022-01-01" /></span>
																</div>
															</div>
														</div>
													</div>
													<div class="form-item">
														<div class="form-wrap">
															<div class="form-head"><span class="form-name">UTC / KST</span></div>
															<div class="form-body">
																<div class="form-area">
																	<span class="form select module-b style-b type-line normal-04 large-1x flex">
																		<select class="form-elem">
																			<option>KST</option>
																		</select>
																	</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											
												<!-- button-display -->
												<div class="button-display module-a style-a type-a">
													<span class="button-area">
														<a class="btn module-b style-a type-fill normal-01 large-2x flex" href="#"><span class="btn-text">검색</span></a>
													</span>
												</div>
												<!-- //button-display -->
											</fieldset>
											<!-- //submit-form -->
										</div>
									</div>
									<!--//subsubsection-->

									<!--subsubsection-->
									<div class="subsubsection">
										<div class="subsubsection-head"><%- include('../_mixin/_title.subsubsection.ejs', {name: 'module-b type-b'}) %>
										</div>
										<div class="subsubsection-body">
											<!-- submit-form -->
											<fieldset class="submit-form module-b type-b">
												<legend>게시물 검색 서식</legend>
												<div class="form-list">
													<div class="form-item">
														<div class="form-wrap">
															<div class="form-head"><span class="form-name">검색</span></div>
															<div class="form-body">
																<div class="form-area">
																	<span class="form search textfield module-b style-b type-line normal-04 large-1x flex">
																		<input class="form-elem" type="text" value="산출물을 선택해 주세요." placeholder="" />
																	</span>
																</div>
															</div>
														</div>
													</div>
													<div class="form-item">
														<div class="form-wrap">
															<div class="form-head"><span class="form-name">주요 산출물</span></div>
															<div class="form-body">
																<div class="form-area">
																	<span class="form select module-b style-b type-line normal-04 large-1x flex">
																		<select class="form-elem">
																			<option>자외선 지수</option>
																		</select>
																	</span>
																</div>
															</div>
														</div>
													</div>
													<div class="form-item">
														<div class="form-wrap">
															<div class="form-head"><span class="form-name">촬영 기간</span></div>
															<div class="form-body">
																<div class="form-area">
																	<span class="form datepicker module-b style-b type-line normal-04 large-1x flex"><input type="text" class="form-elem" value="2022-01-01" /></span>
																	<span class="sign">~</span>
																	<span class="form datepicker module-b style-b type-line normal-04 large-1x flex"><input type="text" class="form-elem" value="2022-01-01" /></span>
																</div>
															</div>
														</div>
													</div>
													<div class="form-item world-time">
														<div class="form-wrap">
															<div class="form-head"><span class="form-name">UTC / KST</span></div>
															<div class="form-body">
																<div class="form-area">
																	<span class="form select module-b style-b type-line normal-04 large-1x flex">
																		<select class="form-elem">
																			<option>KST</option>
																		</select>
																	</span>
																</div>
															</div>
														</div>
													</div>
													<div class="form-item filmimg-mode">
														<div class="form-wrap">
															<div class="form-head"><span class="form-name">촬영 모드</span></div>
															<div class="form-body">
																<div class="form-area">
																	<span class="form select module-b style-b type-line normal-04 large-1x flex">
																		<select class="form-elem">
																			<option>HE</option>
																		</select>
																	</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											
												<!-- button-display -->
												<div class="button-display module-a style-a type-a">
													<span class="button-area">
														<a class="btn module-b style-a type-fill normal-01 large-2x flex" href="#"><span class="btn-text">검색</span></a>
													</span>
												</div>
												<!-- //button-display -->
											</fieldset>
											<!-- //submit-form -->
										</div>
									</div>
									<!--//subsubsection-->

									<!--subsubsection-->
									<div class="subsubsection">
										<div class="subsubsection-head"><%- include('../_mixin/_title.subsubsection.ejs', {name: 'module-b type-c'}) %>
										</div>
										<div class="subsubsection-body">
											<!-- submit-form -->
											<fieldset class="submit-form module-b type-c style-a">
												<legend>게시물 검색 서식</legend>
												<div class="form-list">
													<div class="form-item">
														<div class="form-wrap">
															<div class="form-head"><span class="form-name">산출물</span></div>
															<div class="form-body">
																<div class="form-area">
																	<span class="form select module-b style-b type-line normal-04 large-1x flex">
																		<select class="form-elem">
																			<option>위성</option>
																		</select>
																	</span>
																	<span class="form select module-b style-b type-line normal-04 large-1x flex">
																		<select class="form-elem">
																			<option>레벨</option>
																		</select>
																	</span>
																	<span class="form select module-b style-b type-line normal-04 large-1x flex">
																		<select class="form-elem">
																			<option>종류</option>
																		</select>
																	</span>
																	<span class="form select module-b style-b type-line normal-04 large-1x flex">
																		<select class="form-elem">
																			<option>영역</option>
																		</select>
																	</span>
																</div>
															</div>
														</div>
													</div>
													<div class="form-item">
														<div class="form-wrap">
															<div class="form-head"><span class="form-name">조회 종류</span></div>
															<div class="form-body">
																<div class="form-area">
																	<span class="form select module-b style-b type-line normal-04 large-1x flex">
																		<select class="form-elem">
																			<option>관측시간 조회</option>
																		</select>
																	</span>
																</div>
															</div>
														</div>
													</div>
													<div class="form-item">
														<div class="form-wrap">
															<div class="form-head"><span class="form-name">자료 형식</span></div>
															<div class="form-body">
																<div class="form-area">
																	<span class="form select module-b style-b type-line normal-04 large-1x flex">
																		<select class="form-elem">
																			<option>IMAGE (이미지)</option>
																		</select>
																	</span>
																</div>
															</div>
														</div>
													</div>
													<div class="form-item">
														<div class="form-wrap">
															<div class="form-head"><span class="form-name">관측 일자</span></div>
															<div class="form-body">
																<div class="form-area">
																	<span class="form datepicker module-b style-b type-line normal-04 large-1x flex"><input type="text" class="form-elem" value="2022-01-01" /></span>
																	<span class="sign">~</span>
																	<span class="form datepicker module-b style-b type-line normal-04 large-1x flex"><input type="text" class="form-elem" value="2022-01-01" /></span>
																</div>
															</div>
														</div>
													</div>
													<div class="form-item">
														<div class="form-wrap">
															<div class="form-head"><span class="form-name">API 접근 키</span></div>
															<div class="form-body">
																<div class="form-area">
																	<span class="form textfield module-b style-b type-line normal-04 large-1x flex">
																		<input class="form-elem" type="text" value="Key-xxxxxxxxxxxx" placeholder="" />
																	</span>
																	<a class="btn module-b style-a type-fill normal-05 large-2x" href="#"><span class="btn-text">키 유효성 확인</span></a>
																</div>
															</div>
														</div>
													</div>
												</div>
												<!-- button-display -->
												<div class="button-display module-a style-a type-b">
													<span class="button-area">
														<a class="btn module-b style-a type-fill accent-01 large-2x" href="#"><span class="btn-text">URL 도출</span></a>
													</span>
												</div>
												<!-- //button-display -->
											</fieldset>
											<!-- //submit-form -->
											<br /><br /><br />
											<!-- submit-form -->
											<fieldset class="submit-form module-b type-c style-a">
												<legend>입력 서식</legend>
												<div class="form-list">
													<div class="form-item">
														<div class="form-wrap">
															<div class="form-head"><span class="form-name">이메일<span class="required">*</span></span></div>
															<div class="form-body">
																<div class="form-area">
																	<span class="form textfield module-b style-b type-line normal-04 large-1x flex">
																		<input class="form-elem" type="text" value="" placeholder="키를 발급받으실 이메일을 적어주세요." />
																	</span>
																</div>
															</div>
														</div>
													</div>
													<div class="form-item privacy-check">
														<div class="form-wrap">
															<div class="form-head"><span class="form-name">개인정보 수집</span></div>
															<div class="form-body">
																<div class="form-area">
																	<span class="option-list">
																		<span class="option-item">
																			<label class="form checkbox module-a style-a small-1x accent-01"><input type="checkbox" class="form-elem" /> <span class="form-text">개인정보 수집 동의</span></label>
																			<a class="btn more" href="#"><span class="btn-text">자세히 보기</span></a>
																		</span>
																	</span>
																</div>
															</div>
														</div>
													</div>
												</div>
												<!-- button-display -->
												<div class="button-display module-a style-a type-b">
													<span class="button-area">
														<a class="btn module-b style-a type-fill accent-01 large-2x" href="#"><span class="btn-text">URL 신청</span></a>
													</span>
												</div>
												<!-- //button-display -->
											</fieldset>
											<!-- //submit-form -->
										</div>
									</div>
									<!--//subsubsection-->

									
									<!--subsubsection-->
									<div class="subsubsection ">
										<div class="subsubsection-head"><%- include('../_mixin/_title.subsubsection.ejs', {name: 'module-c style-b'}) %>
										</div>
										<form class="subsubsection-body">
											<fieldset class="submit-form module-c style-b type-c">
												<legend>전송 서식</legend>
												<div class="form-list">
													<div class="form-item">
														<div class="form-wrap">
															<div class="form-head"><span class="form-name"><span class="em accent-01">Q1.</span>성별을 선택하세요.</span></div>
															<div class="form-body">
																<div class="form-area">
																	<div class="option-list">
																		<span class="option-item"><label class="form radio module-a style-c accent-01 small-1x"><input type="radio" class="form-elem" checked="checked"> <span class="form-text">남성</span></label></span>
																		<span class="option-item"><label class="form radio module-a style-c accent-01 small-1x"><input type="radio" class="form-elem"> <span class="form-text">여성</span></label></span>
																	</div>
																</div>
															</div>
														</div>
													</div>	
													<div class="form-item">
														<div class="form-wrap">
															<div class="form-head"><span class="form-name"><span class="em accent-01">Q2.</span>연령대를 선택하세요.</span></div>
															<div class="form-body">
																<div class="form-area">
																	<div class="option-list">
																		<span class="option-item"><label class="form radio module-a style-c accent-01 small-1x"><input type="radio" class="form-elem" checked="checked"> <span class="form-text">19세 이하</span></label></span>
																		<span class="option-item"><label class="form radio module-a style-c accent-01 small-1x"><input type="radio" class="form-elem"> <span class="form-text">20~29세</span></label></span>
																		<span class="option-item"><label class="form radio module-a style-c accent-01 small-1x"><input type="radio" class="form-elem"> <span class="form-text">30~39세</span></label></span>
																		<span class="option-item"><label class="form radio module-a style-c accent-01 small-1x"><input type="radio" class="form-elem"> <span class="form-text">40~49세</span></label></span>
																		<span class="option-item"><label class="form radio module-a style-c accent-01 small-1x"><input type="radio" class="form-elem"> <span class="form-text">50~59세</span></label></span>
																		<span class="option-item"><label class="form radio module-a style-c accent-01 small-1x"><input type="radio" class="form-elem"> <span class="form-text">60세 이상</span></label></span>  
																	</div>
																</div>
															</div>
														</div>
													</div>	
													<div class="form-item">
														<div class="form-wrap">
															<div class="form-head"><span class="form-name"><span class="em accent-01">Q3.</span>최근 6개월 동안 구매한 이력이 있는 문항을 체크해주세요.</span></div>
															<div class="form-body">
																<div class="form-area">
																	<div class="option-list">
																		<span class="option-item"><label class="form checkbox module-a style-a small-1x accent-01"><input type="checkbox" class="form-elem" /> <span class="form-text">가전제품/전자기기</span></label></span>
																		<span class="option-item"><label class="form checkbox module-a style-a small-1x accent-01"><input type="checkbox" class="form-elem" /> <span class="form-text">식품</span></label></span>
																		<span class="option-item"><label class="form checkbox module-a style-a small-1x accent-01"><input type="checkbox" class="form-elem" /> <span class="form-text">화장품</span></label></span>
																		<span class="option-item"><label class="form checkbox module-a style-a small-1x accent-01"><input type="checkbox" class="form-elem" /> <span class="form-text">의류</span></label></span>
																	</div>
																</div>
															</div>
														</div>
													</div>	
													<div class="form-item">
														<div class="form-wrap">
															<div class="form-head"><span class="form-name"><span class="em accent-01">Q4.</span>환경위성센터의 서비스와 관련하여 의견이 있다면 적어주세요.</span></div>
															<div class="form-body">
																<div class="form-area">
																	<span class="form textarea module-b style-a type-line normal-04 large flex"><textarea class="form-elem" cols="40" rows="3" placeholder="내용을 입력해 주세요 (200자 이내)"></textarea></span>
																</div>
															</div>
														</div>
													</div>	
			
												</div>
												<div class="button-display module-a style-a type-c">
													<span class="button-area">
														<a class="btn module-b style-a type-line normal-04 large-3x" href="#"><span class="btn-text">이전</span></a>
														<a class="btn module-b style-a type-fill accent-01 large-3x" href="#"><span class="btn-text">다음</span></a>
														<button class="btn module-b style-a type-fill accent-01 large-3x" type="submit"><span class="btn-text">응답제출</span></button>
													</span>
												</div>
											</fieldset>
										</form>
									</div>   
									<!--//subsubsection-->
								</div>
							</div>
							<!-- //subsection -->
						</div>
					</div>
					<!--//section -->
				</div>
				<!-- //content-body -->  
			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->
		<%-include('../_templates/_guide.footer.ejs') %>
	</div>
	<!-- //page -->
</div>
</body>
</html>