<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_data.header.front.ejs', {
	pageStyle: 'bui.page.snippet.css',
	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<!-- page -->
	<div id="page">
<%-include('../_templates/_header.snippet.ejs') %>
		<!-- page-body -->
		<div class="page-body" id="local">
			<!-- local-head -->
			<div class="local-head">
				<h2 class="local-subject" id="localTitle"><span class="local-name">snippet</span></h2>
			</div>
			<!-- //local-head -->
			<!-- local-body -->
			<div class="local-body" id="content">
				<!-- content-head -->
				<div class="content-head"><%- include('../_mixin/_title.content.ejs', {name: 'table'}) %></div>
				<!-- //content-head -->
				<!-- content-body -->
				<div class="content-body">
					<!-- section : Button System-->
					<div class="section">
						<div class="section-head"><%- include('../_mixin/_title.section.ejs', {name: 'data table'}) %></div>
						<div class="section-body">
							<!-- subsection -->
							<div class="subsection">
								<div class="subsection-head"><%- include('../_mixin/_title.subsection.ejs', {name: 'HTML Structure'}) %></div>
								<div class="subsection-body">
									<!-- highlight-js -->
									<pre class="highlight-js">
<code class="html">&lt;!-- data-table --&gt;
&lt;div class="data-table"&gt;
	&lt;table&gt;
		&lt;colgroup&gt;
			&lt;col style="width: value;" /&gt;
			&lt;col /&gt;
		&lt;/colgroup&gt;
		&lt;thead&gt;
			&lt;tr&gt;
				&lt;th scope="col"&gt;header cell&lt;/th&gt;
				&lt;th scope="col"&gt;header cell&lt;/th&gt;
			&lt;/tr&gt;
		&lt;/thead&gt;
		&lt;tbody&gt;
			&lt;tr&gt;
				&lt;td&gt;data cell&lt;/td&gt;
				&lt;td&gt;data cell&lt;/td&gt;
			&lt;/tr&gt;
		&lt;/tbody&gt;
	&lt;/table&gt;
&lt;/div&gt;
&lt;!-- //data-table --&gt;</code></pre>
									<!-- //highlight-js -->
								</div>
							</div>
							<!-- //subsection -->
							
							<!-- subsection -->
							<div class="subsection">
								<div class="subsection-head"><%- include('../_mixin/_title.subsection.ejs', {name: 'Class Options'}) %></div>
								<div class="subsection-body">
									<!-- data-table -->
									<div class="data-table module-bui type-a">
										<table>
											<colgroup>
												<col style="width: 128rem;">
												<col>
											</colgroup>
											<tbody>
												<tr>
													<th scope="row">name</th>
													<td>data-display</td>
												</tr>
												<tr>
													<th scope="row">module</th>
													<td>module-*</td>
												</tr>
												<tr>
													<th scope="row">style</th>
													<td>style-*</td>
												</tr>
												<tr>
													<th scope="row">type</th>
													<td>type-*</td>
												</tr>
												<tr>
													<th scope="row">outline</th>
													<td>medium</td>
												</tr>
											</tbody>
										</table>
									</div>
									<!-- //data-table -->
								</div>
							</div>
							<!-- //subsection -->

							<!-- subsection -->
							<div class="subsection">
								<div class="subsection-head"><%- include('../_mixin/_title.subsection.ejs', {name: 'table type-a'}) %></div>
								<div class="subsection-body">
									<!-- data-table -->
									<div class="data-table module-c style-a type-a medium">
										<table>
											<colgroup>
												<col />
												<col />
											</colgroup>
											<thead>
												<tr>
													<th scope="col">구분</th>
													<th scope="col">상세정보</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>관측 대상</td>
													<td>O3, SO2, NO2, HCHO, 에어로졸</td>
												</tr>
												<tr>
													<td>임무 수명</td>
													<td>10년</td>
												</tr>
												<tr>
													<td>관측범위</td>
													<td>5,000km x 5,000km (5°S - 45°N, 75°E - 145°E/동아시아 지역)</td>
												</tr>
												<tr>
													<td>공간 해상도</td>
													<td>가스상 : 7km x 8km / 에어로졸: 3.5km x 8km</td>
												</tr>
												<tr>
													<td>관측 주기</td>
													<td>낮시간 8회 (30분 촬영 + 30분 대기)</td>
												</tr>
												<tr>
													<td>사용 파장 / 분광해상도</td>
													<td>자외·가시광선 (UV-VIS 300 - 500nm) / 0.6nm</td>
												</tr>
												<tr>
													<td>부피 / 무게</td>
													<td>1,050mm x 1,200mm x 900mm / 160kg</td>
												</tr>
												<tr>
													<td>소요 전력</td>
													<td>200W</td>
												</tr>
												<tr>
													<td>궤도 / 고도 / 경도</td>
													<td>정지궤도(GEO) / 36,000km / 128°E</td>
												</tr>
											</tbody>
										</table>
									</div>
									<!-- //data-table -->	

									<br/><br/><br/>

									<!-- data-table -->
									<div class="data-table module-c style-a type-a medium">
										<table>
											<colgroup>
												<col />
												<col />
												<col />
											</colgroup>
											<thead>
												<tr>
													<th scope="col">산출물 그룹명(국문)*</th>
													<th scope="col">산출물(20종)</th>
													<th scope="col">산출물(20종) 약어</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td rowspan="3">1. 에어로졸</td>
													<td>1.에어로졸 광학두께</td>
													<td>1.AOD</td>
												</tr>
												<tr>
													<td>2.에어로졸 단일산란알베도</td>
													<td>2.SSA</td>
												</tr>
												<tr>
													<td>3.자외선∙가시광 에어로졸 지수</td>
													<td>3.UVAI/VISAI</td>
												</tr>
												<tr>
													<td>2.에어로졸 유효 고도</td>
													<td>4.에어로졸 유효 고도</td>
													<td>4.AEH</td>
												</tr>
												<tr>
													<td rowspan="3">3.구름정보</td>
													<td>5.유효운량</td>
													<td>5.ECF</td>
												</tr>
												<tr>
													<td>6.구름중심기압</td>
													<td>6.ECP</td>
												</tr>
												<tr>
													<td>7.구름복사비율</td>
													<td>7.CRF</td>
												</tr>
												<tr>
													<td>4.지표면 반사도</td>
													<td>8.지표면 반사도</td>
													<td>8.SFC</td>
												</tr>
												<tr>
													<td>5.오존전량</td>
													<td>9.오존전량</td>
													<td>9.O3T</td>
												</tr>
												<tr>
													<td rowspan="2">6.오존프로파일</td>
													<td>10.대류권 오존농도</td>
													<td>10.O3P_Trop</td>
												</tr>
												<tr>
													<td>11.성층권 오존농도</td>
													<td>11.O3P_Strat</td>
												</tr>
												<tr>
													<td>7.포름알데히드</td>
													<td>12.포름알데히드</td>
													<td>12.HCHO</td>
												</tr>
												<tr>
													<td>8.글리옥살</td>
													<td>13.글리옥살</td>
													<td>13.CHOCHO</td>
												</tr>
												<tr>
													<td rowspan="2">9.이산화질소</td>
													<td>14.대류권 이산화질소 농도</td>
													<td>14.대류권 이산화질소 농도</td>
												</tr>
												<tr>
													<td>15.성층권 이산화질소 농도</td>
													<td>15.NO2_Strat</td>
												</tr>
												<tr>
													<td>10.이산화황</td>
													<td>16.이산화황</td>
													<td>16.SO2</td>
												</tr>
												<tr>
													<td rowspan="4">11.자외선지수</td>
													<td>17.자외선지수</td>
													<td>17.UVI</td>
												</tr>
												<tr>
													<td>18.식물 반응 지수</td>
													<td>18.Plant</td>
												</tr>
												<tr>
													<td>19.DNA 영향 지수</td>
													<td>19.DNA</td>
												</tr>
												<tr>
													<td>20.비타민 D 합성 지수</td>
													<td>20.PreD</td>
												</tr>
											</tbody>
										</table>
									</div>
									<!-- //data-table -->
									<br/><br/><br/>

									<!-- data-table -->
									<div class="data-table module-c style-a type-a medium">
										<table>
											<colgroup>
												<col />
												<col />
											</colgroup>
											<thead>
												<tr>
													<th scope="col">시간</th>
													<th scope="col">과학원(본관 옆 정류소) &gt; 검암역</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td style="text-align: center">오전</td>
													<td>
														<!-- data-list -->
														<ul class="data-list">
															<li class="data-item">첫차&nbsp;<span class="em accent-01">9:10</span></li>
															<li class="data-item">막차&nbsp;<span class="em accent-01">12:10</span></li>
														</ul>
														<!-- //data-list -->
													</td>
												</tr>
												<tr>
													<td style="text-align: center">오후</td>
													<td>
														<!-- data-list -->
														<ul class="data-list">
															<li class="data-item">첫차&nbsp;<span class="em accent-01">13:10</span></li>
															<li class="data-item">막차&nbsp;<span class="em accent-01">17:40</span></li>
														</ul>
														<!-- //data-list -->
													</td>
												</tr>
												<tr>
													<td style="text-align: center">야간</td>
													<td>
														<!-- data-list -->
														<ul class="data-list">
															<li class="data-item">첫차&nbsp;<span class="em accent-01">19:10</span></li>
															<li class="data-item">막차&nbsp;<span class="em accent-01">22:40</span></li>
														</ul>
														<!-- //data-list -->
													</td>
												</tr>
											
											</tbody>
										</table>
									</div>
									<!-- //data-table -->	
									<br/><br/><br/>

									<!-- data-table -->
									<div class="data-table module-c style-a type-a medium">
										<table>
											<colgroup>
												<col />
												<col />
											</colgroup>
											<thead>
												<tr>
													<th scope="col">시간</th>
													<th scope="col">검암역 &gt; 과학원</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td style="text-align: center">오전</td>
													<td>
														<!-- data-list -->
														<ul class="data-list">
															<li class="data-item">첫차&nbsp;<span class="em accent-01">7:30, 7:40, 8:00, 8:10, 8:15~45, 9:10</span></li>
															<li class="data-item">막차&nbsp;<span class="em accent-01">12:10</span></li>
														</ul>
														<!-- //data-list -->
													</td>
												</tr>
												<tr>
													<td style="text-align: center">오후</td>
													<td>
														<!-- data-list -->
														<ul class="data-list">
															<li class="data-item">첫차&nbsp;<span class="em accent-01">13:10</span></li>
															<li class="data-item">막차&nbsp;<span class="em accent-01">17:40</span></li>
														</ul>
														<!-- //data-list -->
													</td>
												</tr>
												<tr>
													<td style="text-align: center">야간</td>
													<td>
														<!-- data-list -->
														<ul class="data-list">
															<li class="data-item">첫차&nbsp;<span class="em accent-01">19:20</span></li>
															<li class="data-item">막차&nbsp;<span class="em accent-01">22:20</span></li>
														</ul>
														<!-- //data-list -->
													</td>
												</tr>
											
											</tbody>
										</table>
									</div>
									<!-- //data-table -->	
									<br/><br/><br/>

								</div>
							</div>
							<!-- //subsection -->

							<!-- subsection -->
							<div class="subsection">
								<div class="subsection-head"><%- include('../_mixin/_title.subsection.ejs', {name: 'table type-c'}) %></div>
								<div class="subsection-body">
									<!-- data-table -->
									<div class="data-table module-c style-a type-c medium">
										<table>
											<colgroup>
												<col />
												<col />
											</colgroup>
											<thead>
												<tr>
													<th scope="col">속성 명</th>
													<th scope="col">상세 정보</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>GK2</td>
													<td>O3, SO2, NO2, HCHO, 에어로졸</td>
												</tr>
												<tr>
													<td>GEMS</td>
													<td>10년</td>
												</tr>
												<tr>
													<td>L2</td>
													<td>5,000km x 5,000km (5°S - 45°N, 75°E - 145°E/동아시아 지역)</td>
												</tr>
											</tbody>
										</table>
									</div>
									<!-- //data-table -->	
									
								</div>
							</div>
							<!-- //subsection -->

						</div>
					</div>
					<!-- //section -->
				</div>
				<!-- content-body -->        
			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->
<%-include('../_templates/_footer.front.ejs') %>
	</div>
	<!-- //page -->
</div>
<script type="text/javascript">
	window.addEventListener('DOMContentLoaded', function() {
		var buttons = document.querySelectorAll('.bui-button-area .btn');
		Array.prototype.forEach.call(buttons, function(button) {
			button.addEventListener('click', function(e) {
				e.preventDefault();
			});
		});

		var forTest = ['a', 'b', 'c', 'd'];

		for(var i = 0; i < forTest.length; i++) {
			console.log(forTest[i]);
		}

		// for (const [key, value] of Object.entries(object1)) {
		// 	console.log(value);
		// }





		var temp = document.querySelector('body');

		// temp.style.backgroundColor = "blue";

		var object1 = {
			test1: 'test1',
			test2: 'test2'
		}

		
		for (const [key, value] of Object.entries(object1)) {
			if (key === 'test2') {
				console.log(value);
			}
		}
	});
</script>
</body>
</html>