<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include('../include/eng/HTNCWE00HEADMETACOMMON.ejs') %>
        <%-include('../meta-id/eng/HTNCWED00D00W00.ejs') %>
        <%-include('../include/eng/HTNCWE00HEADSTYLE.ejs') %>
        <%-include('../include/eng/HTNCWE00HEADFAVICON.ejs') %>
        <%-include('../include/eng/HTNCWE00HEADSCRIPTLIBRARY.ejs') %>
        <%-include('../include/eng/HTNCWE00HEADSCRIPTLOADER.ejs') %>
        <%-include('../include/eng/HTNCWE00HEADSCRIPTGSAP.ejs') %>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
            });
        </script>
    </head>
    <body>
        <%-include('../include/eng/HTNCWE01HEADER.ejs') %>
        <main id="container" class="container tnc main HTNCWED00D00W00">
            <div class="container-inner">
                <div class="contents-wrap">
                    <section class="contents-section contents-section1">
                        <h2 class="blind">컨텐츠 그룹 내용</h2>
                        <article class="contents-article contents-article1">
                            <h3 class="blind">컨텐츠 내용</h3>
                            <div class="contents-inner">
                            </div>
                        </article>
                    </section>
                    <section class="contents-section contents-section2">
                        <h2 class="blind">컨텐츠 그룹 내용</h2>
                        <article class="contents-article contents-article1">
                            <h3 class="blind">컨텐츠 내용</h3>
                            <div class="contents-inner">
                            </div>
                        </article>
                        <article class="contents-article contents-article2">
                            <h3 class="blind">컨텐츠 내용</h3>
                            <div class="contents-inner">
                            </div>
                        </article>
                        <article class="contents-article contents-article3">
                            <h3 class="blind">컨텐츠 내용</h3>
                            <div class="contents-inner">
                            </div>
                        </article>
                    </section>
                </div>
            </div>
        </main>
        <%-include('../include/eng/HTNCWE03FOOTER.ejs') %>
    </body>
</html>